<div class="col-md-12 div-section">
    <div class="col-md-12 profile">
        <h4>Billing address</h4>
        <p>Update your account password. Always set a strong password, including uppercase, lowercase, number.</p>
        <div class="col-md-12 input-box">
            <div class="row">
                <div class="col-md-6 form-group">
                    <label>Full name :</label>
                    <input type="text" placeholder="Enter your Full name">
                </div>
            </div>
            <div class="row select-input">
                <div class="col-md-3 form-group">
                    <label>Country :</label>
                    <select>
                        <option>select</option>
                        <option>Female</option>
                        <option>Male</option>
                        <option>Unknown</option>
                    </select>
                </div>
                <div class="col-md-3 form-group">
                    <label>Zipcode :</label>
                    <select>
                        <option>select</option>
                        <option>Female</option>
                        <option>Male</option>
                        <option>Unknown</option>
                    </select>
                </div>
            </div>
            <div class="row select-input">
                <div class="col-md-3 form-group">
                    <label>City :</label>
                    <select>
                        <option>select</option>
                        <option>Female</option>
                        <option>Male</option>
                        <option>Unknown</option>
                    </select>
                </div>
                <div class="col-md-3 form-group">
                    <label>Phone :</label>
                    <input type="text" class="phone" placeholder="Enter your phone number">
                </div>
            </div>
            <div class="row select-input">
                <div class="col-md-6 form-group">
                    <label>Address :</label>
                    <input type="text" placeholder="Enter your address">
                </div>
            </div>
            <div class="row select-input">
                <div class="col-md-3 form-group">
                    <h4 class="yellow-text">VAT NUMBER</h4>
                    <mat-radio-button class="mat-label" value="1">I don't have a VAT number</mat-radio-button>
                    <br>
                    <mat-radio-button class="mat-label" value="2" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
                                      aria-controls="collapseBasic">Enter VAT number
                    </mat-radio-button>
                    <div id="collapseBasic" [collapse]="isCollapsed">
                        <input type="text" class="vat-num" placeholder="VAT number">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 btn-save text-right">
            <button class="light-green-btn">Save</button>
        </div>
    </div>
</div>

