<div class="div-section">
  <div class="profile">
    <h5>Billing address</h5>
    <p>Update your account password. Always set a strong password, including uppercase, lowercase, number.</p>
    <form class="col-md-12 input-box" [formGroup]="billingAddressForm" (ngSubmit)="submit()" #formDir="ngForm">
      <div class="row">
        <div class="col-12 col-md-9">
          <div class="row">
            <div class="col-12 col-md-12 form-group">
              <label>Full name :</label>
              <input type="text"
                     placeholder="Enter your Full name"
                     formControlName="fullName">
              <div class="text-left"
                   *ngIf="(((billingAddressForm.controls['fullName'].dirty || billingAddressForm.controls['fullName'].touched) || formDir.submitted))">
                <p class="errorMessage" *ngIf="billingAddressForm.hasError('required', 'fullName')">
                  this filed is required!
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6 form-group v-input-box">
              <label>Phone :</label>
              <input type="text"
                     class="phone"
                     placeholder="Enter your phone number"
                     formControlName="phone">
              <div class="text-left"
                   *ngIf="(((billingAddressForm.controls['phone'].dirty || billingAddressForm.controls['phone'].touched) || formDir.submitted)) || (((billingAddressForm.controls['defaultPrefixNumberId'].dirty || billingAddressForm.controls['defaultPrefixNumberId'].touched) || formDir.submitted))">
                <p class="errorMessage" *ngIf="billingAddressForm.hasError('required', 'phone') || billingAddressForm.hasError('required', 'defaultPrefixNumberId')">
                  this filed is required!
                </p>
              </div>
              <select class="v-input-select" formControlName="defaultPrefixNumberId">
                <option hidden value="">select</option>
                <option *ngFor="let country of countries" [value]="country.id">
                  {{country.prefixNumber}}
                </option>
              </select>
              <!--<div class="text-left"-->
                   <!--*ngIf="(((billingAddressForm.controls['defaultPrefixNumberId'].dirty || billingAddressForm.controls['defaultPrefixNumberId'].touched) || formDir.submitted))">-->
                <!--<p class="errorMessage" *ngIf="billingAddressForm.hasError('required', 'defaultPrefixNumberId')">-->
                  <!--this filed is required!-->
                <!--</p>-->
              <!--</div>-->
            </div>
            <div class="col-12 col-md-6 form-group">
              <label>Country :</label>
              <select name="country"
                      formControlName="countryId"
                      #country
                      (change)="countrySelect(null)">
                <option hidden value="">select</option>
                <option *ngFor="let country of countries" [value]="country.id">{{country.name}}</option>
              </select>
              <div class="text-left"
                   *ngIf="(((billingAddressForm.controls['countryId'].dirty || billingAddressForm.controls['countryId'].touched) || formDir.submitted))">
                <p class="errorMessage" *ngIf="billingAddressForm.hasError('required', 'countryId')">
                  this filed is required!
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6 form-group">
              <label>City :</label>
              <select formControlName="cityId">
                <option hidden value="" *ngIf="!country.value">please select Country!</option>
                <option hidden value="" *ngIf="cities.length===0">
                  loading...
                </option>
                <option hidden value="" *ngIf="country.value && cities.length!==0">select</option>
                <option *ngFor="let city of cities" [value]="city.id">{{city.name}}</option>
              </select>
              <div class="text-left"
                   *ngIf="(((billingAddressForm.controls['cityId'].dirty || billingAddressForm.controls['cityId'].touched) || formDir.submitted))">
                <p class="errorMessage" *ngIf="billingAddressForm.hasError('required', 'cityId')">
                  this filed is required!
                </p>
              </div>
            </div>
            <div class="col-12 col-md-6 form-group">
              <label>Zipcode :</label>
              <input type="text"
                     placeholder="Enter zipCode"
                     formControlName="zipCode">
              <div class="text-left"
                   *ngIf="(((billingAddressForm.controls['zipCode'].dirty || billingAddressForm.controls['zipCode'].touched) || formDir.submitted))">
                <p class="errorMessage" *ngIf="billingAddressForm.hasError('required', 'zipCode')">
                  this filed is required!
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-12 form-group">
              <label>Address :</label>
              <textarea type="text"
                        placeholder="Enter your address"
                        formControlName="address"></textarea>
              <div class="text-left"
                   *ngIf="(((billingAddressForm.controls['address'].dirty || billingAddressForm.controls['address'].touched) || formDir.submitted))">
                <p class="errorMessage" *ngIf="billingAddressForm.hasError('required', 'address')">
                  this filed is required!
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-12 form-group">
              <h4 class="yellow-text">VAT NUMBER</h4>
              <mat-radio-group (change)="changeVatNumber($event)" #radioGroup="matRadioGroup">
                <mat-radio-button class="mat-label" value="1" [checked]="vatNumber">
                  I don't have a VAT number
                </mat-radio-button>
                <br>
                <mat-radio-button class="mat-label" value="2" [checked]="!vatNumber">
                  Enter VAT number
                </mat-radio-button>
              </mat-radio-group>
              <div *ngIf="!vatNumber">
                <input type="text"
                       class="vat-num"
                       placeholder="VAT number"
                       formControlName="vatNumber">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 btn-save text-right">
        <button type="submit" class="light-green-btn">Save</button>
      </div>
    </form>
  </div>
</div>

