
<div class="col-md-12 section-div single-add-contact">
  <div class="col-md-6 no-pad">
    <input type="text" disabled placeholder="Phone Number :">
    <br/>
    <input type="text" placeholder="Surname :">
  </div>
  <div class="col-md-6 no-pad">
    <input type="text" placeholder="Name :">
    <br/>
    <input type="text" placeholder="Gender :">
  </div>
  <div class="col-md-12 no-pad">
    <select>
      <option value="volvo">Select Field</option>
      <option value="saab">field 2</option>
      <option value="vw">field 3</option>
    </select>
    <input type="text" class="date-value" placeholder="value">
    <span class="operation-fa"><i class="fa fa-trash"></i></span>
    <span class="operation-fa"><i class="fa fa-plus"></i></span>
  </div>
</div>


