
<div class="col-md-12 section-div single-add-contact">
  <div class="col-md-6 no-pad">
    <input [(ngModel)]="mobile" type="text" placeholder="Phone Number :">
    <br/>
    <input [(ngModel)]="lastName" type="text" placeholder="Surname :">
  </div>
  <div class="col-md-6 no-pad">
    <input [(ngModel)]="firstName" type="text" placeholder="Name :">
    <br/>
    <select [(ngModel)]="gender" placeholder="gender">
      <option value="1">Female</option>
      <option value="2">Male</option>
      <option value="3">Unknown</option>
    </select>
  </div>
  <div class="col-md-12 no-pad">
    <select>
      <option *ngFor="let ue of userEvents" [value]="ue.Id">{{ue.Name}}</option>
    </select>
    <input type="text" class="date-value" placeholder="value">
    <span class="operation-fa"><i class="fa fa-trash"></i></span>
    <span class="operation-fa"><i class="fa fa-plus"></i></span>
  </div>
  <div class="col-md-6 no-pad">
    <button (click)="addContact()" class="btn btn-info">Save</button>
  </div>
</div>


