.section-div {
  background-color: #ffffff;
  font-size: 12px;
  margin-bottom: 15px;
  border-radius: .4rem;
}

.mat-form-field-infix {
  padding: 0 !important;
  min-height: unset !important;
}
.select .mat-form-field-infix {
  padding: 0 !important;
}
.date-picker {
  position: relative;
}
mat-datepicker-toggle.mat-datepicker-toggle {
  //position: absolute;
  top: -23px;
  right: -4px;
}

