<div class="section-div single-add-contact">
    <div class="add-contact">
        <div class="title">
            <h5 class="mb-4">Add Contact</h5>
        </div>
        <div class="row">
            <div class="col-md-4 form-group">
                <label>First Name</label>
                <input [(ngModel)]="firstName" type="text" placeholder="Name :">
            </div>
            <div class="col-md-4 form-group">
                <label>Surename</label>
                <input [(ngModel)]="lastName" type="text" placeholder="Surname :">
            </div>
            <div class="col-md-4 form-group">
                <label>Phone Number</label>
                <input [(ngModel)]="mobile" type="text" placeholder="Phone Number :">
            </div>
            <div class="col-md-4 form-group">
                <label>Email</label>
                <input [(ngModel)]="email" type="text" placeholder="Enter recipient Email :">
            </div>
            <div class="col-md-4 form-group">
                <label>Gender</label>
                <select [(ngModel)]="gender" placeholder="gender">
                    <option value="1">Female</option>
                    <option value="2">Male</option>
                    <option value="3">Unknown</option>
                </select>
            </div>
        </div>
    </div>
    <div class="field border-top">
        <div class="title form-group">
            <h5 class="yellow-text">Recipient field</h5>
            <p>you can go <span class="red-text">"Option>event field"</span>  and create field for <span class="font-weight-bold">event</span> send sms.</p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label>Select field</label>
            </div>
            <div class="col-md-4">
                <select>
                    <option *ngFor="let ue of userEvents" [value]="ue.id">{{ue.name}}</option>
                </select>
            </div>
            <div class="col-md-2">
                <input type="text" class="date-value" placeholder="value">
            </div>
            <div class="col-md-2 btn-operation">
                <span class="operation-fa light-green-btn mr-2"><i class="fa fa-plus green-text"></i> Add</span>
                <span class="operation-fa light-red-btn"><i class="fa fa-trash red-text"></i> Delete</span>
            </div>
        </div>
        <div class="col-md-12 text-right">
            <button (click)="addContact()" class="blue-btn">Add</button>
        </div>
    </div>
</div>