.section-div {
  background-color: #ffffff;
  font-size: 12px;
  margin-bottom: 15px;
  border-radius: 0 0 10px 10px;
}

.add-contact {
  padding: 15px;
}

.field {
  padding: 15px;
}

input {
  width: 100%;
}

label {
  display: block;
  color: #6c7293;
  font-weight: 600;
  font-size: 12px;
}

select {
  width: 100%;
}

::placeholder {
  color: #b5b5b5;
  font-size: 12px;
}

.btn-operation {
  line-height: 3;
}

button.blue-btn {
  font-size: 16px;
}

