<div class="div-section">
    <div class="change-password form-group">
        <h5>Your numbers</h5>
        <p>Manage your virtual phone numbers and configure their settings.</p>
    </div>
    <!--operation-->
    <div class="row">
        <div class="col-md-6 operation-section form-group">
            <button class="light-blue-btn">
                <i class="fa fa-filter"></i> Filter
            </button>
        </div>
        <div class="col-md-6 operation-section form-group">
            <!--<app-search [params]="[{title: 'device'}, {title: 'location'}]"></app-search>-->
        </div>
    </div>
    <!--table-->
    <div class="table-div table-responsive">
        <table class="index-table text-left">
            <thead>
            <tr>
                <th class="text-left"><i class="fa fa-sort"></i>Order</th>
                <th class="text-left"><i class="fa fa-sort"></i>Country</th>
                <th class="text-left"><i class="fa fa-sort"></i>Number</th>
                <th class="text-left"><i class="fa fa-sort"></i>Next billing date</th>
                <th class="text-left"><i class="fa fa-sort"></i>Cost</th>
                <th class="text-left"><i class="fa fa-sort"></i>Manage</th>
            </tr>
            </thead>

            <tbody>
            <tr *ngFor="let userLine of userLines | paginate :
            {itemsPerPage:10, currentPage:getUserLineModel.pageNumber,totalItems:totalItemsCount},index as i">
                <td class="text-left">{{i+1}}</td>
                <td class="text-left">{{userLine.countryName}}</td>
                <td class="text-left">{{userLine.number}}</td>
                <td class="text-left">{{userLine.creationDateTime | dateTime: 'YYYY-DD-MM'}}</td>
                <td class="text-left">{{userLine.cost}}€</td>
                <td class="text-left">
                    <button (click)="modifyUserLine(userLine,i)" class="yellow-btn">Upgrade balance</button>
                </td>
            </tr>

            </tbody>
        </table>

      <pagination-controls (pageChange)="doPaging($event)"
                           maxSize="5"
                           responsive="true"
                           previousLabel=""
                           nextLabel=""></pagination-controls>
    </div>
</div>
