<div class="col-md-12 div-section" *ngIf="countries">
  <div class="change-password">
    <h5>Phone number</h5>
    <p class="black-text fo-4">you can change your phone number, but you should verify it.</p>
    <div class="input-box">
      <form class="row" (ngSubmit)="submit()" [formGroup]="changeNumberForm">
        <div class="col-12 col-md-6 pt-3 pb-3">
          <label>Your phone number: </label>
          <div class="input-group">
            <div class="btn-group">
              <button class="form-control dropdown-toggle btn-default btn-select" type="button"
                      data-toggle="dropdown" role="button" aria-expanded="true">
                <img class="mr-2" width="20" [src]="'data:image/jpg;base64,'+countryFlag"/>
              </button>
              <div class="custom-dropdown">
                <ul class="dropdown-menu" role="listbox" aria-expanded="true">
                  <li class="dropdown-item" *ngFor="let country of countries"
                      (click)="selectCountry(2, country)">
                    <img class="ml-2 mr-2" width="20"
                         [src]="'data:image/jpg;base64,'+country.flag"/>
                    <span>{{country.name}}</span>
                    (<span>{{country.prefixNumber}}</span>)
                  </li>
                </ul>
              </div>
            </div>
            <input style="width: 200px;" type="text"
                   #mobileInput
                   placeholder="Your phone number"
                   class="form-control"
                   formControlName="mobile"
                   (input)="changeMobile(mobileInput.value)"
                   appNumericInput
                   [ngClass]="{'border-error' : (changeNumberForm.controls['mobile'].hasError('pattern')) && (changeNumberForm.controls['mobile'].touched || changeNumberForm.controls['mobile'].dirty )}"
                   autofocus autocomplete="off">
            <div  class="input-group-prepend">
              <button [disabled]="changeNumberForm.value.mobile.substring(1) == currentUserInfo.mobile" [ngClass]="is" type="submit" class="light-blue-btn ml-2">Verification Code</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
