<div class="col-md-12 div-section">
  <div class="change-password">
    <h5>Phone number</h5>
    <p>you can change your phone number, but you should verify it.</p>
    <div class="input-box">
      <div class="row">
        <div class="col-md-4">
          <label>Your phone number: </label>
          <input type="password" placeholder="Enter your new number">
          <select class="v-input-select">
            <option><img src="#"> +98</option>
            <option>English</option>
            <option>Persian</option>
          </select>
        </div>
        <button class="light-blue-btn mt-4">Verification Code</button>
      </div>
    </div>
  </div>
</div>
