<form class="form-content pr-4 pl-4 pb-3" [formGroup]="signInForm" #formDir="ngForm">
  <div>
    <div class="text-center">
      <h5>Welcome back</h5>
      <span class="gray-text fo-2">login to your account here</span>
    </div>
    <div>
      <div class="input-box pt-2">
        <input type="text"
               [ngClass]="{'border-error' : (signInForm.controls['username'].dirty || signInForm.controls['username'].touched || formDir.submitted) && signInForm.hasError('required', 'username')}"
               class="form-control"
               formControlName="username"
               autocomplete="off"
               placeholder="username">
        <div class="error-place">
          <div class="text-left"
               *ngIf="((signInForm.controls['username'].dirty || signInForm.controls['username'].touched || formDir.submitted))">
            <p class="errorMessage" *ngIf="signInForm.hasError('required', 'username')"
               [@errorAnimation]>
              <i class="far fa-exclamation-circle"></i> this filed is required!
            </p>
          </div>
        </div>
      </div>
      <div class="input-box pt-1">
        <input type="password"
               [ngClass]="{'border-error' : (signInForm.controls['password'].dirty || signInForm.controls['password'].touched || formDir.submitted) && signInForm.hasError('required', 'password')}"
               class="form-control"
               formControlName="password"
               autocomplete="off"
               placeholder="password">
        <div class="error-place">
          <div class="text-left"
               *ngIf="((signInForm.controls['password'].dirty || signInForm.controls['password'].touched || formDir.submitted))">
            <p class="errorMessage" *ngIf="signInForm.hasError('required', 'password')"
               [@errorAnimation]>
              <i class="far fa-exclamation-circle"></i>Required!
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="btn-login-div">
      <span [routerLink]="['../forgot-password']" class="forgot-pass gray-text fo-2 pb-2"> Forgot password ?</span>
      <button type="submit" (click)="login()" class="ws-btn login-btn mt-1">Login</button>
    </div>
  </div>
  <div class="text-center">
    <hr>
    <p class="gray-text fo-2">Don't have an account?
      <span class="sign-fill" [routerLink]="['../sign-up']">Sign up</span>
    </p>
  </div>
</form>
