<div class="div-section">
    <div class="change-password">
        <h5>Verify phone number</h5>
        <p>Please enter the code that we have sent to your phone.</p>
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 verify-code">
            <label>Verification code: </label>
            <input type="password" placeholder="Enter your new number">
            <p class="text-right"><img src="../../../../../../../assets/images/redo.png"> Resend again</p>
        </div>
        <div class="col-md-12 text-right">
            <button class="light-green-btn">Verify</button>
        </div>
    </div>
</div>
