<div class="div-section">
  <div class="change-password">
    <h5>Login Log</h5>
    <p class="fo-4 black-text pb-1">These are the clients currently logged in.</p>
  </div>
  <div class="operation">
    <div class="row">
      <div class="col-12 col-md-6 operation-section form-group">
        <!--<app-filter [filterData]="filterData" (filterValue)="getFilterData($event)"></app-filter>-->
      </div>
      <div class="col-md-3 offset-md-3 operation-section form-group text-right">
        <app-search (searchText)="getData($event)"></app-search>
      </div>
    </div>
  </div>

  <app-table
    [tableConfig]="tableConfig"
    [collection]=loginLogs
    (pagingModelChanged)="getAllLogs()">
  </app-table>

</div>

