<div class="tab-section">
    <h5>Login Log</h5>
    <p class="fo-4 black-text pb-1">These are the clients currently logged in.</p>
    <div class="col-12 operation">
        <div class="row">
            <div class="col-12 col-md-6 operation-section">
                <app-filter [filterDataModel]="filterDataModel" (filterValue)="getFilterData($event)"></app-filter>
            </div>
            <div class="col-md-3 offset-md-3 operation-section text-right">
                <app-search (searchText)="getData($event)"></app-search>
            </div>
        </div>
    </div>
    <app-table
            [tableConfig]="tableConfig"
            [collection]=loginLogs
            (pagingModelChanged)="getAllLogs()">
    </app-table>
</div>

