<div class="div-section">
  <div class="change-password">
    <h5>Login Log</h5>
    <p class="fo-4 black-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua.</p>
  </div>
  <div class="operation">
    <div class="row">
      <div class="col-md-6 operation-section form-group">
        <button class="light-blue-btn filter-btn">
          <i class="fa fa-filter"></i> Filter
        </button>
      </div>
      <div class="col-md-6 operation-section form-group">
        <!--<app-search [params]="[{title: 'device'}, {title: 'location'}]"></app-search>--> search
      </div>
    </div>

  </div>
  <!--table-->
  <div class="table-div table-responsive">
    <table class="index-table text-left">
      <thead>
      <tr>
        <th class="text-left"><i class="fa fa-sort"></i> Order</th>
        <th class="text-left"><i class="fa fa-sort"></i> Device</th>
        <th class="text-left"><i class="fa fa-sort"></i> Location</th>
        <th class="text-left"><i class="fa fa-sort"></i> Date time</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let loginLog of loginLogs.data.items| paginate : {
                                itemsPerPage : 10, currentPage : pageNumber, totalItems : totalItemsCount
                                },index as i">
        <td class="text-left">
          #{{i+1}}
        </td>
        <td class="text-left">
          {{loginLog.device}}
        </td>
        <td class="text-left">
          {{loginLog.location}}
        </td>
        <td class="text-left">
          {{loginLog.creationDateTime | dateTime: 'YYYY-DD-MM HH:mm:ss'}}
        </td>
      </tr>
      </tbody>
    </table>
    <!--pagination-->
    <div class="col-12 pagination-div">
      <div class="row pt-1 pb-1">
        <div class="col-12 col-md-6 text-left fo-3 black-text font-weight-bold">Displaying 1-10 of {{totalItems}} records</div>
        <div class="col-12 col-md-6 text-right">
          <pagination-controls (pageChange)="doPaging($event)"
                               maxSize="5"
                               responsive="true"
                               previousLabel=""
                               nextLabel="">
          </pagination-controls>
        </div>
      </div>
    </div>

  </div>

</div>

