.div-section {
  border-radius: 0 0 1rem 1rem;
}

.change-password {
  h4 {
    font-weight: 600;
    line-height: 1;
    margin-bottom: 0;
  }
  p {
    font-size: 12px;
    padding-top: 5px;
  }
}

.operation {
  padding: 10px 0 0;
}