.other-list{
    border: 1px solid #4a6476;
    padding: 10px;
    min-height: 400px;
    max-height: 400px;
}
.col-md-3.other-list{
    border-right: none;
}
.other-list h5{
    color: #919191;
    font-weight: 600;
    cursor: pointer;
}
.other-list h5 span.fa{
    float: right;
    margin-top: -5px;
}
.recipient-div {
    background: #fff0d9;
    padding: 5px;
}
#collapseBasic{
    margin-top: 10px;
}
.collapse-list p{
    line-height: 3;
}

/*-----------------------------scroll bar-----------------------------*/
#style-1::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.45);
    background-color: #F5F5F5;
}
#style-1::-webkit-scrollbar{
    width: 6px;
    background-color: #F5F5F5;
}
#style-1::-webkit-scrollbar-thumb{
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.45);
    background-color: #555;
}
#style-2::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.45);
    background-color: #F5F5F5;
}
#style-2::-webkit-scrollbar{
    width: 6px;
    background-color: #F5F5F5;
}
#style-2::-webkit-scrollbar-thumb{
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.45);
    background-color: #555;
}
/*---- responsive ----*/
@media (max-width: 991px) and (min-width: 768px) {
    .search-wrapper input {
        width: 65%;
    }
    .col-md-3.other-list{
         border-right: 1px solid #4a6476;
        border-bottom: none;
     }
    .operation-section {
        padding: 5px 0;
    }
}
@media (max-width: 767px) and (min-width: 320px) {
    .search-wrapper input {
        width: 65%;
    }
    .operation-section {
        padding: 5px 0;
    }
    .col-md-3.other-list{
        border-right: 1px solid #4a6476;
        border-bottom: none;
    }
}