.message-report {
  background-color: #5867dd1a;
  border-radius: 0 .4rem .4rem;
  padding: 15px;
  font-size: 14px !important;
  span {
    color: #969ca2;
    font-size: 12px;
  }
  //p {
  //  padding: 10px 0;
  //}
}

.message-report span:nth-child(2) {
  float: right;
}

.send-again {
  text-align: right;
  padding: 0 !important;
  display: unset;
  a {
    text-decoration: none;
    cursor: pointer;
    float: right;
  }
}

i.fa.fa-sort {
  margin-right: 5px;
}