.footer {
  margin-left: 235px;
  border-top: 1px solid #a7abc3;
  color: #a7abc3;
  padding: 10px;
}

.slim-footer {
  margin-left: 70px;
}

.hidden-footer {
  margin-left: 0;
}

.footer-toggle {
  margin-left: 0;
}