@import "../../../../assets/style/components/variables";
.footer {
  margin-left: $sidebar-padding;
  border-top: 1px solid $light-gray;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

.slim-footer {
  margin-left: $sidebar-padding-slim;
}

.hidden-footer {
  margin-left: 0;
}
