<div class="main-container">
  <div class="col-md-12 btn-section text-left">
    <button class="gray-btn" [routerLink]="['/invoice-list']">
      <i class="fa fa-arrow-left"></i> Previous
    </button>
  </div>
<div class="col-md-12 plan-table no-pad">
  <div class="col-md-3 text-center">
    <div class="plans">
      <p>Name Of Plan</p>
      <h1><span>$</span>60</h1>
      <div class="plan-details">
        <p><span>600 SMS</span> (1 SMS = 160 characters)</p>
      </div>
      <button class="buy-btn">Purchase</button>
    </div>
  </div>
  <div class="col-md-3 text-center">
    <div class="plans">
      <p>Name Of Plan</p>
      <h1><span>$</span>60</h1>
      <div class="plan-details">
        <p><span>600 SMS</span> (1 SMS = 160 characters)</p>
      </div>
      <button class="buy-btn">Purchase</button>
    </div>
  </div>
  <div class="col-md-3 text-center">
    <div class="plans">
      <p>Name Of Plan</p>
      <h1><span>$</span>60</h1>
      <div class="plan-details">
        <p><span>600 SMS</span> (1 SMS = 160 characters)</p>
      </div>
      <button class="buy-btn">Purchase</button>
    </div>
  </div>
  <div class="col-md-3 text-center">
    <div class="plans">
      <p>Name Of Plan</p>
      <h1><span>$</span>60</h1>
      <div class="plan-details">
        <p><span>600 SMS</span> (1 SMS = 160 characters)</p>
      </div>
      <button class="buy-btn">Purchase</button>
    </div>
  </div>
</div>
</div>