.btn-section{
    padding: 15px 0;
}
.plans{
    background-color: #f0f0f0;
    border: 1px solid #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 8px 2px #d6d6d6;
    padding: 20px 0;
}
h1{
    font-size: 50px;
}
h1 span{
    font-size: 16px;
}
.plan-details{
    background: #4dbbba;
    padding: 15px 10px;
    font-size: 12px;
    color: #ffffff;
    margin-bottom: 15px;
}
.plan-details p{
    font-size: 16px;
}
.plan-details span{
    font-size: 16px;
}
.buy-btn{
    background: none;
    border: 1px solid #08a5a3;
    border-radius: 5px;
    color: #08a5a3;
    font-size: 15px;
    padding: 5px 20px;
    font-weight: 500;
}