<div class="main-container">
    <div *ngIf="ticket && isClosed" class="warning-box">
        <p>support request closed. u can open that with sending reply.</p>
    </div>
    <div class="col-md-12 div-section">
        <div class="ticket-box">
            <img src="../../../assets/images/user.jpg" alt="" class="profile-picture img-thumbnail img-circle">
            <div class="name">
                <span *ngIf="ticket">{{ticket.authorName}}</span>
                <p *ngIf="ticket">{{ticket.date}}</p>
            </div>
            <h4 *ngIf="ticket">{{ticket.title}}</h4>
            <div class="ticket-body">
                <p *ngIf="ticket" [innerHTML]="ticket.message"></p>
            </div>
            <hr>
            <br>
            <button [innerText]="isClosed ? 'Closed' : 'Close'" (click)="closeTicket()"
                    [disabled]="isClosed" [ngClass]="[isClosed ? 'gray-btn close-btn' : 'btn btn-default']"></button>
        </div>
    </div>
    <div class="col-md-12 div-section">
        <angular-editor [(ngModel)]="replyText"></angular-editor>
        <div class="form-group">
            <button (click)="sendReply()" class="ticket-submit">Submit</button>
        </div>
    </div>
</div>
