.div-section{
    background-color: #ffffff;
    border: 1px solid #c2c2c2;
    border-radius: 4px;
    padding: 15px;
    font-size: 14px;
    color: #000;
    margin-bottom: 15px;
    margin-top: 15px;
}
.subject-ticket{
    padding: 0 0 15px 0;
}
.subject-ticket h4{
    font-weight: 600;
    line-height: 0;
}
.profile-pic img{
    width: 100px;
}
.supporter-ticket{
    background: #dae6ff;
    padding: 20px 15px;
    border-radius: 5px 15px 15px 15px;
}
.customer-ticket{
    background: #ceeded;
    padding: 20px 15px;
    border-radius: 5px 15px 15px 15px;
}
.date-author span{
    font-size: 12px;
    font-weight: 400;
    margin-right: 40px;
}
.date-author-customer span{
    font-size: 12px;
    font-weight: 400;
    margin-left: 40px;
    margin-right: 10px
}
.supporter-ticket p, .customer-ticket p{
    font-weight: 400;
    font-size: 14px;
}
.operation-btn{
    border-top: 1px solid #e9e9e9;
    padding: 15px 0 0;
    margin-top: 10px;
}
.ticket-submit{
    display: block;
    width: 100%;
    padding: 8px 12px;
    font-size: 16px;
    background-color: #08a5a3;
    border: 1px solid #08a5a3;
    color: #ffffff;
    border-radius: 4px;
    margin-top: 10px;
    font-weight: 400;
}