<nav class="sidebar" id="style-1" (mouseleave)="mouseLeave()">
    <!--menu-->
    <div class="list-group">
        <!--Logo-->
        <div class="sidebar-section">
            <div class="logo-box text-center">
                <img src="../../../../assets/images/svg/logo-dash.svg" class="img-responsive center-block">
            </div>
        </div>
        <!--item menu-->
        <div class="nested-menu" *ngFor="let item of menuItems; let i=index">
            <a class="list-group-item"
               [ngClass]="{'active': item.title===expandPanel || item.link===activeRoute}"
               (click)="item.link ? navigateRoute(item.link) : addExpandClass(item.title)">
                <i class="fa fa-{{item.icon}}"></i>&nbsp;{{item.title}}
                <span *ngIf="item.subMenu && item.title !== expandPanel" class="fa fa-chevron-right"></span>
                <span *ngIf="item.subMenu && item.title === expandPanel" class="fa fa-chevron-down"></span>
            </a>
            <li class="nested" [class.expand]="showMenu === item.title">
                <ul class="submenu">
                    <li *ngFor="let sub of item.subMenu">
                        <a [routerLink]="[sub.link]">
                            <span><i class="fa fa-{{sub.icon}}"></i> {{sub.title}} </span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
    </div>
</nav>
