<nav class="sidebar" id="style-1">
    <!--menu-->
    <div class="list-group">
        <!--Logo-->
        <div class="sidebar-section">
            <div class="logo-box">
                <img src="../../../../assets/images/logo-dash.svg" class="img-responsive center-block">
            </div>
        </div>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('account')">
                <i class="fa fa-user"></i> Hi <span>IPE</span>
                <span class="fa fa-chevron-right"></span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'account'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['../privacy']">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span><i class="fa fa-circle"></i> Privacy</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['../profile']">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span><i class="fa fa-circle"></i> Profile</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['../reward-point']">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span><i class="fa fa-circle"></i> Reward Points</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <div class="sidebar-section">
            <a class="list-group-item" [routerLink]="['index']">
                <i class="fa fa-home"></i> Dashboard
            </a>
        </div>
        <div class="sidebar-section">
            <a class="list-group-item" [routerLink]="['../group']">
                <i class="fa fa-address-book"></i> Contacts
            </a>
        </div>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('send')" [routerLink]="['../send-message']">
                <i class="fa fa-envelope"></i>&nbsp;Send
                <span class="fa fa-chevron-right"></span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'send'">
                <ul class="submenu">
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span><i class="fa fa-circle"></i> Simple</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span><i class="fa fa-circle"></i> Schedule</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span><i class="fa fa-circle"></i> Event base</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <div class="sidebar-section">
            <a class="list-group-item" [routerLink]="['../sms-report-list']">
                <i class="fa fa-bar-chart-o"></i> Reports
            </a>
        </div>
        <div class="sidebar-section">
            <a class="list-group-item" [routerLink]="['../report-verification']">
                <i class="fa fa-check-square"></i> verification
            </a>
        </div>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('option')">
                <i class="fa fa-cog"></i> Option
                <span class="fa fa-chevron-right"></span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'option'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['../draft-list']">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span><i class="fa fa-circle"></i> Draft</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['../schedule-event']">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span><i class="fa fa-circle"></i> schedule,events</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['../user-event']">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span><i class="fa fa-circle"></i> event_field</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <div class="sidebar-section">
            <a class="list-group-item" [routerLink]="['../billing']">
                <i class="fa fa-money"></i> Billing
            </a>
        </div>
        <div class="sidebar-section">
            <a class="list-group-item" [routerLink]="['../fund-list']">
                <i class="fa fa-dollar"></i> Add Fund
            </a>
        </div>
        <div class="sidebar-section">
            <a class="list-group-item" [routerLink]="['../ticket-list']">
                <i class="fa fa-phone-square"></i> support
            </a>
        </div>
        <div class="sidebar-section">
            <a class="list-group-item" [routerLink]="['../developer-list']">
                <i class="fa fa-code"></i> developers
            </a>
        </div>
    </div>
</nav>
