<div class="content-box summary-box">
  <div class="title-section form-group">
    <h5>Summary</h5>
  </div>

  <div class="content">
    <div class="title-section form-group">
      <h6>Content</h6>
      <button class="blue-btn edit" [routerLink]="['../first-step']">Edit</button>
    </div>
    <div class="content-section">
      <p>{{sendMessageService.messageModel.messageText}}</p>
    </div>
  </div>
  <div class="originator-recipients content">
    <div class="title-section form-group"><h5>Originator & Recipients</h5>
      <button class="blue-btn edit" [routerLink]="['../second-step']">Edit</button>
    </div>
    <p>
      <span>Originator </span> &nbsp;&nbsp;&nbsp; : &nbsp;&nbsp;&nbsp;
      <span> +{{sendMessageService.messageModel.lineConfig.line}}</span>
    </p>
    <p class="d-inline-flex">
      <span>Number  of Recipient </span>&nbsp;&nbsp;&nbsp; :
      &nbsp;<span> {{dataSendMessage ? dataSendMessage.recipientsCount : 0}} </span> &nbsp; <span
      class="red-text"></span>
    </p>
  </div>
  <div class="more-details content">
    <div class="title-section form-group"><h5>More Details</h5></div>
    <p>
      <span>Costs are</span> &nbsp;&nbsp;&nbsp; :
      <span> €{{dataSendMessage ? dataSendMessage.usedCreditsForSend : 0 }}</span>
    </p>
  </div>
  <div class="col-md-12 text-right confirm-section">
    <button (click)="send()" class="light-green-btn">Send</button>
  </div>
</div>
