<div class="col-md-12 content-box summary-box">
    <h4>Summary</h4>
    <div class="content">
        <div class="title-section">
            <h5>Content</h5>
            <button class="blue-btn edit">Edit</button>
        </div>
        <div class="content-section">
            <p style="padding: 0;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. </p>
        </div>
    </div>
    <div class="originator-recipients content">
        <div class="title-section"><h5>Originator & Recipients</h5>
            <button class="blue-btn edit">Edit</button>
        </div>
        <p>
            <span>Originator </span> &nbsp;&nbsp;&nbsp; : &nbsp;&nbsp;&nbsp; <span> +65896571123</span>
        </p>
        <p style="display: inline-flex">
            <span>Number  of Recipient </span>&nbsp;&nbsp;&nbsp; : &nbsp;<span> 0 </span> &nbsp; <span class="red-text"> (Show)</span>
        </p>
    </div>
    <div class="more-details content">
        <div class="title-section"><h5>More Details</h5></div>
        <p>
            <span>Costs are</span> &nbsp;&nbsp;&nbsp; : <span>0 credits</span>
        </p>
    </div>
    <div class="col-md-12 text-right confirm-section">
        <button class="light-green-btn">send</button>
    </div>
</div>
