<div class="col-md-12 div-section" *ngIf="senderIdData">
  <div class="change-password">
    <h5>Sender ID</h5>
    <p>you can choose sender id but u should wait we check this. it can't be more than 6 character.</p>
    <div class="mt-3 mb-3">
      <form class="row" [formGroup]="senderIdForm" #formDir="ngForm" (ngSubmit)="submit()">
        <div class="col-md-4">
          <input type="text"
                 formControlName="name"
                 class="form-control"
                 #senderId
                 (change)="checkUnique(2, senderId?.value)"
                 placeholder="Enter your sender id">
          <i *ngIf="senderIdData.data.isValid" class="fal fa-check-circle"></i>
          <div class="text-left"
               *ngIf="((senderIdForm.controls['name'].dirty || senderIdForm.controls['name'].touched || formDir.submitted)|| senderIdUnique)">
            <p class="errorMessage" *ngIf="senderIdForm.hasError('required', 'name')">
              this filed is required!
            </p>
            <p class="errorMessage"
               *ngIf="(senderIdForm.controls['name'].hasError('pattern')) ">
              sender id is invalid!
            </p>
          </div>
        </div>
        <button type="submit" class="light-blue-btn">Request</button>
      </form>
    </div>
  </div>
</div>
