<div class="col-md-12 div-section">
  <div class="change-password">
    <h5>Sender ID</h5>
    <p>you can choose sender id but u should wait we check this. it can't be more than 6 character.</p>
    <div class="input-box">
      <div class="row">
        <div class="col-md-3">
          <input type="password" placeholder="Enter your new number">
        </div>
        <div class="col-md-1">
          <button class="light-blue-btn">Request</button>
        </div>
      </div>
    </div>
  </div>
</div>
