<div class="dialog">
    <div class="row">
        <div class="col-12 modal-header p-2 text-center">
            <div class="svg-img">
                <img src="../../../../../assets/images/svg/create.svg" class="img-responsive">
                <h5 class="blue-text">Notification: </h5>
            </div>
        </div>
    </div>

    <div *ngIf="notification">
        <p>{{notification.title}}</p>
        <br>
        <p>{{notification.message}}</p>
        <br>
        <p>{{notification.creationDateTime | dateTime:'YYYY-MM-DD hh:mm:ss'}}</p>
        <br>
    </div>

    <div class="row">
        <div class="col-12 mt-3">
            <div class="text-center" dir="ltr">
                <button class="red-btn" (click)="closeDialog()">
                    OK
                </button>
            </div>
        </div>
    </div>
</div>
