<form [formGroup]="dateFromTo">
  <div class="form-group">
    <mat-form-field class="date-picker">
      <input matInput class="form-control "
             #pickerValue
             [max]="maxDate"
             (dateInput)="changeDate(0, 'from')" (dateChange)="changeDate(1, 'from')"
             formControlName="dateFrom"
             [matDatepicker]="DateFrom"
             placeholder="From">
      <mat-datepicker-toggle matSuffix [for]="DateFrom"></mat-datepicker-toggle>
      <mat-datepicker #DateFrom></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field class="date-picker">
      <input matInput class="form-control "
             #pickerValue
             [min]="minDate"
             (dateInput)="changeDate(0, 'to')" (dateChange)="changeDate(1, 'to')"
             formControlName="dateTo"
             [matDatepicker]="DateTO"
             placeholder="To">
      <mat-datepicker-toggle matSuffix [for]="DateTO"></mat-datepicker-toggle>
      <mat-datepicker #DateTO></mat-datepicker>
    </mat-form-field>
  </div>
</form>
