<div>
    <div class="privacy">
        <div class="title-tab no-pad">
            <p (click)="billingService.mode='invoice'" [ngClass]="{'active':billingService.mode == 'invoice'}" [routerLink]="['invoice-list']">Invoice</p>
        </div>
        <div (click)="billingService.mode='payment'" class="title-tab no-pad">
            <p [ngClass]="{'active':billingService.mode == 'payment'}" [routerLink]="['payment']">Payment log</p>
        </div>
        <div (click)="billingService.mode='transaction'" class="title-tab no-pad">
            <p [ngClass]="{'active':billingService.mode == 'transaction'}" class="none-tab" [routerLink]="['transaction-log']">Transaction log</p>
        </div>
        <div (click)="billingService.mode='address'" class="title-tab no-pad">
            <p [ngClass]="{'active':billingService.mode == 'address'}" class="none-tab" [routerLink]="['billing-address']">Billing address</p>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>

