.ws-box {
  height: 709px;
  position: absolute;
  margin: auto;
  top: -40px;
  right: 0;
  bottom: 0;
  left: 0;
  width: 90%;
}

.ws-login-box {
  background: #fff;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  padding: 1rem;
}

.ws-btn {
  width: 50%;
}

.subject {
  border-bottom: 1px solid #d4d4d4;
  padding: 0;
  display: inline-flex;
  img {
    width: 130px;
  }
}

.subject-detail h4 {
  padding-top: 40px;
}

label {
  font-weight: 400;
  color: #6c7293;
  font-size: 13px;
}

::placeholder {
  color: #a7abc3;
  font-size: 12px;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 5px;
}

select {
  width: 100%;
  padding: 5px;
}

.register-input .col-md-4 {
  padding: 6px 15px;
}

.red-text {
  font-size: 10px;
  font-weight: 600;
}

.privacy {
  padding: 20px 0 20px 30px;
}

.green-btn {
  padding: 10px 50px;
  color: #ffffff;
  border-radius: 0;
}

.btn-save {
  padding: 20px;
}

.pl-0 {
  padding-left: 0;
}

label.mat-checkbox-layout {
  margin-bottom: 0;
}

.privacy-label {
  padding-left: 10px;

}

.ws-login-input:focus, input.verification-code-input:focus {
  border: 1px solid #2cd9f4;
}

.mat-privacy {
  margin-bottom: 0;
  line-height: 25px;
}

@media (min-width: 1600px) {
  .ws-box {
    width: 75%;
  }
}

@media (max-width: 768px) {
  .ws-box {
    width: 95%;
  }

  .vb-content {
    width: calc(100% + -30px) !important;
  }

  .affiliate-register-form {
    margin-top: 20px;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .ws-btn {
    width: 100%;
    padding: 10px 0;
  }
  .privacy {
    padding: 20px 5px;
    display: inline-flex;
  }
}