.ws-box{
    height: 561px;
    position: absolute;
    margin: auto;
    top: -40px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 90%;
}
.ws-login-box {
    background: #fff;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    padding: 0;
}
.subject{
    border-bottom: 1px solid #d4d4d4;
    padding: 15px 0;
}
.subject-img img{
    width: 100px;
}
label{
    font-weight: 400;
    color: #6c707e;
    font-size: 13px;
}
::placeholder{
    color: #b5b7be;
    font-size: 12px;
}
input[type=text]{
    width: 100%;
    padding: 5px;
}
select {
    width: 50%;
    padding: 5px;
}
.register-input .col-md-4{
    padding: 6px 15px;
}
.red-text{
    color: #ec3c78;
    font-size: 10px;
    font-weight: 600;
}
.blue-text{
    color: #08a5a3;
}
.privacy{
    padding: 20px 0 20px 30px;
}
.green-btn{
    padding: 10px 50px;
    color: #ffffff;
    border-radius: 0;
}
.btn-save{
    padding: 20px;
}




@media (min-width: 1600px) {
    .ws-box {
        width: 75%;
    }
}

@media (max-width: 768px) {
    .ws-box {
        width: 95%;
    }

    .vb-content {
        width: calc(100% + -30px) !important;
    }

    .affiliate-register-form {
        margin-top: 20px;
    }
}
