<div class="container-fluid">
  <div class="container">
    <div class="col-12 col-xs-12 ws-box">
      <div class="right-box ws-login-box">
        <div class="subject text-left">
          <img src="../../../assets/images/LogoLogin.svg" class="img-responsive">
          <div class="subject-detail">
            <h4>Lets go!</h4>
            <p class="welcome-text">complete your information to create account.</p>
          </div>
        </div>
        <form class="register-input" [formGroup]="registerForm" #formDir="ngForm" (ngSubmit)="submit()">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-12 col-md-4 form-group">
                  <label>Name*</label>
                  <input type="text"
                         placeholder="Your Name"
                         formControlName="firstName">
                  <div class="text-left"
                       *ngIf="(((registerForm.controls['firstName'].dirty || registerForm.controls['firstName'].touched) || formDir.submitted))">
                    <p class="errorMessage" *ngIf="registerForm.hasError('required', 'firstName')">
                      <i class="fas fa-exclamation-circle"></i> this filed is required!
                    </p>
                    <p class="errorMessage"
                       *ngIf="(registerForm.controls['firstName'].hasError('maxlength'))">
                      Firstname max length is 20 char!
                    </p>
                  </div>
                </div>
                <div class="col-12 col-md-4 form-group">
                  <label>Surname*</label>
                  <input type="text"
                         placeholder="Your Surname"
                         formControlName="lastName">
                  <div class="text-left"
                       *ngIf="(((registerForm.controls['lastName'].dirty || registerForm.controls['lastName'].touched) || formDir.submitted))">
                    <p class="errorMessage" *ngIf="registerForm.hasError('required', 'lastName')">
                      this filed is required!
                    </p>
                    <p class="errorMessage"
                       *ngIf="(registerForm.controls['lastName'].hasError('maxlength'))">
                      Surename max length is 30 char!
                    </p>
                  </div>
                </div>
                <div class="col-12 col-md-4 form-group">
                  <label>Gender :</label>
                  <select formControlName="gender">
                    <option hidden value="">select</option>
                    <option *ngFor="let gender of genders" [value]="gender.value">
                      {{gender.title}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="row">
                <div class="col-12 col-md-4 form-group">
                  <label>Company name</label>
                  <input type="text"
                         placeholder="Your Company name"
                         formControlName="companyName">
                </div>
                <div class="col-12 col-md-4 form-group">
                  <label>Email</label>
                  <input type="text"
                         #email
                         placeholder="User Email"
                         (change)="checkUnique(2, email?.value)"
                         formControlName="email">
                  <div class="text-left"
                       *ngIf="(((registerForm.controls['email'].dirty || registerForm.controls['email'].touched) || formDir.submitted) || emailUnique)">
                    <p class="errorMessage" *ngIf="registerForm.hasError('required', 'email')">
                      this filed is required!
                    </p>
                    <p class="errorMessage" *ngIf="emailUnique">
                      this email is already taken!
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="row">
                <div class="col-12 col-md-4 form-group">
                  <label>Username*</label>
                  <input type="text"
                         autocomplete="off"
                         placeholder="Your username"
                         #userName
                         (change)="checkUnique(1, userName?.value)"
                         formControlName="userName">
                  <div class="text-left"
                       *ngIf="(((registerForm.controls['userName'].touched) || formDir.submitted))">
                    <p class="errorMessage" *ngIf="registerForm.hasError('required', 'userName')">
                      this filed is required!
                    </p>
                    <p class="errorMessage"
                       *ngIf="(registerForm.controls['userName'].hasError('minlength'))">
                      Username min length is 6 char!
                    </p>
                    <p class="errorMessage" *ngIf="userNameUnique">
                      this user name is already taken!
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="row">
                <div class="col-12 col-md-4 form-group">
                  <label>Password*</label>
                  <input type="password"
                         autocomplete="off"
                         formControlName="password">
                  <div class="text-left"
                       *ngIf="(((registerForm.controls['password'].touched) || formDir.submitted))">
                    <ul class="pl-0 pt-1">
                      <li class="errorMessage pl-0" *ngIf="registerForm.hasError('required', 'password')">
                        <i class="fa fa-check-circle"></i><span class="pl-1">this filed is required!</span>
                      </li>
                      <ul *ngIf="registerForm.controls['password'].hasError('pattern')">
                        <li class="errorMessage pl-0">
                          <i class="fa fa-check-circle"></i><span class="pl-1"> min length is 8 char!</span>
                        </li>
                        <li class="errorMessage">
                          <i class="fa fa-check-circle"></i><span class="pl-1">least one Digit letter!</span>
                        </li>
                        <li class="errorMessage">
                          <i class="fa fa-check-circle"></i><span class="pl-1">least one uppercase letter!</span>
                        </li>
                        <li class="errorMessage">
                          <i class="fa fa-check-circle"></i><span class="pl-1">least one LowerCase letter!</span>
                        </li>
                        <li class="errorMessage">
                          <i class="fa fa-check-circle"></i><span class="pl-1">least one Symbol letter!</span>
                        </li>
                      </ul>
                    </ul>
                  </div>
                  <!--<p class="red-text">Password min length is 8 characters</p>-->
                  <!--<p class="red-text"> Password needs to have at least one uppercase, one digit, and one-->
                  <!--special character</p>-->
                </div>
                <div class="col-12 col-md-4 form-group">
                  <label>Re-enter Password*</label>
                  <input type="password"
                         autocomplete="off"
                         placeholder="Confirm Your Password"
                         (input)="confirmPasswordOut()"
                         (focusout)="confirmPasswordOut()"
                         formControlName="confirmPassword">
                  <div class="text-left">
                    <p class="errorMessage" *ngIf="notMatch">
                      Confirm value is not correct!
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 privacy">
              <input type="checkbox" (change)="confirm($event)" id="confirm">
              <label for="confirm">I have read and agree to Weiß SMS terms and <span
                class="sign-in">conditions</span>
                and the <span class="sign-in">privacy policy</span>.</label>
            </div>
            <div class="col-md-12 text-center btn-save">
              <button [disabled]="disableButton"
                      [ngStyle]="{'color' : disableButton? '#ffffff': '', 'background-color': disableButton? '#a0a7eb': ''}"
                      class="ws-btn">
                <i class="fa fa-spinner fa-spin"
                   style="display: none;">
                </i>
                CREATE ACCOUNT
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
