<div>
    <div class="btn-section text-right">
        <div class="col-md-12 no-pad text-right">
            <button class="green-btn" [routerLink]="['/ticket/add']">
                <i class="fa fa-plus">
                </i> New Ticket
            </button>
        </div>
    </div>
    <div class="div-section">
        <!--operation-->
        <div class="row">
            <div class="col-md-6 operation-section form-group">
                <!--<button class="light-blue-btn">-->
                <!--<i class="fa fa-filter"></i> Filter-->
                <!--</button>-->
                <div>
                    <button type="button" class="dropdown-toggle btn light-blue-btn" data-toggle="collapse"
                            data-target="#demo">
                        <i class="fa fa-filter"></i> Filter
                    </button>
                    <div id="demo" class="collapse">
                        <form class="px-4 py-3">
                            <div class="form-group">
                                <label for="exampleDropdownFormEmail1">Email address</label>
                                <input type="email" class="form-control" id="exampleDropdownFormEmail1"
                                       placeholder="email@example.com">
                            </div>
                            <div class="form-group">
                                <label for="exampleDropdownFormPassword1">Password</label>
                                <input type="password" class="form-control" id="exampleDropdownFormPassword1"
                                       placeholder="Password">
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="dropdownCheck">
                                <label class="form-check-label" for="dropdownCheck">
                                    Remember me
                                </label>
                            </div>
                            <button type="submit" class="btn btn-primary">Sign in</button>
                        </form>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">New around here? Sign up</a>
                        <a class="dropdown-item" href="#">Forgot password?</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 offset-md-3 operation-section form-group text-right">
                <app-search (searchText)="getData($event)"></app-search>
            </div>
        </div>
        <!--table-->
        <div class="table-div table-responsive">
            <table class="index-table text-left">
                <thead *ngIf="totalItemsCount">
                <tr>
                    <th class="text-left">#</th>
                    <th class="text-left"><i class="fa fa-sort"></i>Title</th>
                    <th class="text-left"><i class="fa fa-sort"></i>Date</th>
                    <th class="text-left"><i class="fa fa-sort"></i>Status</th>
                    <th></th>
                </tr>
                </thead>
                <thead *ngIf="totalItemsCount === 0">
                <tr>
                    <th>
                        <p class="text-center">Record Not Found</p>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let t of tickets | paginate : {
                                itemsPerPage : 10, currentPage : pageNumber, totalItems : totalItemsCount
                                },index as i">
                    <td class="text-left">{{i+1}}</td>
                    <td class="text-left">{{t.title}}</td>
                    <td class="text-left">{{t.date | dateTime:'YYYY-DD-MM hh-mm-ss'}}</td>
                    <td class="text-left">{{t.status | statusTranslator}}</td>
                    <td class="td-single text-left actions-container">
                        <div class="actions">
                            <a [routerLink]="['../modify',t.id]"><i class="fa fa-eye light-green-btn"></i></a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <!--pagination-->
            <div class="col-12 pagination-div" *ngIf="totalItemsCount > 0">
                <div class="row pt-1 pb-1">
                    <div class="col-12 col-md-6 text-left fo-3 black-text font-weight-bold">Displaying 1-10 of
                        {{totalItems}} records
                    </div>
                    <div class="col-12 col-md-6 text-right">
                        <pagination-controls (pageChange)="doPaging($event)"
                                             maxSize="5"
                                             responsive="true"
                                             previousLabel=""
                                             nextLabel=""></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

