<div>
  <div class="btn-section text-right">
    <div class="col-md-12 no-pad text-right">
      <button class="green-btn" [routerLink]="['/ticket/add']">
        <i class="fa fa-plus">
        </i> New Ticket
      </button>
    </div>
  </div>
  <div class="div-section">
    <div class="row">
      <div class="col-12 col-md-6 operation-section form-group">
        <app-filter [filterDataModel]="filterDataModel" (filterValue)="getFilterData($event)"></app-filter>
      </div>
      <div class="col-12 col-md-3 offset-md-3 operation-section form-group">
        <app-search (searchText)="getData($event)"></app-search>
      </div>
    </div>
    <app-table [tableConfig]="tableConfig"
    (pagingModelChanged)="getAllTickets()"
    (itemSelected)="showDetail($event.item)"
    [collection]="tickets">
    </app-table>

  </div>
</div>

