<div class="dialog">
    <div class="col-12 modal-header p-2 text-center">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 435.3 432.9" xml:space="preserve">
<g class="circle">
	<path class="question-st0" d="M216.7,9c-114.9,0-208,93.1-208,208s93.1,208,208,208s208-93.1,208-208S331.6,9,216.7,9z M397.9,217
		c0,99.6-80.6,181.2-181.2,181.2c-99.6,0-181.2-80.6-181.2-181.2c0-99.6,80.6-181.2,181.2-181.2C316.3,35.8,397.9,116.4,397.9,217z"/>
</g>
<g class="question">
	<path class="question-st0" d="M217.1,293.3c-14.2,0-25.8,11.5-25.8,25.8s11.5,25.8,25.8,25.8c14.2,0,25.8-11.5,25.8-25.8
	S231.3,293.3,217.1,293.3z M224.2,271.2h-14.7c-6.1,0-11-4.9-11-11v-0.4c0-64.7,71.2-58.5,71.2-98.8c0-18.4-16.3-37-52.8-37
	c-26.8,0-40.7,8.9-54.5,26.4c-3.6,4.6-10.2,5.5-14.9,2.2l-12.1-8.4c-5.2-3.6-6.3-10.8-2.4-15.8c19.5-25,42.7-41.2,83.9-41.2
	c48.1,0,89.6,27.4,89.6,73.8c0,62-71.2,58.7-71.2,98.8v0.4C235.2,266.3,230.3,271.2,224.2,271.2L224.2,271.2z"/>
</g>
</svg>
        <h5 class="pl-3 yellow-text">Are you sure?</h5>
    </div>
    <form class="row" [formGroup]="deleteAccountForm" #formDir="ngForm" (ngSubmit)="onSubmit()">
        <div class="col-12 form-group">
            <p class="fo-3 black-text pb-2 text-center">I hope you will back soon.</p>
            <input class="form-control"
                   type="password"
                   formControlName="password"
                   placeholder="Enter your password">
            <div class="error-place">
                <div class="text-left"
                     *ngIf="(((deleteAccountForm.controls['password'].dirty || deleteAccountForm.controls['password'].touched) || formDir.submitted))"
                     [@errorAnimation]>
                    <p class="errorMessage" *ngIf="deleteAccountForm.hasError('required', 'password')">
                        <i class="far fa-exclamation-circle"></i> this filed is required!
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 pb-3">
            <div class="text-center" dir="ltr">
                <button class="red-btn mr-2" type="submit">
                    deactivate
                </button>
                <button class="gray-btn" (click)="closeDialog()">
                    cancel
                </button>
            </div>
        </div>
    </form>

</div>
