<div class="dialog">
  <div class="row">
    <div class="col-12 form-group">
      <h5>Create Key</h5>
    </div>
  </div>
  <form class="row" [formGroup]="deleteAccountForm" #formDir="ngForm" (ngSubmit)="onSubmit()">
    <div class="col-12 form-group">
      <input class="form-control"
             type="password"
             formControlName="password"
             placeholder="Enter your password">
      <div class="text-left"
           *ngIf="(((deleteAccountForm.controls['password'].dirty || deleteAccountForm.controls['password'].touched) || formDir.submitted))">
        <p class="errorMessage" *ngIf="deleteAccountForm.hasError('required', 'password')">
          this filed is required!
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mt-3">
        <div class="text-center" dir="ltr">
          <button class="btn btn-gradient ml-1 mt-1" type="submit">
            submit
          </button>
          <button class="btn btn-secondary ml-1 mt-1" (click)="closeDialog()">
            cancel
          </button>
        </div>
      </div>
    </div>
  </form>

</div>
