<nav class="sidebar" id="style-1" (mouseenter) ="mouseEnter() " >
    <!--menu-->
    <div class="list-group">
        <!--Logo-->
        <div class="sidebar-section">
            <div class="company-name text-center">
                <img src="../../../../assets/images/logo-sm.svg" class="img-responsive center-block">
            </div>
        </div>
        <!--item menu-->
        <div class="nested-menu" *ngFor="let item of menuItems">
            <a class="list-group-item" (click)="item.link ? navigateRoute(item.link) : addExpandClass(item.title)">
                <i class="fa fa-{{item.icon}}"></i>
            </a>
            <li class="nested" [class.expand]="showMenu === item.title">
                <ul class="submenu">
                    <li *ngFor="let sub of item.subMenu">
                        <a [routerLink]="[sub.link]">
                            <i class="fa fa-monument"></i>
                            <span><i class="fa fa-{{sub.icon}}"></i></span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
    </div>
</nav>
