@import "../../../../assets/style/components/variables";

.sidebar {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: $sidebar-padding-slim;
  margin-right: -235px;
  margin-bottom: 48px;
  border: none;
  border-radius: 0;
  overflow-y: auto;
  background-color: #1e262d;
  bottom: 0;
  overflow-x: hidden;
  padding-bottom: 40px;
  white-space: nowrap;
  transition: all 0.2s ease-in-out;
  text-align: left;
  height: 100%;
  .sidebar-section {
    .company-name {
      padding: 10px 0;
      p {
        color: #ffffff;
        font-size: $fo-24;
      }
    }
  }

  /*---- li a ----*/
  .nested-menu {
    a.list-group-item {
      background-color: #1e262d;
      border: none;
      transition: .5s;
      color: $dark-white;
      font-weight: 500;
      margin: 10px 5px 0;
    }
    a.list-group-item:hover {
      background-color: rgba(200, 200, 200, .1);
      transition: .1s;
      border-radius: 5px !important;
    }
  }

  a:not([href]) {
    color: $dark-white !important;
  }

  .fa {
    width: 26px;
    opacity: .99;
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    font-size: $fo-18;
    -moz-osx-font-smoothing: grayscale;
  }

  /*---- Sub Menu ----*/
  .nested-menu .list-group-item {
    cursor: pointer;
  }

  .nested-menu .nested {
    list-style-type: none;
  }

  .nested-menu ul.submenu {
    display: none;
    height: 0;
  }

  .nested-menu .expand ul.submenu {
    display: block;
    list-style-type: none;
    height: auto;
    padding-left: 0;
    margin: 0;
    li {
      position: relative;
    }
    li a {
      color: #f9f9f9;
      padding: 10px;
      display: block;
      margin: 0 15px;
      span {
        font-size: $fo-12;
        padding-left: 10px;
        i {
          font-size: $fo-5;
          text-align: center;
          position: absolute;
          left: 23px;
          top: 18px;
        }
      }
    }
  }
}

.nested-menu .expand ul.submenu li a span:hover {
  color: $focus-blue;
}

.active a span.fa {
  text-align: right !important;
  margin-right: 4px;
}

.nested-menu span.fa {
  float: right;
  text-align: center;
  margin-top: 3px;
  font-size: $fo-10;
  min-width: inherit;
  color: $dark-white;
}

a.list-group-item:active span.fa {
  transition: all 0.3s ease;
  transform: rotate(90deg);
}

a:not([href]) {
  color: $dark-white !important;
}

.active {
  background-color: $dark-purple !important;
}
