<div class="div-section">
  <div class="change-password form-group">
    <h5>invoice</h5>
    <p class="fo-4 black-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
      ut labore et dolore
      magna aliqua.</p>
  </div>
  <!--operation-->
  <div class="row">
    <div class="col-12 col-md-6 operation-section form-group">
      <app-filter [filterData]="filterData" (filterValue)="getFilterData($event)"></app-filter>
    </div>
    <div class="col-12 col-md-3 offset-md-3 operation-section form-group">
      <app-search (searchText)="getData($event)"></app-search>
    </div>
  </div>
  <!--table-->

  <app-table [collection]="invoices"
             [tableConfig]="tableConfig"
             (pagingModelChanged)="getInvoices()">
  </app-table>

  <!--<div class="table-div table-responsive">-->
  <!--<table class="index-table text-left">-->
  <!--<thead *ngIf="totalItems > 0">-->
  <!--<tr>-->
  <!--<th class="text-left"><i class="fa fa-sort"></i>Id</th>-->
  <!--<th class="text-left"><i class="fa fa-sort"></i>Amount</th>-->
  <!--<th class="text-left"><i class="fa fa-sort"></i>Vat</th>-->
  <!--<th class="text-left"><i class="fa fa-sort"></i>Total Price</th>-->
  <!--<th class="text-left"><i class="fa fa-sort"></i>Created on</th>-->
  <!--<th></th>-->
  <!--</tr>-->
  <!--</thead>-->
  <!--<thead *ngIf="totalItems === 0">-->
  <!--<tr>-->
  <!--<th>-->
  <!--<p class="text-center">Record Not Found</p>-->
  <!--</th>-->
  <!--</tr>-->
  <!--</thead>-->
  <!--<tbody *ngFor="let inv of invoices | paginate :-->
  <!--{itemsPerPage:10, currentPage:pageNumber,totalItems:totalItems},index as i">-->
  <!--<tr>-->
  <!--<td class="text-left">#{{i + 1}}</td>-->
  <!--<td class="text-left">€{{inv.amount}}</td>-->
  <!--<td class="text-left">%{{inv.vat}}</td>-->
  <!--<td class="text-left">€{{inv.totalAmount}}</td>-->
  <!--<td class="text-left">{{inv.creationDate | date}}</td>-->
  <!--<td class="text-right">-->
  <!--<div class="actions text-right">-->
  <!--<i class="fa fa-file light-green-btn"></i>-->
  <!--</div>-->
  <!--</td>-->
  <!--</tr>-->
  <!--</tbody>-->
  <!--</table>-->
  <!--&lt;!&ndash;pagination&ndash;&gt;-->

</div>
