<div class="div-section">
    <div class="change-password form-group">
        <h5>invoice</h5>
        <p class="fo-4 black-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.</p>
    </div>
    <!--operation-->
    <div class="row">
        <div class="col-12 col-md-6 operation-section form-group">
            <button class="light-blue-btn">
                <i class="fa fa-filter"></i> Filter
            </button>
        </div>
        <div class="col-12 col-md-3 offset-md-3 operation-section form-group">
            <app-search (searchText)="getData($event)"></app-search>
        </div>
    </div>
    <!--table-->
    <div class="table-div table-responsive">
        <table class="index-table text-left">
            <thead>
            <tr>
                <th class="text-left"><i class="fa fa-sort"></i>Id</th>
                <th class="text-left"><i class="fa fa-sort"></i>Amount</th>
                <th class="text-left"><i class="fa fa-sort"></i>Vat</th>
                <th class="text-left"><i class="fa fa-sort"></i>Total Price</th>
                <th class="text-left"><i class="fa fa-sort"></i>Created on</th>
                <th></th>
            </tr>
            </thead>
            <tbody *ngFor="let inv of invoices | paginate :
            {itemsPerPage:10, currentPage:getInvoiceModel.pageNumber,totalItems:totalItems},index as i">
            <tr>
                <td class="text-left">#{{i + 1}}</td>
                <td class="text-left">€{{inv.amount}}</td>
                <td class="text-left">%{{inv.vat}}</td>
                <td class="text-left">€{{inv.totalAmount}}</td>
                <td class="text-left">{{inv.creationDate | date}}</td>
                <td class="text-right">
                    <div class="actions text-right">
                        <i class="fa fa-file light-green-btn"></i>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <!--pagination-->
        <div class="col-12 pagination-div">
            <div class="row pt-1 pb-1">
                <div class="col-12 col-md-6 text-left fo-3 black-text font-weight-bold">Displaying 1-10 of
                    {{totalItems}} records
                </div>
                <div class="col-12 col-md-6 text-right">
                    <pagination-controls (pageChange)="doPaging($event)"
                                         maxSize="5"
                                         responsive="true"
                                         previousLabel=""
                                         nextLabel=""></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>
