<div class="div-section">
    <div class="change-password form-group">
        <h5>invoice</h5>
        <p class="fo-4 black-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.</p>
    </div>
    <!--operation-->
    <div class="row">
        <div class="col-12 col-md-6 operation-section form-group">
            <app-filter [filterData]="filterData" (filterValue)="getFilterData($event)"></app-filter>
        </div>
        <div class="col-12 col-md-3 offset-md-3 operation-section form-group">
            <app-search (searchText)="getData($event)"></app-search>
        </div>
    </div>
    <!--table-->
    <app-table
            (pagingModelChanged)="getPayments()"
            [tableConfig]="tableConfig"
            [collection]="invoices"
    >
    </app-table>
</div>
