<div class="content-box originator">
    <h5 class="mb-4">Originator</h5>
    <h6>choose your originator :</h6>
    <div class="col-md-4 pl-0 form-group">
        <select>
            <option>100000</option>
            <option>3000000</option>
            <option>50000 sms</option>
        </select>
    </div>
</div>

<div class="col-md-12 content-box recipient">
    <h5>Recipients</h5>
    <div class="row recipient-section">
        <div class="col-md-3 list-section form-group">
            <button class="light-blue-btn" mat-button [matMenuTriggerFor]="menu">My List <i
                    class="fa fa-angle-down"></i></button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>Item 1</button>
                <button mat-menu-item>Item 2</button>
            </mat-menu>
            <div class="check-list">
                <p>
                    <mat-checkbox></mat-checkbox> Test <span class="red-text">show</span>
                </p>
                <p>
                    <mat-checkbox></mat-checkbox> Test <span class="red-text">show</span>
                </p>
            </div>

        </div>
        <div class="col-md-9 form-group">
            <div class="search-box">
                <app-search [params]="[{title: 'device'}, {title: 'location'}]"></app-search>
            </div>
            <div class="table-box table-responsive">
                <table class="index-table text-left">
                    <thead>
                    <tr>
                        <th class="text-left"><i class="fa fa-sort"></i>#</th>
                        <th class="text-left"><i class="fa fa-sort"></i>Name</th>
                        <th class="text-left"><i class="fa fa-sort"></i>Surename</th>
                        <th class="text-left"><i class="fa fa-sort"></i>Recipient Number</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="text-left">
                            <mat-checkbox>01</mat-checkbox>
                        </td>
                        <td class="text-left">Test</td>
                        <td class="text-left">Test</td>
                        <td class="text-left">+989197514700</td>
                    </tr>
                    <tr>
                        <td class="text-left">
                            <mat-checkbox>02</mat-checkbox>
                        </td>
                        <td class="text-left">Test</td>
                        <td class="text-left">Test</td>
                        <td class="text-left">+989197514700</td>
                    </tr>
                    </tbody>
                </table>
                <div class="table-pagination text-right">
                    <span><i class="fa fa-arrow-circle-left"></i></span>
                    <span><i class="fa fa-arrow-circle-right"></i></span>
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-9 col-md-offset-3 recipient-count">
        recipient: 1
    </div>
</div>