<div class="div-section">
    <!--operation-->
    <div class="row">
        <div class="col-12 col-md-6 operation-section form-group">
            <app-filter [filterData]="filterData" (filterValue)="getFilterData($event)"></app-filter>
        </div>
        <div class="col-md-3 offset-md-3 operation-section form-group text-right">
            <app-search (searchText)="getData($event)"></app-search>
        </div>
    </div>
    <!--table-->
    <div class="table-div table-responsive">
        <table class="index-table text-left">
            <thead>
            <tr>
                <th class="text-left"><i class="fa fa-sort"></i>Title</th>
                <th class="text-left"><i class="fa fa-sort"></i>Type</th>
                <th class="text-left"><i class="fa fa-sort"></i>Send Number</th>
                <th class="text-left"><i class="fa fa-sort"></i>Status</th>
                <th class="text-left"><i class="fa fa-sort"></i>DateTime</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr [routerLink]="['/sms-report']" *ngFor="let definition of   definitions.data">
                <td class="text-left">{{definition.title}}</td>
                <td class="text-left">
                    <button class="green-btn"> Event</button>
                </td>
                <td class="text-left">+989197514700</td>
                <td class="text-left">Active</td>
                <td class="text-left">2019-12-5</td>
                <td class="td-single text-right actions-container">
                    <div class="actions text-right">
                        <i class="fa fa-eye light-green-btn"></i>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="text-left">Test 02</td>
                <td class="text-left">
                    <button class="blue-btn"> Schedule</button>
                </td>
                <td class="text-left">+989197514700</td>
                <td class="text-left">Active</td>
                <td class="text-left">2019-12-5</td>
                <td class="td-single text-right actions-container">
                    <div class="actions text-right">
                        <i class="fa fa-eye light-green-btn"></i>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <!--pagination-->
        <div class="col-12 pagination-div">
            <div class="row pt-1 pb-1">
                <div class="col-12 col-md-6 text-left fo-3 black-text font-weight-bold">Displaying 1-10 of
                    {{totalItems}} records
                </div>
                <div class="col-12 col-md-6 text-right">
                    <pagination-controls (pageChange)="doPaging($event)"
                                         maxSize="5"
                                         responsive="true"
                                         previousLabel=""
                                         nextLabel="">
                    </pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>

