<div class="col-md-12 div-section">
  <div class="col-md-12 change-password">
    <h5>Password</h5>
    <p>Update your account password. Always set a strong password, including uppercase, lowercase, number.</p>
    <div class="input-box">
      <label>Current Password : </label>
      <input [(ngModel)]="oldPassword" type="password" placeholder="Enter your current password">
      <br/>
      <label>New Password : </label>
      <input [(ngModel)]="newPassword" type="password" placeholder="Enter your new password">
      <br/>
      <label>Re-enter Password : </label>
      <input [(ngModel)]="confirmPassword" type="password" placeholder="Confirm your password">
    </div>
  </div>
  <div class="col-md-12 text-right">
    <button (click)="changePassword()" class="light-green-btn">Save</button>
  </div>
</div>
