.subject-ticket {
  padding: 0 0 15px 0;
  h4 {
    font-weight: 600;
    line-height: 0;
  }
}

.profile-pic {
  img {
    width: 100px;
  }
}

.supporter-ticket {
  background: #dae6ff;
  padding: 20px 15px;
  border-radius: 5px 15px 15px 15px;
  p {
    font-weight: 400;
    font-size: 14px;
  }
}

.customer-ticket {
  background: #ceeded;
  padding: 20px 15px;
  border-radius: 15px 0 15px 15px;
  p {
    font-weight: 400;
    font-size: 14px;
  }
}

.date-author {
  text-align: right;
  color: #a7abc3;
  span {
    font-size: 12px;
    font-weight: 400;
  }
}

.rtl-div {
  direction: rtl;
}

.light-green-btn {
  font-size: 14px;
  padding: 8px 18px;
}