<div class="main-container">
    <div class="col-md-12 warning-box" *ngIf="ticket && isClosed">
        <p>support request closed. u can open that with sending reply.</p>
    </div>
    <div class="col-md-12 div-section">
        <div class="col-md-12 subject-ticket">
            <h4 *ngIf="ticket">{{ticket.title}}</h4>
            <p><span>supporter</span> - <span>here is priority</span></p>
        </div>


        <div class="col-md-12 customer no-pad">
            <div class="col-md-1 text-center no-pad profile-pic pull-right">
                <img src="../../../../../assets/images/user.jpg" alt="" class="profile-picture img-thumbnail img-circle">
            </div>
            <div class="col-md-8 no-pad pull-right">
                <p class="date-author">
                    <span *ngIf="ticket">{{ticket.authorName}}</span>
                    <span *ngIf="ticket">{{ticket.date}}</span>
                </p>
                <div class="customer-ticket">
                    <p *ngIf="ticket" [innerHTML]="ticket.message"></p>
                </div>
            </div>
        </div>


        <div *ngIf="ticket">
          <div *ngFor="let r of ticket.ticketReply" [ngClass]="[r.isAdmin ? 'support' : 'customer']" class="col-md-12 no-pad">
            <div class="col-md-1 text-center no-pad profile-pic " [ngClass]="{'pull-right':!r.isAdmin}">
              <img src="../../../../../assets/images/user.jpg" alt="" class="profile-picture img-thumbnail img-circle">
            </div>
            <div class="col-md-8 no-pad" [ngClass]="[r.isAdmin ? 'supporter-ticket' : 'customer-ticket pull-right']">
              <p class="date-author-customer text-right">
                <span>{{r.isAdmin ? 'Admin hastman' : ticket.authorName}}</span>
                <span>{{r.creationDateTime}}</span>
              </p>
              <div [ngClass]="[r.isAdmin ? 'support' : 'customer']">
                <p [innerHTML]="r.message"></p>
              </div>
            </div>
          </div>
        </div>


        <div class="col-md-12 operation-btn">
            <div class="col-md-6 no-pad text-left">
                <button [innerText]="isClosed ? 'Closed' : 'Close'" (click)="closeTicket()"
                        [disabled]="isClosed" [ngClass]="[isClosed ? 'gray-btn close-btn' : 'btn red-btn']">
                </button>
            </div>
            <div class="col-md-6 no-pad text-right">
                <button (click)="isReplyMode=true" class="green-btn">Reply ticket</button>
            </div>
        </div>
    </div>

    <div *ngIf="isReplyMode" class="col-md-12 div-section">
        <angular-editor [(ngModel)]="replyText"></angular-editor>
        <div class="form-group">
            <button (click)="sendReply()" class="ticket-submit">Submit</button>
        </div>
    </div>
</div>
