.flex-container {
  justify-content: center;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  height: 100vh;
  .flex-container-child {
    justify-content: center;
    display: flex;
    flex-flow: column wrap;
    width: 435px;
  }
  .flex-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    border-radius: .4rem;
  }
}
