<app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>
<div *ngIf="!showSpinner" class="flex-container login">
  <div class="flex-container-child">
    <div class="img-logo text-center">
      <img src="../../../assets/images/svg/LogoLogin.svg" class="center-block img-responsive pb-3">
    </div>
    <div class="flex-content pt-3">

      <router-outlet></router-outlet>

    </div>
    <div class="footer-weib text-center">
      <p class="copyright">©2019 {{configService.appTitle}}. All rights reserved.</p>
    </div>
  </div>
</div>
