<div class="tab-section">
  <div class="change-password form-group">
    <h5>Buy numbers</h5>
    <p class="fo-4 black-text">Buy virtual phone Numbers to send or receive messages.</p>
  </div>
  <div class="country">
    <div class="row">
      <div class="col-md-4">
        <label>Country</label>
        <div class="input-group mb-3">
          <select class="form-control content-box" (change)="countryChanged($event)"
                  aria-describedby="basic-addon2">
            <option [innerText]="c.name" [value]="c.id" *ngFor="let c of countries"></option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button [ngClass]="{'btn btn-default':selectedLine && selectedLine.id == l.id}"
                (click)="selectedLine = l" *ngFor="let l of lines" class="col-md-2 light-blue-btn mt-2 mb-2 mr-4 ml-3">
          {{l.number}}
        </button>
      </div>
    </div>
  </div>
  <div class="country-number" *ngIf="selectedLine">
    <div class="country-number-div form-group mt-4 mb-4 pt-3 border-top">
      <h5 class="yellow-text">Country Number Monthly</h5>
    </div>
    <div class="row">

      <div *ngIf="sharedService.getCurrentUserInfo().credit >= selectedLine.cost" class="col-md-3">
        <div class="country-number-section p-3 border-radius border">
          <p class="pb-2 mobile-num font-weight-bold">Setup Fee: <span class="font-weight-light">{{selectedLine.cost}}$</span></p>
          <p class="pb-2 mobile-num font-weight-bold">Recurring Fee: <span class="font-weight-light">{{selectedLine.cost}}$ (Every 1 month)</span>
          </p>
          <p class="pb-2 mobile-num font-weight-bold">Inbound SMS Fee: <span class="font-weight-light">0.02$</span></p>
          <mat-checkbox [(ngModel)]="hasAutoExtension"><span class="ml-2">auto extension</span></mat-checkbox>
          <div class="country-number-btn text-center mt-4">
            <button (click)="buy('line')" class="light-green-btn">Buy with your Balance</button>
          </div>
        </div>
      </div>
      <!--TODO-->
      <div *ngIf="sharedService.getCurrentUserInfo().credit < selectedLine.cost" class="col-md-3">
        <div class="country-number-section">
          <p class="pb-2 mobile-num font-weight-bold">Setup Fee: <span class="font-weight-light">{{selectedLine.cost}}$</span></p>
          <p class="pb-2 mobile-num font-weight-bold">Recurring Fee: <span class="font-weight-light">{{selectedLine.cost}}$ (Every 1 month)</span>
          </p>
          <p class="pb-2 mobile-num font-weight-bold">Inbound SMS Fee: <span class="font-weight-light">0.02$</span></p>
          <mat-checkbox [(ngModel)]="hasAutoExtension"><span class="ml-2">auto extension</span></mat-checkbox>
          <!--TODO: checkbox-->
          <div class="country-number-btn text-center mt-4">
            <button (click)="buy('credit')" class="light-yellow-btn">Upgrade your Balance</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
