.country-number-div {
  border-top: 1px solid #e2e5ec;
}

.country-number-section {
  border: 1px solid #e2e5ec;
  border-radius: 8px;
  padding: 15px;
}

.country-number-div p {
  color: #6c7293;
}

.country-number-div p span {
  font-weight: 400;
}


