<div>
  <div class="btn-section text-right">
    <div class="col-md-12 no-pad text-right">
      <button class="green-btn"><i class="fa fa-plus"></i> Send Event SMS</button>
      <button class="green-btn ml-3" (click)="addEditUserEvent(null, null)"><i
        class="fa fa-plus"></i>
        New Fields
      </button>
    </div>
  </div>
  <div class="div-section">
    <div class="user-event mb-3">
      <h5>Event Fields</h5>
      <p class="fo-4 black-text pb-1">Event field can be used for an attribute for your contacts</p>
      <p class="fo-4 yellow-text pb-1"><i class="fas fa-exclamation-triangle"></i> You can use them only in the Event
        SMS.</p>
    </div>

    <div class="row">
      <div class="col-12 col-md-6 operation-section form-group">
        <app-filter [filterDataModel]="filterDataModel" (filterValue)="getFilterData($event)"></app-filter>
      </div>
      <div class="col-md-3 offset-md-3 operation-section form-group text-right">
        <app-search (searchText)="getData($event)"></app-search>
      </div>
    </div>

    <app-table
      [tableConfig]="tableConfig"
      [collection]="userEvents"
      (pagingModelChanged)="getUserEvents()"
      (itemRemoved)="removeUserEvent($event.index,$event.item)"
      (editItemClicked)="addEditUserEvent($event.item,$event.index)">

    </app-table>
  </div>
</div>
