<form [formGroup]="dummy">
  <button type="button" class="dropdown-toggle light-blue-btn" data-toggle="collapse" data-target="#filter">
    <i class="fa fa-filter"></i> Filter
  </button>
  <div id="filter" class="collapse">
    <div class="filtering">
      <ul class="filtering-menu">
        <li *ngFor="let option of filterData.options">
          <p> Ticket statuses: </p>
          <select class="form-control">
            <option hidden value="">Select</option>
            <option [value]="null">All {{option.title}}</option>
            <option [value]="state.value" *ngFor="let state of option.data">{{state.title}}</option>
          </select>
        </li>
        <li *ngIf="filterData.fromToDate">
          <p> Filter on date values: </p>
          <app-date-from-to (date)="getDate($event)"></app-date-from-to>
        </li>
        <li>
          <p> Item display per page: </p>
          <select (change)="setPageSize($event)" class="form-control">
            <option hidden value="">Select</option>
            <option [value]="page" *ngFor="let page of pageSizes">{{page}}</option>
          </select>
        </li>
        <li class="text-center">
          <button (click)="submit()" data-toggle="collapse" data-target="#filter" class="green-btn">Apply</button>
          <button type="button" class="gray-btn" data-toggle="collapse" data-target="#filter">
            Cancel
          </button>
        </li>
      </ul>
    </div>
  </div>
</form>
