<div class="filtering">
  <ul class="filtering-menu">
    <li>
      <a href="#">
        <p> Lorem ipsum dolor sit amet.</p>
        <select>
          <option>select</option>
          <option>Test 02</option>
          <option>Test 03</option>
        </select>
      </a>
    </li>
    <li>
      <a href="#">
        <p> Lorem ipsum dolor sit amet.</p>
        <select>
          <option>select</option>
          <option>Test 02</option>
          <option>Test 03</option>
        </select>
      </a>
    </li>
    <li>
      <a href="#">
        <p> Lorem ipsum dolor sit amet.</p>
        <label>from :</label> <input type="date"><br>
        <label>to :</label> <input type="date">
      </a>
    </li>
    <li>
      <a href="#">
        <p> Lorem ipsum dolor sit amet.</p>
        <select>
          <option>select</option>
          <option>Test 02</option>
          <option>Test 03</option>
        </select>
      </a>
    </li>
    <li class="text-center">
      <a href="#">
        <button class="green-btn">Apply</button>
        <button class="gray-btn">Cancel</button>
      </a>
    </li>
  </ul>
</div>
