.navbar{
    margin-left: 200px;
    background: #ed4952;
    border-radius: 0 !important;
    margin-bottom: 0;
}

.navbar-toggle{
    margin-left: 0;
}
ul.left-box-nav{
    margin-left: 15px;
    margin-bottom: 0;
    list-style: none;
    padding: 0;
    border-right: 1px solid #fd8098;
    width: 360px;
}
a.toggle-menu{
    padding: 0 14px;
    line-height: 60px;
    min-height: 60px;
    font-size: 25px;
    color: #ffffff;
    cursor: pointer;
}
.credit h5{
    color: #fff;
    font-size: 12px;
    font-weight: 400;
}
.buy-credit{
    border: 2px solid #ffffff;
    font-size: 12px;
    font-weight: 400;
    padding: 6px 10px;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
    color: #fff;
    transition: .2s;
    margin-top: 13px;
}
ul.left-box-nav:nth-child(3){
    border-right: none;
}
.left-box-nav li, .right-box-nav li{
    float: left !important;
    position: relative;
    display: block;
}


/*------nav-right-section------*/
/*profile*/
.profile {
    padding: 0 14px;
    line-height: 60px;
    min-height: 60px;
}
.dropdown-profile li{
    width: 100%;
}
.profile a{
    text-decoration: none;
    cursor: pointer;
    font-size: 12px;
}
.profile a img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
}
.profile a b{
    font-size: 12px;
    margin-left: 10px;
    color: #ffe9ea;
    font-weight: 400;
}



.btn-group.open .dropdown-toggle {
    box-shadow: none;
}
