<nav [ngClass]="{'slim-navbar':configService.sidebarMode=='slim', 'hidden-navbar':configService.sidebarMode=='hidden'}" class="navbar navbar-expand-lg fixed-top">
  <div class="container-fluid no-pad">
        <div class="col-md-12 navbar-content no-pad">
            <div class="">
                <a (click)="changeSidebarState()" class="toggle-menu"><i class="fa fa-bars"></i></a>
            </div>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item d-none d-xl-block">
                    <span>your credits : 5000</span>
                    <button class="buy-credit">Buy Credit</button>
                </li>
                <li class="nav-item">
                    <div class="btn-group notification" dropdown>
                        <a id="button-notif" dropdownToggle class="dropdown-toggle" aria-controls="dropdown-notif">
                            <i class="fa fa-bell"></i>
                        </a>
                        <div class="notification-alarm">
                            <span class="wave wave-danger"></span>
                            <span class="dot"></span>
                        </div>
                        <ul *ngIf="userNotifications" id="dropdown-notif" class="dropdown-menu dropdown-profile" role="menu" aria-labelledby="button-notif">
                            <div *ngFor="let un of userNotifications">
                                <li role="menuitem"><a class="dropdown-item" (click)="preparingShowNotification(un)"> {{un.title}} </a></li>
                                <li class="divider dropdown-divider"></li>
                            </div>
                            <li role="menuitem"><a class="dropdown-item" routerLink="../notification" > more </a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="btn-group profile" dropdown>
                        <a id="button-basic" dropdownToggle class="dropdown-toggle" aria-controls="dropdown-basic">
                            <img src="../../assets/images/user.jpg" alt="profile" width="36">
                            <b class="hidden-xs">Your company name <span><i class="fa fa-chevron-down"></i></span></b>
                        </a>
                        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-profile" role="menu" aria-labelledby="button-basic">
                            <li role="menuitem"><a class="dropdown-item" [routerLink]="['/profile']"><i class="fa fa-user"></i> Profile</a></li>
                            <li role="menuitem"><a class="dropdown-item" [routerLink]="['/change-password']"><i class="fa fa-user"></i> Change password</a></li>
                            <li role="menuitem"><a class="dropdown-item" [routerLink]="['/billing-address']"><i class="fa fa-user"></i> Billing address</a></li>
                            <li class="divider dropdown-divider"></li>
                            <li role="menuitem"><a (click)="logOut()" class="dropdown-item" ><i class="fa fa-power-off"></i> Log out</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>

  </div>
</nav>

<div *ngIf="showNotification"  class="modal fade in modal-back" role="dialog" tabindex="-1" style="display: block;" aria-modal="true">
  <div role="document" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button (click)="showNotification=false" aria-label="Close" class="close pull-right" type="button">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <div>
          <p>{{selectedNotification.title}}</p>
          <br>
          <p>{{selectedNotification.description}}</p>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
