<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container-fluid no-pad">
        <div class="col-md-12 navbar-content no-pad">
            <ul class="left-box-nav pull-left">
                <li>
                    <a (click)="changeSidebarState()" class="toggle-menu"><i class="fa fa-bars"></i></a>
                </li>
            </ul>
            <ul class="left-box-nav pull-left">
                <li class="credit">
                    <h5>your credits : </h5>
                    <h5>5000</h5>
                </li>
                <li class="buy-credit pull-right"> buy credits </li>
            </ul>
            <ul class="left-box-nav pull-left">
                <!--profile-->
                <li>
                    <div class="btn-group profile" dropdown>
                        <a id="button-basic" dropdownToggle class="dropdown-toggle" aria-controls="dropdown-basic">
                            <img src="../../assets/images/user.jpg" alt="پروفایل" width="36">
                            <b class="hidden-xs">Your company name <span><i class="fa fa-chevron-down"></i></span></b>
                        </a>
                        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-profile" role="menu" aria-labelledby="button-basic">
                            <li role="menuitem"><a class="dropdown-item" href="#"><i class="fa fa-user"></i> Profile</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#"><i class="fa fa-credit-card"></i> Charge</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#"><i class="fa fa-address-book"></i> Contacts</a></li>
                            <li class="divider dropdown-divider"></li>
                            <li role="menuitem"><a (click)="logOut()" class="dropdown-item" ><i class="fa fa-power-off"></i> Log out</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
  </div>
</nav>
