<!--<div>-->
    <!--<div>-->
      <!--<div class="notf-black-screen"></div>-->
    <!--</div>-->
    <!--<div>-->
      <!--<div class="notification-box col-lg-6 col-lg-offset-3 col-md-8">-->
        <!--<h4><i class="fa fa-close pull-left"></i>showingNotf.Title</h4>-->
        <!--<div>showingNotf.Message</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<nav class="navbar navbar-default navbar-static-top m-b-0">-->
      <!--<div class="navbar-header">-->
          <!--<a class="navbar-toggle hidden-sm hidden-md hidden-lg pull-left">-->
            <!--<i class="fa"></i>-->
          <!--</a>-->
          <!--<div class="top-left-part">-->
            <!--<a class="logo">-->
              <!--<img src="../../assets/images/PayamakSefid.png" alt="پیامک سفید" class="img-responsive center-block">-->
            <!--</a>-->
          <!--</div>-->
          <!--<ul class="nav navbar-top-links navbar-left active">-->
            <!--<li style="cursor: pointer" class="exTime-details hidden-xs"><h5>اعتبار تا : </h5></li>-->
            <!--<li class="developers-btn hidden-xs"><h5> برنامه نویسان </h5></li>-->
            <!--<li class="exTime-details hidden-md hidden-sm hidden-lg"><h5 style="font-weight: 400">پیامک سفید</h5></li>-->
          <!--</ul>-->
          <!--<ul class="nav navbar-top-links navbar-right pull-right">-->
            <!--<div>-->
              <!--<li class="dropdown">-->
                <!--<a class="waves-effect waves-light">-->
                  <!--<span style="font-weight: 500;color: #ffe7e8;">5754</span>-->
                  <!--<i class="fa fa-dollar" style="color: #ffe9ea;"></i>-->
                <!--</a>-->
              <!--</li>-->
            <!--</div>-->
            <!--<li class="dropdown">-->
              <!--<a class="waves-effect waves-light">-->
                <!--<span style="font-weight: 500;color: #ffe7e8;">1265000</span>-->
                <!--<i class="IPe IPe-charge" style="font-size: 24px;top: 4px;color: #ffe9ea;"></i>-->
              <!--</a>-->
            <!--</li>-->
            <!--<li class="dropdown">-->
              <!--<a class="dropdown-toggle waves-effect waves-light">-->
                <!--<span class="notfCount">36000</span>-->
                <!--<i class="fa fa-bell-o"></i>-->
              <!--</a>-->
              <!--<ul class="dropdown-menu mailbox">-->
                <!--<li>-->
                  <!--<div class="drop-title">اطلاعیه خوانده نشده ندارید</div>-->
                  <!--<div class="drop-title"> 6000 اطلاعیه خوانده نشده</div>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<div class="message-center">-->
                    <!--<a >-->
                      <!--<div class="user-img"> <img src="../../../assets/img/sms_icon.png" class="img-circle"></div>-->
                      <!--<div class="mail-contnet">-->
                        <!--<h5>MyTitle</h5>-->
                        <!--<span class="mail-desc">MyMessage</span>-->
                      <!--</div>-->
                    <!--</a>-->
                  <!--</div>-->
                <!--</li>-->
                <!--<li>-->
                  <!--&lt;!&ndash;<router-link class="text-center"><strong>اطلاعیه ها</strong> <i class="fa fa-angle-left"></i></router-link>&ndash;&gt;-->
                <!--</li>-->
              <!--</ul>-->
            <!--</li>-->
            <!--<li class="dropdown profile-in-navbar">-->
              <!--&lt;!&ndash;<a class="dropdown-toggle profile-pic waves-effect waves-light"> <img src="avatar" alt="پروفایل" width="36" class="img-circle avatar-croped"><b class="hidden-xs">{{fullName}}</b> </a>&ndash;&gt;-->
              <!--<ul class="dropdown-menu dropdown-user">-->
                <!--&lt;!&ndash;<li><i class="fa fa-user"></i> پروفایل </router-link></li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li><i class="fa fa-credit-card"></i> خرید شارژ </router-link></li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li><router-link :to="{name: 'Contacts'}"><i class="fa fa-address-book"></i> مخاطبین </router-link></li>&ndash;&gt;-->
                <!--<li  role="separator" class="divider"></li>-->
                <!--<li><a style="cursor: pointer"><i class="fa fa-power-off"></i> خروج </a></li>-->
              <!--</ul>-->
            <!--</li>-->
          <!--</ul>-->
      <!--</div>-->
    <!--</nav>-->
<!--</div>-->

<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container-fluid no-pad">
    <div class="col-md-1 logo-box">
      <img src="../../assets/images/logo-ww.png" alt="پیامک سفید" class="img-responsive center-block">
    </div>
    <div class="col-md-11 no-pad">
      <div class="no-pad nav-top-section">
        <ul>
          <li class="expire">Expire Date : 98/1/45</li>
          <li class="programer"> programmer </li>
        </ul>
        <ul class="pull-right">
          <li>User Name</li>
          <li> notification </li>
          <li>shop</li>
        </ul>
      </div>
      <div class="no-pad nav-bottom-section">
        <div class="container">
          <div class="col-md-6">White SMS</div>
          <div class="col-md-6">Home</div>
        </div>
      </div>
    </div>
  </div>
</nav>
