<div class="main-container">
    <div class="col-md-12 privacy">
        <div class="title-tab no-pad">
            <p class="active-tab" [routerLink]="['invoice-list']">Invoice</p>
        </div>
        <div class="title-tab no-pad">
            <a [routerLink]="['payment']">Payment log</a>
        </div>
        <div class="title-tab no-pad">
            <a class="none-tab" [routerLink]="['create-transaction']">Transaction log</a>
        </div>
        <div class="title-tab no-pad">
            <a class="none-tab" [routerLink]="['billing-address']">Billing address</a>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>
