<div class="col-md-12 no-pad">
  <div class="col-md-8 padding">
    <textarea rows="7" class="content-box "> </textarea>
    <div class="textarea-label">Message |</div>
    <div class="count-sms">
      <span>0 / 177</span>  |  <span>0 SMS</span>
    </div>
  </div>
  <div class="col-md-4 padding">
    <div class="content-box personalize">
      <p>Personalize</p>
      <p>* To use the field dynamically</p>
      <p><i class="fa fa-plus-circle"></i> Name</p>
      <p><i class="fa fa-plus-circle"></i> Surname</p>
      <p><i class="fa fa-plus-circle"></i> Phone number</p>
    </div>
    <div class="template">
      <select class="content-box">
        <option>Template Select</option>
        <option>Template 2</option>
        <option>Template 3</option>
        <option>Template 4</option>
        <option>Template 5</option>
      </select>
    </div>
  </div>
</div>