<div class="btn-section text-right">
    <div class="col-md-6 no-pad text-left">
        <button class="previous-btn"> <i class="fa fa-arrow-left"></i> Previous </button>
    </div>
    <div class="col-md-6 no-pad text-right">
        <button [routerLink]="['add-contact']" class="green-btn"> <i class="fa fa-plus"></i> Add Contact </button>
    </div>
</div>
<div class="main-container">
    <div class="col-md-12 div-section">
        <!--operation-->
        <div class="col-md-12 no-pad operation">
            <div class="col-md-6 operation-section">
                <button class="light-blue-btn">
                    <i class="fa fa-filter"></i> Filter
                </button>
            </div>
            <div class="col-md-6 operation-section">
                <form class="search-wrapper search">
                    <input type="text"  required>
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
        <!--table-->
        <div class="col-md-12 table-div">
            <table class="index-table text-left">
                <thead>
                    <tr>
                        <th class="text-right"><i class="fa fa-sort"></i> Name</th>
                        <th class="text-center"><i class="fa fa-sort"></i> Surname</th>
                        <th class="text-center"><i class="fa fa-sort"></i> Phone number</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let contact of contacts">
                        <td class="text-right">
                            <div class="table-head">
                                <input type="checkbox"> <span>{{contact.FirstName}}</span>
                            </div>
                        </td>
                        <td class=" text-center">
                            <div>{{contact.LastName}}</div>
                        </td>
                        <td class=" text-center">
                            <div>{{contact.Mobile}}</div>
                        </td>
                        <td class="td-single text-right actions-container">
                            <div class="actions">
                                <a (click)="removeFromGroup(contact)"><i class="fa fa-trash"></i></a>
                                <a [routerLink]="['contact',contact.Id]"><i class="fa fa-pencil"></i></a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="table-pagination text-right">
                <span><i class="fa fa-arrow-circle-left"></i></span>
                <span><i class="fa fa-arrow-circle-right"></i></span>
            </div>
        </div>
    </div>
</div>


