<div class="main-container">
  <div class="col-md-12 filter-section">
    <div class="col-md-6 no-pad select text-left">
      <input type="checkbox"> SELECT ALL
    </div>
    <div class="col-md-6 operation no-pad text-right">
      <div class="search">
        <input type="text" class="form-control" placeholder="Search Group">
        <button class="btn btn-secondary search-icon" type="button">
          <i class="fa fa-search"></i>
        </button>
      </div>
      <button class="default-btn op-btn">
        <i class="fa fa-filter"></i> Filter
      </button>
      <button class="default-btn op-btn">
        <i class="fa fa-sort"></i> Sort
      </button>
    </div>
  </div>
  <div class="col-md-12 table-section no-pad text-left">
    <table class="index-table text-left">
      <thead>
      <tr>
        <th class="text-right"><i class="fa fa-sort"></i>Title</th>
        <th class="text-center"><i class="fa fa-sort"></i>Type</th>
        <th class="text-center"><i class="fa fa-sort"></i>Send Number</th>
        <th class="text-center"><i class="fa fa-sort"></i>Status</th>
        <th class="text-center"><i class="fa fa-sort"></i>DateTime</th>
      </tr>
      </thead>
      <tbody>
      <tr [routerLink]="['/sms-report']">
        <td class="text-right"><input type="checkbox">Test 01</td>
        <td class="text-right">
          <button class="green-btn"> Event </button>
        </td>
        <td class="text-right">+989197514700</td>
        <td class="text-right">Active</td>
        <td class="text-right">2019-12-5</td>
      </tr>
      <tr>
        <td class="text-right"><input type="checkbox">Test 02 </td>
        <td class="text-right">
          <button class="blue-btn"> Schedule </button>
        </td>
        <td class="text-right">+989197514700</td>
        <td class="text-right">Active</td>
        <td class="text-right">2019-12-5</td>
      </tr>
      </tbody>
    </table>
    <div class="table-pagination text-right">
      <span><i class="fa fa-arrow-circle-left"></i></span>
      <span><i class="fa fa-arrow-circle-right"></i></span>
    </div>
  </div>
</div>