.verification{
    margin-bottom: 10px;
}
.verification h4{
    color: #949494;
    font-weight: 600;
}
.verification p{
    font-size: 12px;
    padding-top: 15px;
}
.verification-code{
    background-color: #d5e1fa;
    border-radius: 5px 15px 15px 15px;
    padding: 15px;
    font-size: 14px !important;
    margin-bottom: 10px;
}
.verification-code span{
    font-weight: 600 !important;
}