<div class="container-fluid">
  <div class="container text-center">
    <div class="ws-box">
      <div class="img-logo text-center">
        <img src="../../assets/images/login.png" class="center-block img-responsive">
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 right-box ws-login-box">
        <div *ngIf="isLoginMode">
          <h3>Welcome back</h3>
          <span>login to your account here</span>
          <div class="col-md-10 col-md-offset-1 col-xs-12">
            <div class="input-box">
              <input [(ngModel)]="username" type="text" class="ws-login-input" autofocus autocomplete="off" placeholder="username">
              <span><i class="fa fa-user"></i></span>
              <br>
              <input [(ngModel)]="password" type="password" class="ws-login-input" autofocus autocomplete="off" placeholder="password">
              <span><i class="fa fa-lock"></i></span>
              <span><i class="fa fa-eye"></i></span>
            </div>
          </div>
          <div class="col-md-10 btn-login-div col-md-offset-1 col-xs-12">
            <p [routerLink]="['/forgot-password']" class="forgot-pass"> Forgot password ?</p>
            <button (click)="login()" class="ws-btn login-btn">Login</button>
          </div>
          <div class="col-md-12 no-pad">
            <hr>
            <p>Don't have an account? <span class="sign-up" (click)="isLoginMode=false" >Sign up</span></p>
          </div>
        </div>
        <div *ngIf="!isLoginMode && !verificationCodeSent">
          <h3>Hello Stranger!</h3>
          <span>Create a free account on <span class="weib">Weiß SMS</span>.</span>
          <div class="col-md-10 col-md-offset-1 col-xs-12">
            <div class="input-box v-input-box">
              <input onPaste="return false" (keydown)="onMobileKeyDown($event)" [(ngModel)]="mobile" type="text" class="ws-login-input vinput "  autofocus autocomplete="off" placeholder="phone number">
            <select class="v-input-select">
              <option><img src="#"> +98</option>
              <option>English</option>
              <option>Persian</option>
            </select>
            </div>
          </div>
          <div class="col-md-10 col-md-offset-1 col-xs-12">
            <button (click)="sendVerificationCode()" class="ws-btn login-btn">Send verification code</button>
          </div>
          <div class="col-md-12">
            <hr>
            <p>Already have an account? <span class="sign-up" (click)="login()" >Sign in</span></p>
          </div>
        </div>
        <div *ngIf="!isLoginMode && verificationCodeSent">
          <h3>Hello Stranger!</h3>
          <span>Create a free account on <span class="weib">Weiß SMS</span>.</span>
          <div class="col-md-10 col-md-offset-1 col-xs-12">
            <div class="input-box-vc">
              <p class="wrong">your number : <span>09197514700</span> <span> wrong ? </span></p>
              <input type="text" class="verification-code-input">
              <input type="text" class="verification-code-input">
              <input type="text" class="verification-code-input">
              <input type="text" class="verification-code-input">
              <input type="text" class="verification-code-input">
              <!--<input  [(ngModel)]="verificationCode" type="text" class="ws-login-input vcinput" autofocus autocomplete="off" placeholder="verification code">-->
              <p class="resend"><img src="../../assets/images/redo.png"> Resend again</p>
            </div>
          </div>
          <div class="col-md-10 col-md-offset-1 col-xs-12">
            <button (click)="verify()" class="ws-btn login-btn">Verify</button>
          </div>
          <div class="col-md-12 no-pad">
            <hr>
            <p>Don't have an account? <span class="sign-up" (click)="isLoginMode=false" >Sign up</span></p>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 footer-weib">
        <p>©2019 Weiß SMS. All rights reserved.</p>
      </div>

    </div>

  </div>
</div>




