<div class="col-md-12 div-section">
    <div class="col-md-12 change-password">
        <h5>Phone number</h5>
        <p>you can change your phone number, but you should verify it.</p>
        <div class="input-box">
            <label>Your phone number: </label>
            <input type="password" placeholder="Enter your new number">
            <select class="v-input-select">
                <option><img src="#"> +98</option>
                <option>English</option>
                <option>Persian</option>
            </select>
        </div>
    </div>
    <div class="col-md-12 text-right">
        <button class="light-blue-btn" [routerLink]="['/verify-number']">Verify</button>
    </div>
</div>
