.previous-btn {
  background: none;
  border: none;
  color: #000;
  font-weight: 600;
  font-size: 14px;
  line-height: 37px;
}

.yellow-btn {
  background-color: #ffb822;
  border: 1px solid #ffb822;
  border-radius: 4px;
  color: #ffffff;
  padding: 7px 25px;
  font-size: 14px;
  transition: .4s;
}

.green-btn {
  background-color: #1dc9b7;
  border: 1px solid #1dc9b7;
  border-radius: 4px;
  color: #ffffff;
  padding: 7px 25px;
  font-size: 14px;
  transition: .4s;
}

.light-green-btn {
  background-color: #1dc9b71a;
  border: 1px solid #e8f9f8;
  color: #4dd4c6;
  border-radius: .25rem !important;
  padding: .5rem .75rem;;
  font-size: 14px;
  transition: .4s;
}

.light-green-btn:hover {
  background-color: #1dc9b7;
  border-color: #1dc9b7;
  color: #ffffff;
  transition: .4s;
}

.blue-btn {
  background-color: #5867dd;
  border: 1px solid #5867dd;
  color: #ffffff;
  border-radius: .25rem !important;
  padding: .5rem .75rem;;
  font-size: 14px;
  transition: .4s;
}

.light-blue-btn {
  background-color: #e9f3ff;
  border: 1px solid #e9f3ff;
  color: #2786fb;
  border-radius: .25rem !important;
  padding: .5rem .75rem;;
  font-size: 14px;
  transition: .4s;
}

.light-blue-btn:hover {
  background-color: #2786fb;
  color: #fff;
}

.light-yellow-btn {
  background-color: #fff8e8;
  border: 1px solid #fff8e8;
  color: #ffb822;
  border-radius: .25rem !important;
  padding: .5rem .75rem;;
  font-size: 14px;
  transition: .4s;
}

.light-yellow-btn:hover {
  background-color: #ffb822;
  border: 1px solid #ffb822;
  color: #ffffff;
  border-radius: .25rem !important;
  padding: .5rem .75rem;;
  font-size: 14px;
  transition: .4s;
}

.red-btn {
  background-color: #fd397a;
  border: 1px solid #fd397a;
  border-radius: 4px;
  color: #ffffff;
  padding: 7px 25px;
  font-size: 14px;
  transition: .4s;
}

.light-red-btn {
  background-color: #f5e2ec;
  border: 1px solid #f5e2ec;
  color: #fd397a;
  border-radius: .25rem !important;
  padding: .5rem .75rem;;
  font-size: 14px;
  transition: .4s;
}

.light-red-btn:hover {
  background-color: #fd397a;
  border-color: #fd397a;
  color: #ffffff;
  transition: .4s;
}

.gray-btn {
  background-color: transparent;
  border: 1px solid #e2e5ec;
  color: #6c7293;
  border-radius: .25rem !important;
  padding: .5rem .75rem;;
  font-size: 14px;
  transition: .4s;
}

.gray-btn:hover {
  background-color: #e2e5ec;
  transition: .4s;
}

.ws-btn {
  background: #5867dd;
  padding: .6rem 2rem;
  cursor: pointer;
  transition: .3s;
  border: none;
  width: 100%;
  font-size: 15px;
  box-shadow: none;
  color: #fff;
  border-radius: .5rem;
}

.ws-btn:hover {
  background: #384ad7;
}

select.light-blue-btn {
  cursor: pointer;
  padding-left: 0;
}

.red-text {
  color: #fd397a;
}

.gray-text {
  color: #a7abc3;
}

.blue-text {
  color: #5867dd;
}

.yellow-text {
  color: #ffbd3d;
}

.green-text {
  color: #1dc9b7 !important;
}

.mobile-num {
  color: #6c7293;
}

.text-white {
  color: #fff !important;
}

.black-text {
  color: #495057;
}
