@import "../components/variables";

.previous-btn {
  background: none;
  border: none;
  color: $black;
  font-weight: 600;
  font-size: 14px;
  line-height: 37px;
}

.yellow-btn {
  background-color: $yellow;
  border: 1px solid $yellow;
  border-radius: 4px;
  color: $white;
  padding: 7px 25px;
  font-size: 14px;
  transition: .4s;
}

.green-btn {
  background-color: $green;
  border: 1px solid $green;
  border-radius: 4px;
  color: $white;
  padding: 7px 25px;
  font-size: 14px;
  transition: .4s;
}

.light-green-btn {
  background-color: $light-green;
  border: 1px solid $light-green;
  color: $green;
  border-radius: .25rem !important;
  padding: .5rem .75rem;;
  font-size: 14px;
  transition: .4s;
}

.light-green-btn:hover {
  background-color: $green;
  border-color: $green;
  color: $white;
  transition: .4s;
}

.blue-btn {
  background-color: $blue;
  border: 1px solid $blue;
  color: $white;
  border-radius: .25rem !important;
  padding: 6px .75rem;;
  font-size: 14px;
  transition: .4s;
}

.light-blue-btn {
  background-color: $v-light-blue;
  border: 1px solid $v-light-blue;
  color: $light-blue;
  border-radius: .25rem !important;
  padding: 6px .75rem;;
  font-size: 14px;
  transition: .4s;
}

.light-blue-btn:hover {
  background-color: $light-blue;
  color: $white;
}

.light-yellow-btn {
  background-color: $light-yellow;
  border: 1px solid $light-yellow;
  color: $yellow;
  border-radius: .25rem !important;
  padding: .5rem .75rem;;
  font-size: 14px;
  transition: .4s;
}

.light-yellow-btn:hover {
  background-color: $yellow;
  border: 1px solid $yellow;
  color: $white;
  border-radius: .25rem !important;
  padding: .5rem .75rem;;
  font-size: 14px;
  transition: .4s;
}

.red-btn {
  background-color: $red;
  border: 1px solid $red;
  border-radius: 4px;
  color: $white;
  padding: 7px 25px;
  font-size: 14px;
  transition: .4s;
}

.light-red-btn {
  background-color: $light-red;
  border: 1px solid $light-red;
  color: $red;
  border-radius: .25rem !important;
  padding: .5rem .75rem;;
  font-size: 14px;
  transition: .4s;
}

.light-red-btn:hover {
  background-color: $red;
  border-color: $red;
  color: $white;
  transition: .4s;
}

.gray-btn {
  background-color: transparent;
  border: 1px solid $light-gray;
  color: $dark-purple;
  border-radius: .25rem !important;
  padding: .5rem .75rem;;
  font-size: 14px;
  transition: .4s;
}

.gray-btn:hover {
  background-color: $light-gray;
  transition: .4s;
}

.disable-btn {
  background-color: $v-light-blue;
  border: 1px solid $v-light-blue;
  color: $light-blue;
}

.ws-btn {
  background: $blue;
  padding: .6rem 2rem;
  cursor: pointer;
  transition: .3s;
  border: none;
  width: 100%;
  font-size: 15px;
  box-shadow: none;
  color: $white;
  border-radius: .5rem;
}

.ws-btn:hover {
  background: $blue;
}

select.light-blue-btn {
  cursor: pointer;
  padding-left: 0;
}

.trash {
  background-color: $light-red;
  border-radius: 4px;
  padding: 4px 10px;
  border: 1px solid $light-red;
  margin-left: 5px;
}

.trash i {
  color: $red;
}

//text
.red-text {
  color: $red;
}

.gray-text {
  color: $gray;
}

.blue-text {
  color: $blue;
}

.yellow-text {
  color: $yellow;
}

.green-text {
  color: $green !important;
}

.mobile-num {
  color: $light-black;
}

.text-white {
  color: $white !important;
}

.black-text {
  color: $light-black;
}
