

.red-text {
  color: #fd397a;
}

.gray-text {
  color: #a7abc3;
}

.blue-text {
  color: #5867dd;
}

.yellow-text {
  color: #ffbd3d;
}

.green-text {
  color: #1dc9b7 !important;
}

.mobile-num {
  color: #6c7293;
}

.text-white {
  color: #fff !important;
}

.black-text {
  color: #495057;
}

.pointer {
  cursor: pointer;
}