.fo-0 {
  font-size: 12px !important;
}

.fo-1 {
  font-size: 13px !important;
}

.fo-2 {
  font-size: 14px !important;
}

.fo-3 {
  font-size: 14px !important;
}

.fo-4 {
  font-size: 15px !important;
}

.fo-5 {
  font-size: 16px !important;
}

.fo-6 {
  font-size: 18px !important;
}

.fo-7 {
  font-size: 20px !important;
}

.fo-8 {
  font-size: 22px !important;
}

.fo-9 {
  font-size: 24px !important;
}

.fo-10 {
  font-size: 24px !important;
}