.fo-0 {
  font-size: 12px;
}

.fo-1 {
  font-size: 13px;
}

.fo-2 {
  font-size: 14px;
}

.fo-3 {
  font-size: 14px;
}

.fo-4 {
  font-size: 15px;
}

.red-text {
  color: #fd397a;
}

.gray-text {
  color: #a7abc3;
}

.blue-text {
  color: #5867dd;
}

.yellow-text {
  color: #ffbd3d;
}

.green-text {
  color: #1dc9b7 !important;
}

.mobile-num {
  color: #6c7293;
}

.text-white {
  color: #fff !important;
}

.black-text {
  color: #495057;
}

.pointer {
  cursor: pointer;
}