@import '../helper/_variables';
@import '../helper/_mixins';

.notification {
  background-color: #d80027;
  position: absolute;
  bottom: -60px;
  left: 50%;
  @include transform(translateX(-50%));
  @include content-holder(376px);
  @include border-radius(10px);
  transition: opacity 2s ease-in-out;
  padding: 10px 30px;
  opacity: .7;
  animation: fade-out 500ms;

  @keyframes fade-out {
    from {
      opacity: 0;
    }
    to {
      opacity: .7;
    }
  }
  &__text {
    @include font-style($font-family-number, 13px, $color-white);
  }
}

.notification-err {
  &__text {
    @include font-style($font-family-bold, 11px, #e20404);
  }
}
