@import "../helper/_variables";
@import "../helper/_mixins";

.spinner {
  &__container {
    background-color: transparent;
    @include content-holder(100%, 100vh);
    z-index: 999;
    position: absolute;
    top: 0;
    right: 0;
  }

  &__element {
    margin: 0 auto;
    position: absolute;
    @include transform(translateY(-50%));
    top: 40%;
  }
}
