$colors: () !default;
$white: #fff;
$black: #000;
$light-black: #495057;
$yellow: #ffbd3d;
$light-yellow: #fff8e8;
$green: #1dc9b7;
$light-green: #e8f9f8;
$red: #fd397a;
$light-red: #f5e2ec;
$blue: #5867dd;
$light-blue: #2786fb;
$v-light-blue: #e9f3ff;
$gray: #a7abc3;
$light-gray: #e2e5ec ;
$purple: #a0a7eb;
$light-purple: #dae6ff;
$light-green: #ceeded;
$purple: #ededf3;
$dark-purple: #6c7293;
$focus-blue: #2cd9f4;
$dark-sidebar: #1e262d;
$dark-white: #e7e7e7;

//shadow
$box-shadow: 0 1px 5px rgba(0, 0, 0, 0.18);

//padding & margin
$sidebar-padding: 235px;
$sidebar-padding-slim: 70px;
//border-radius
$radius-0: 0;
$radius-1: 4px;
$radius-2: 8px;

//border
$border-light: 1px solid rgba(0, 0, 0, 0.05);

//font
$fo-5: 5px;
$fo-10: 10px;
$fo-12: 12px;
$fo-13: 13px;
$fo-14: 14px;
$fo-15: 15px;
$fo-16: 16px;
$fo-18: 18px;
$fo-20: 20px;
$fo-22: 22px;
$fo-24: 24px;
$fo-25: 25px;