$white: #fff;
$black: #000;
$light-black: #495057;
$yellow: #ffbd3d;
$green: #1dc9b7;
$red: #fd397a;
$blue: #5867dd;
$gray: #a7abc3;
$light-gray: #e2e5ec ;
$light-purple: #dae6ff;
$light-green: #ceeded;
$purple: #ededf3;
$dark-purple: #6c7293;

//$colors: () !default;
//$colors: map-merge((
//        "white": $white,
//        "black": $black,
//        "yellow": $yellow,
//        "green": $green,
//        "red": $red,
//        "blue": $blue,
//        "gray": $gray,
//), $colors);

