ul.filtering-menu {
    list-style: none;
    box-shadow: 0 6px 10px 2px #00000038;
    padding: 0;
}
ul.filtering-menu li{
    color: #000;
}
.filtering-menu li{
    padding: 10px 15px;
    border-top: 1px solid #e0e0e0;
}
.filtering-menu li:first-child{
    border-top: none;
}
.filtering-menu li a{
    color: #000;
}
.filtering-menu li a p{
    padding-bottom: 5px;
}
.filtering-menu li a label{
    width: 55px;
    font-weight: 400;
}
.filtering-menu li a select {
    width: 63%;
    padding: 5px;
}
.filtering-menu li a input {
    margin-bottom: 10px;
}
.filtering-menu li a button{
    margin-right: 5px;
}
