.verification-code {
  background-color: #5867dd1a;
  border-radius: 0 .4rem .4rem;
  padding: 15px;
  font-size: 14px !important;
}

.more-info {
  i{
    animation: move-forward 1s infinite ease-in;
  }
}

.underline {
  text-decoration: underline;
  padding: 0 3px;
}

table tbody tr td span {
  font-weight: 600;
}

td i {
  padding: 4px;
  border-radius: 50%;
}

.export-filter {
  display: inline-flex;
}
@media (max-width: 991px) and (min-width: 768px) {
  .verification-code {
    margin-left: 0;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .verification-code {
    margin-left: 0;
  }
}