.verification-code {
  background-color: #d5e1fa;
  border-radius: 5px 15px 15px 15px;
  padding: 15px;
  font-size: 14px !important;
  margin-left: 20px;
  span {
    font-weight: 600 !important;
  }
}

.more-info p {
  font-size: 14px;
  line-height: 2;
}

.underline {
  text-decoration: underline;
  padding: 0 3px;
}

table tbody tr td span {
  font-weight: 600;
}

td i {
  padding: 4px;
  border-radius: 50%;
}
@media (max-width: 991px) and (min-width: 768px) {
  .verification-code {
    margin-left: 0;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .verification-code {
    margin-left: 0;
  }
}