.profile {
  background: #ffffff;
  padding: 20px;
  border-radius: 1rem 1rem 0 0;
  display: flex;
  border-bottom: 1px solid #e2e5ec;
  .title-tab {
    cursor: pointer;
    margin: 0 5px;
    p {
      font-weight: 600;
      padding: 5px 15px;
      border-radius: 5px;
      color: #5867dd;
      text-align: center;
      :hover {
        color: #5867dd !important;
        background-color: #f4f5f9;
      }
    }
    :first-child {
      margin: 0 5px 0 0;
    }
  }
  .title-tab p.active {
    color: #ffffff !important;
    background-color: #5867dd;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .privacy {
    display: block;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .privacy {
    display: block;
  }

}
