<div class="main-container">
  <div class="col-md-12 div-section">
    <div class="col-md-12 profile">
      <h3 class="title">
        My Profile Setting
      </h3>
      <div class="col-md-12 change-profile-pic">
          <img src="../../../../../assets/images/user.jpg">
          <p>Change Avatar - <span> Remove Avatar </span></p>
      </div>

      <div class="col-md-12 profile-input">
        <div class="col-md-12 no-pad">
          <div class="col-md-4">
            <label>Firstname :</label>
            <input type="text" placeholder="Enter your Firstname">
          </div>
          <div class="col-md-4">
            <label>Surename :</label>
            <input type="text" placeholder="Enter your Surename">
          </div>
          <div class="col-md-4">
            <label>Gender :</label>
            <select>
              <option>select</option>
              <option>Female</option>
              <option>Male</option>
              <option>Unknown</option>
            </select>
          </div>
        </div>
        <div class="col-md-12 no-pad bottom-section">
          <div class="col-md-4">
          <label>Company :</label>
          <input type="text" placeholder="Enter your Company">
        </div>
          <div class="col-md-4">
            <label>Email :</label>
            <input type="text" placeholder="Enter your Email">
          </div>
          <div class="col-md-4">
            <label>Birthday :</label>
            <input type="date" placeholder="Enter your Birthday">
          </div>
        </div>
        <div class="col-md-12 no-pad bottom-section">
          <div class="col-md-4">
            <label>Phone :</label>
            <input type="text" placeholder="Enter your Phone">
          </div>
        </div>
        <div class="col-md-12 no-pad slim-bottom-section">
          <div class="col-md-4 phone-verify">
            <label>Verify :</label>
            <input type="text" class="input-phone" placeholder="Enter your Phone">
              <!--<div class="sms-verification-multiple">-->
                <!--<input type="text" class="multiple-input1" minlength="1" maxlength = "1">-->
                <!--<input type="text" class="multiple-input2" minlength="1" maxlength = "1">-->
                <!--<input type="text" class="multiple-input3" minlength="1" maxlength = "1">-->
                <!--<input type="text" class="multiple-input4" minlength="1" maxlength = "1">-->
              <!--</div>-->
              <button class="blue-btn" disabled>Verify</button>
          </div>
        </div>
        <div class="col-md-1 col-md-offset-3 no-pad send-again">
          <p><img src="../../../../../assets/images/redo.png"> Send again</p>
        </div>
        <div class="col-md-12 no-pad bottom-section">
          <div class="col-md-4">
            <label>Default prefix :</label>
            <select>
              <option>select</option>
              <option>Female</option>
              <option>Male</option>
              <option>Unknown</option>
            </select>
          </div>
          <div class="col-md-4">
            <label>Country :</label>
            <select>
              <option>select</option>
              <option>Female</option>
              <option>Male</option>
              <option>Unknown</option>
            </select>
          </div>
          <div class="col-md-4">
            <label>Timezone :</label>
            <select>
              <option>select</option>
              <option>Female</option>
              <option>Male</option>
              <option>Unknown</option>
            </select>
          </div>
        </div>
        <div class="col-md-12 no-pad bottom-section">
          <div class="col-md-3 detail-prefix">
            <p>Select a default prefix, that will allow you to upload and use numbers in local format.</p>
          </div>
        </div>

      </div>
      <div class="col-md-12 btn-save text-right">
        <button class="green-btn">Save</button>
      </div>

    </div>
  </div>
</div>
