<div class="main-container">
    <div class="col-md-12 alert-box-default">
        <span>Update your Info</span> <span><i class="fa fa-times"></i></span>
    </div>
    <div class="col-md-12 alert-box-default">
        <span>Set up Billing Address</span> <span><i class="fa fa-times"></i></span>
    </div>
    <div class="col-md-12 div-section">
        <div class="col-md-12 sms-sent-month no-pad">
            <div class="report-title"><h4>SMS sent this month</h4></div>
            <div class="report-date"><h4>2019/08/05</h4></div>
            <div class="col-md-12 no-pad box-chart">
                <div class="col-md-8 box-chart-right"></div>
                <div class="col-md-4 box-chart-left no-pad">
                    <div class="col-md-6">
                        <div class="daily-report">
                            <h4>Today</h4>
                            <h1>3</h1>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="daily-report">
                            <h4>Yesterday</h4>
                            <h1>0</h1>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="daily-report">
                            <h4>Last 7 Day</h4>
                            <h1>0</h1>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="daily-report">
                            <h4>This Month</h4>
                            <h1>0</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 activity no-pad">
            <div class="col-md-6 act-left">
                <div class="activity-box ">
                    <p>
                        Send acvtivy
                    </p>
                    <p>
                        date: from-to
                    </p>
                    <p>
                        incloude : Outbound - Bounced
                    </p>
                </div>
            </div>
            <div class="col-md-6 act-right">
                <div class="activity-box">
                    <p>
                        Credit acvtivy
                    </p>
                    <p>
                        date: from-to
                    </p>
                    <p>
                        include + -
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 div-section">
        <mat-form-field>
            <mat-label>Search anything you think :</mat-label>
            <mat-select [formControl]="toppings" multiple>
                <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>

