.alert-box-default {
  margin-bottom: 10px;
  span:nth-child(2) {
    float: right;
    color: #929598;
  }
}

.sms-sent-month {
  border: 1px solid #c2c2c2;
  border-radius: 4px;
  h4 {
    font-weight: 600;
  }
}

.activity-box {
  border: 1px solid #c2c2c2;
  border-radius: 4px;
  padding: 1rem;
}

.daily-report {
  background-color: #cdf3f2;
  border: 1px solid #d1d1d1;
  padding: 1rem;
}










