@import "../../../../assets/style/components/variables";
.div-section {
  span:nth-child(2) {
    float: right;
    color: $gray;
  }
}
.report-box{
  .daily-report{
    background-color: $purple;
    border-radius: .4rem;
    padding: 60px 35px;
    margin-right: 2px;
    .col-md-6{
      text-align: center;
      p{
        font-size: 20px;
      }
    }
  }
}
.report-section{
  a{
    color: $gray;
    font-size: 14px;
  }
}









