<div class="col-md-12 content-box summary-box">
  <h4>Summary</h4>
  <div class="border-box"></div>
  <div class="content">
    <p class="title-section"> <span>Content</span><button class="edit">Edit</button></p>
    <div class="content-section">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
    </div>
  </div>
  <div class="border-box"></div>
  <div class="originator-recipients">
    <p class="title-section"><span>Originator & Recipients</span><button class="edit">Edit</button></p>

    <p>
      <span>Originator </span> &nbsp;&nbsp;&nbsp; : &nbsp;&nbsp;&nbsp; <span> +65896571123</span>
    </p>
    <p style="display: inline-flex">
      <span>Number  of Recipient </span>&nbsp;&nbsp;&nbsp; : &nbsp;<span> 0 </span> &nbsp; <span class="show"> (Show)</span>
    </p>
  </div>
  <div class="border-box"></div>
  <div class="more-details">
    <p class="title-section"><span>More Details</span><button class="edit">Edit</button></p>

    <p>
      <span>Costs are</span> &nbsp;&nbsp;&nbsp; : <span>0 credits</span>
    </p>
  </div>
</div>
<div class="col-md-12 btn-section no-pad text-center">
  <button class="confirm">confirm and send</button>
</div>