<div class="main-container">
  <div class="col-md-12 div-section">
    <div class="col-md-12 change-password">
      <h4>Password</h4>
      <p>Update your account password. Always set a strong password, including uppercase, lowercase, number.</p>
      <div class="input-box">
        <label>Current Password : </label>
        <input type="password" placeholder="Enter your current password">
        <br/>
        <label>New Password : </label>
        <input type="password" placeholder="Enter your new password">
        <br/>
        <label>Re-enter Password : </label>
        <input type="password" placeholder="Confirm your password">
      </div>
    </div>
    <div class="col-md-5 text-center">
      <button class="gray-btn">Cancel</button>
      <button class="green-btn">Save</button>

    </div>
  </div>
</div>