<div class="col-md-12 div-section">
  <div class="change-password">
    <h5>Verify phone number</h5>
    <p>Please enter the code that we have sent to your phone.</p>
    <div class="mt-4">
      <form class="row" [formGroup]="verifyNumberForm" (ngSubmit)="submit()">
        <div class="col-12 col-md-3">
          <label>Verification code: </label>
          <input type="number"
                 class="form-control"
                 formControlName="verificationCode"
                 placeholder="Enter verification code">
          <p class="text-right"><img src="../../../../../../../assets/images/redo.png"> Resend again</p>
        </div>
        <div class="col-md-1">
          <button type="submit" class="light-green-btn mt-4">Verify</button>
        </div>
      </form>
    </div>
  </div>
</div>
