<div class="btn-section">
    <div class="row">
        <div class="col-md-1 text-left" *ngIf="sendMessageService.step != 1">
            <button class="previous-btn" (click)="goToPreviousStep()"> <i class="fa fa-arrow-left"></i> Previous</button>
        </div>
        <div *ngIf="sendMessageService.step != 3" class="text-right" [ngClass]="sendMessageService.step != 1 ? 'col-md-11' : 'col-md-12'">
            <button class="green-btn" (click)="goToNextStep()"> Next</button>
        </div>
    </div>
</div>

<div class="col-12 div-section">
    <div class="steps-send text-center">
        <a [ngClass]="{'active':sendMessageService.step == 1}">1.Content</a>
        <span [ngClass]="{'active':sendMessageService.step == 1}"><i class="fa fa-arrow-circle-right"></i></span>
        <a [ngClass]="{'active':sendMessageService.step == 2}">2.Originator & Recipients</a>
        <span [ngClass]="{'active':sendMessageService.step == 2}"><i class="fa fa-arrow-circle-right"></i></span>
        <a [ngClass]="{'active':sendMessageService.step == 3}" class="current">3.Verify & Send</a>
    </div>
    <router-outlet></router-outlet>
</div>
