<div class="btn-section">
    <div class="row">
        <div class="col-12 col-md-6 col-sm-6 col-xs-6 text-left">
            <button class="gray-btn"><i class="fa fa-times-circle"></i> Exit</button>
        </div>
        <div class="col-12 col-md-6 col-sm-6 col-xs-6 text-right">
            <button class="green-btn"> Next</button>
        </div>
    </div>
</div>
<div class="div-section">

        <div class="steps-send text-center">
            <a class="active" [routerLink]="['first-step']">1.Content</a>
            <span class="active"><i class="fa fa-arrow-circle-right"></i></span>
            <a [routerLink]="['second-step']">2.Originator & Recipients</a>
            <span><i class="fa fa-arrow-circle-right"></i></span>
            <!--<a [routerLink]="['schedule']">3.Send Config</a>-->
            <a [routerLink]="['event']">3.Send Config</a>
            <span><i class="fa fa-arrow-circle-right"></i></span>
            <a class="current" [routerLink]="['third-step']">4.Verify & Send</a>
        </div>
        <router-outlet></router-outlet>

</div>