<div class="dialog">
    <div class="col-12 form-group modal-header p-2">
        <h5>Header test</h5>
    </div>
    <div class="col-12 form-group">
        <p class="title">{{modalText}}</p>
    </div>
    <div class="col-12 pb-3">
        <div class="text-center" dir="ltr">
            <button  class="green-btn mr-2" (click)="onSubmit()">
                Submit
            </button>
            <button class="gray-btn" (click)="closeDialog()">
                cancel
            </button>
        </div>
    </div>
</div>