<div class="tab-section">
  <div class="hange-password">
    <h5>Deactivate</h5>
    <p class="fo-4 black-text pb-1">You can disable this account instead of deleting it. This means your account
      activity stops working until you reactivate it by logging back in.</p>
    <p class="fo-4 yellow-text pb-1"><i class="fas fa-exclamation-triangle"></i> You can only disable your account once
      a week. </p>
    <p class="fo-4 yellow-text pb-2"><i class="fas fa-exclamation-triangle"></i> According to our policy, your account
      information will be deleted 30 days after your account is deactivated.</p>
    <form class="row" [formGroup]="deActiveForm" #formDir="ngForm" (ngSubmit)="submit()">
      <div class="col-12 col-md-4 pt-2">
        <div class="row">
          <div class="col-12">
            <label>Why are you deactivate your account: </label>
            <select (change)="onReasonChange($event)" [selectedIndex]="0" class="form-group form-control"
                    formControlName="reason">
              <option [value]="reason.value" *ngFor="let reason of reasons">{{reason.title}}</option>
            </select>
            <label *ngIf="needDescription">Description: </label>

          </div>
          <div class="col-12 form-group">
            <textarea [ngClass]="{'border-error' : needDescription && !deActiveForm.controls['description'].value && deActiveForm.controls['description'].touched}"
                      *ngIf="needDescription" class="form-control" formControlName="description" rows="8"></textarea>
            <div class="text-left"
                 *ngIf="needDescription && (((deActiveForm.controls['description'].dirty || deActiveForm.controls['description'].touched) || formDir.submitted))">
              <p class="errorMessage" *ngIf="needDescription && !deActiveForm.controls['description'].value"
                 [@errorAnimation]>
                <i class="far fa-exclamation-circle"></i>Required!
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 text-right">
        <button [disabled]="needDescription && !deActiveForm.controls['description'].value" type="submit"
                class="red-btn">Deactivate your account
        </button>
      </div>
    </form>
  </div>

</div>
