<div class="col-md-12 div-section">
    <div class="col-md-12 change-password">
        <h5>Deactive</h5>
        <p>Update your account password. Always set a strong password, including uppercase, lowercase, number.</p>
        <div class="col-md-4 input-box">
            <label>why are you deactivate your account: </label>
            <select>
                <option>select</option>
                <option>select</option>
                <option>select</option>
            </select>
            <textarea rows="8"></textarea>
        </div>
        <!--<div class="col-md-4 no-pad textarea-answer">-->
            <!--<textarea rows="8"></textarea>-->
        <!--</div>-->
        <div class="col-md-12 no-pad text-right">
            <button class="light-red-btn">Deactive your account ?</button>
        </div>
    </div>

</div>