<div class="div-section">
    <div class="change-password form-group">
        <h5>Buy numbers</h5>
        <p>Buy virtual phone Numbers to send or receive messages.</p>
    </div>
    <div class="country">
        <div class="row">
            <div class="col-md-3 form-group">
                <label>Country</label>
                <select>
                    <option>Iran</option>
                    <option>Germany</option>
                    <option>England</option>
                    <option>Canada</option>
                </select>
            </div>
            <div class="col-md-1 form-group">
                <button class="light-green-btn search-btn">search</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 text-center">
                <button class="light-blue-btn mt-2 mb-2">+989197514700</button>
            </div>
            <div class="col-md-2 text-center">
                <button class="light-blue-btn mt-2 mb-2">+989197514700</button>
            </div>
            <div class="col-md-2 text-center">
                <button class="light-blue-btn mt-2 mb-2">+989197514700</button>
            </div>
            <div class="col-md-2 text-center">
                <button class="light-blue-btn mt-2 mb-2">+989197514700</button>
            </div>
            <div class="col-md-2 text-center">
                <button class="light-blue-btn mt-2 mb-2">+989197514700</button>
            </div>
            <div class="col-md-2 text-center">
                <button class="light-blue-btn mt-2 mb-2">+989197514700</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 text-center">
                <button class="light-blue-btn mt-2 mb-2">+989197514700</button>
            </div>
            <div class="col-md-2 text-center">
                <button class="light-blue-btn mt-2 mb-2">+989197514700</button>
            </div>
            <div class="col-md-2 text-center">
                <button class="light-blue-btn mt-2 mb-2">+989197514700</button>
            </div>
            <div class="col-md-2 text-center">
                <button class="light-blue-btn mt-2 mb-2">+989197514700</button>
            </div>
            <div class="col-md-2 text-center">
                <button class="light-blue-btn mt-2 mb-2">+989197514700</button>
            </div>
            <div class="col-md-2 text-center">
                <button class="light-blue-btn mt-2 mb-2">+989197514700</button>
            </div>
        </div>
    </div>
    <div class="country-number">
        <div class="change-password form-group mt-4 mb-4">
            <h5>Country Number Monthly</h5>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="country-number-div">
                    <p class="font-weight-bold pb-2">Setup Fee: <span>2.50$</span></p>
                    <p class="font-weight-bold pb-2">Recurring Fee: <span>2.50$ (Every 1 month)</span></p>
                    <p class="font-weight-bold pb-2">Inbound SMS Fee: <span>0.02$</span></p>
                    <div class="country-number-btn text-center mt-4">
                        <button class="light-green-btn">Buy with your Balance</button>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>