.div-section{
    border-radius: 0 0 1rem 1rem;
}
.profile h4{
    font-weight: 600;
    line-height: 1;
    margin-bottom: 0;
}
.input-box{
    padding: 15px 0;
}
label{
    font-weight: 400;
    width: 75px;
}
input[type=text].full-name{
    width: 43%;
    padding: 8px 5px;
}
input[type=text].phone{
    width: 72%;
    padding: 8px 5px;
}
select {
    width: 72%;
    padding: 11px 5px;
}
.select-input{
    margin-top: 10px;
}
.address-input{
    width: 95%;
    padding: 8px 5px;
}
.vat-num{
    width: 20%;
    padding: 8px 5px;
    margin-top: 5px;
}
.btn-save{
    margin-top: 20px;
    padding: 15px;
}



@media (max-width: 991px) and (min-width: 768px){
    select {
      margin-bottom: 10px;
    }
}
@media (max-width: 767px) and (min-width: 320px) {
    select {
        margin-bottom: 10px;
    }
}