<app-loading-spinner [hidden]="!showSpinner"></app-loading-spinner>

<div [hidden]="showSpinner">
  <app-top-nav *ngIf="isAuthenticated"></app-top-nav>

  <div *ngIf="isAuthenticated && sharedService.sidebarMode!='hidden'">
    <app-slim-sidebar *ngIf="sharedService.sidebarMode=='slim'"></app-slim-sidebar>
    <app-sidebar *ngIf="sharedService.sidebarMode=='default'"></app-sidebar>
  </div>

  <router-outlet></router-outlet>

  <app-footer *ngIf="isAuthenticated"
              [ngClass]="{'slim-footer':sharedService.sidebarMode=='slim', 'hidden-footer':sharedService.sidebarMode=='hidden'}"></app-footer>
</div>
