.sidebar {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 200px;
    margin-right: -235px;
    margin-bottom: 48px;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    background-color: #333;
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px;
    white-space: nowrap;
    transition: all 0.2s ease-in-out;
    text-align: left;
    height: 100%;
}
.sidebar-section{
    border-bottom: 1px solid #828282;
}
a.list-group-item:hover, a.list-group-item:focus {
    color: #fff !important;
    background-color: #333 !important;
}
.list-group-item {
    background-color: #333 !important;
    border: 1px solid #333 !important;
    color: rgba(255,255,255,0.5);
}
.list-group-item:hover{
    color: #fff;

}
.logo-box{
    padding: 10px;
}
.logo-box img{
    width: 100px;
}
.nested-menu .list-group-item {
    cursor: pointer;
}
.nested-menu .nested {
    list-style-type: none;
}
.nested-menu ul.submenu {
    display: none;
    height: 0;
}
.nested-menu .expand ul.submenu {
    display: block;
    list-style-type: none;
    height: auto;
}
.nested-menu .expand ul.submenu li a {
    color: #f9f9f9;
    padding: 10px;
    display: block;
}

