<div>
  <div name="slideRight">
    <div class="navbar-default sidebar movable">
      <div class="sidebar-nav navbar-collapse">
        <div class="user-profile hidden-lg hidden-md hidden-sm">
          <div class="user-pro-body">
            <a><img src="avatar" alt="آواتار کاربر" class="img-circle pointer menuItem"></a>
            <a class="white-link menuItem" style="border: none"><span class="hide-menu">akbar </span></a>
            <br>
            <a class="white-link menuItem" style="border: none"><span class="hide-menu">9124021677</span></a>
            <br>
          </div>
        </div>
        <ul class="nav">
          <li class="waves-effect menuItem hidden-xs">
            <a><i class="fa fa-home fa-1x"></i><span class="hide-menu"> صفحه اصلی </span></a>
          </li>
          <li class="waves-effect menuItem hidden-xs">
            <a><i
              class="fa fa-address-book fa-1x"></i><span class="hide-menu"> مخاطبین </span>
            </a>
          </li>
          <li class="waves-effect menuItem hidden-xs">
            <a><i class="fa fa-envelope fa-1x"></i><span class="hide-menu"> ارسال پیامک </span></a>
          </li>
          <li class="waves-effect menuItem">
            <a><i class="fa fa-pencil fa-1x"></i><span class="hide-menu"> پیش نویس </span></a>
          </li>
          <li class="waves-effect menuItem">
            <a><i class="IPe IPe-support fa-1x"></i><span class="hide-menu" style="padding-top: 9px;"> راهنما و پشتیبانی </span></a>
          </li>
          <li class="waves-effect menuItem">
            <a><i class="fa fa-credit-card fa-1x"></i><span class="hide-menu">خرید شارژ</span></a>
          </li>
        </ul>
        <ul class="nav" id="side-menu">
          <li class="waves-effect menuItem">
            <a active-class="active"><i class="fa fa-credit-card fa-1x"></i><span class="hide-menu"> تمدید </span></a>
          </li>
          <li class="waves-effect menuItem">
            <a class="notActive"><i class="fa fa-power-off fa-1x"></i> <span class="hide-menu"> خروج </span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div>
    <div class="black-screen movable"></div>
  </div>
</div>
