<nav class="sidebar">
  <!--menu-->
  <div class="list-group">
    <div class="sidebar-section">
      <div class="logo-box">
        <img src="../../assets/images/logo-ww.png" class="img-responsive center-block">
      </div>
      <a class="list-group-item" [routerLink]="['/group']">
        <i class="fa fa-question-circle"></i>&nbsp;
          <span routerLink="group">Contacts</span>
      </a>
    </div>
    <div class="sidebar-section">
      <a class="list-group-item">
        <i class="fa fa-question-circle"></i>&nbsp;
        <span>Send</span>
      </a>
    </div>
    <div class="nested-menu">
      <a class="list-group-item">
        <i class="fa fa-plus"></i>&nbsp;
        <span>Menu</span>
      </a>
      <li class="nested" >
        <div class="btn-group" dropdown [autoClose]="false" container="body">
          <button id="button-nested" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                  aria-controls="dropdown-nested">
            This dropdown has nested submenu <span class="caret"></span>
          </button>
          <ul id="dropdown-nested" *dropdownMenu class="dropdown-menu"
              role="menu" aria-labelledby="button-nested">
            <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested-dropdowns">Action</a></li>

            <li role="menuitem" dropdown triggers="mouseover" placement="right" container="body">
              <a dropdownToggle class="dropdown-item dropdown-toggle"
                 (click)="false">Hover me for nested dropdown <span class="caret"></span></a>
              <ul *dropdownMenu class="dropdown-menu" role="menu">
                <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested-dropdowns">Action</a></li>
                <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested-dropdowns">Action1</a></li>
                <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested-dropdowns">Action2</a></li>
              </ul>
            </li>

            <li role="menuitem" dropdown triggers="mouseover" placement="right" container="body">
              <a dropdownToggle class="dropdown-item dropdown-toggle"
                 (click)="false">Hover me for nested dropdown <span class="caret"></span></a>
              <ul *dropdownMenu class="dropdown-menu" role="menu">
                <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested-dropdowns">Action</a></li>
                <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested-dropdowns">Action1</a></li>
                <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested-dropdowns">Action2</a></li>
              </ul>
            </li>

            <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested-dropdowns">Something else here</a></li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested-dropdowns">Separated link</a></li>
          </ul>
        </div>
      </li>
    </div>
  </div>
</nav>
