<div class="upload-image">
    <div class="image-container pr-3">
        <div class="image-container__circle"
             [ngClass]="{'image-container__circle':type === 'circle', 'image-container__rect':type === 'rect'}">
            <input #file class="image-container__browse"
                   type="file"
                   (change)="uploadFile(file.files);"
                   (click)="onClickImage()"
                   [accept]="accept" #avatar/>
            <img class="image-container__icon" [src]="imageSrc"/>
        </div>
    </div>
   <div class="btn-container">
       <div *ngIf="!hasAvatar" class="pb-2 pt-2">
           <button class="light-blue-btn" (click)="avatar.click()">Add Avatar</button>
       </div>
       <div *ngIf="hasAvatar">
           <button class="light-green-btn pr-2" (click)="avatar.click()">Change Avatar</button>
           -
           <button class="light-red-btn" (click)="remove()"> Remove Avatar</button>
       </div>
       <div *ngIf="AvatarSizeValidate || AvatarTypeValidate">
           <span class="errorMessage" *ngIf="AvatarSizeValidate">{{validateSize}}</span>
           <span class="errorMessage" *ngIf="AvatarTypeValidate">{{validateFormats}}</span>
       </div>
   </div>
</div>


