<div class="main-container">
  <div class="col-md-12 div-section">
    <div class="col-md-12 billing-log">
      <h4><i class="fa fa-bell"></i> Notification</h4>
    </div>
    <div class="col-md-12 no-pad operation">
      <div class="col-md-12 operation-section">
        <form class="search-wrapper search">
          <input type="text" placeholder="Name">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>
    </div>
    <!--table-->
    <div class="col-md-12 table-div table-responsive">
      <table class="index-table text-left">
        <thead>
          <tr>
            <th class="text-left"><i class="fa fa-sort"></i> #</th>
            <th class="text-left"><i class="fa fa-sort"></i> Title</th>
            <th class="text-left"><i class="fa fa-sort"></i> Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let un of userNotifications,index as i" (click)="preparingShowNotification(un)">
            <td class="text-left">
              <div class="table-head">
                {{i + 1}}
              </div>
            </td>
            <td class="text-left">
              <div class="table-head">
                {{un.title}}
              </div>
            </td>
            <td [ngClass]="[un.isRead ? 'read-user-notification' : 'unread-user-notification']" class="text-left">
              {{un.creationDateTime}}
            </td>
          </tr>
        </tbody>
      </table>
      <div class="table-pagination text-right">
        <span><i class="fa fa-arrow-circle-left"></i></span>
        <span><i class="fa fa-arrow-circle-right"></i></span>
      </div>
    </div>
  </div>
</div>


<div *ngIf="showNotification"  class="modal fade in modal-back" role="dialog" tabindex="-1" style="display: block;" aria-modal="true">
  <div role="document" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button (click)="showNotification=false" aria-label="Close" class="close pull-right" type="button">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <div>
          <p>{{selectedUserNotification.title}}</p>
          <br>
          <p>{{selectedUserNotification.description}}</p>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
