.title{
    background: #de474f;
    color: #fff;
    text-align: center;
    margin: 0 -5px;
    padding: 6px 0;
    border-radius: 10px 10px 0 0;
}
.link-section{
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    margin: 20px 0;
    min-height: 228px;
    padding: 10px;
    text-align: center;
}
p{
    line-height: 2
}
.link-section p:first-child{
    font-size: 20px;
    color: rgb(150, 150, 150);
    font-weight: 400;
    line-height: 2;
    position: relative;
    top: -8px;
}
.link-section p:nth-child(3){
    line-height: 0;
    margin-bottom: 25px;
    color: rgb(154, 154, 154);
}
.link-section p:nth-child(4){
    line-height: 0;
    margin-bottom: 25px;
    color: rgb(150, 150, 150);
}
.link-section p:nth-child(5){
    line-height: 4;
}
.api, .secret{
    position: relative;
    font-weight: 600;
    top: -2px;
    color: #08a5a3;
}
.download-section{
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    margin: 20px 0;
    min-height: 228px;
    padding: 10px;
    text-align: center;
}
.api-key, .secret-key{
    color: gray;
    font-weight: 300;
    font-size: 16px;
    border: 1px solid #d8d8d8;
    padding: 0 10px 0 15px;
    border-radius: 3px;
    margin-left: 10px;
}
.pdf{
    transition: .2s;
    font-size: 115px;
    color: #a9a9a9;
}
.download-link{
    color: #08a5a3;
    transition: .2s;
    font-weight: 500;

}