<div class="main-container">
  <div class="col-md-12 div-section">
    <div class="col-md-12 developers">
      <div class="title">
        <p>Web Service Guide (White SMS API) for developers</p>
      </div>
      <div class="col-md-6">
        <div class="link-section">
          <p>Link White White Text Methods</p>
          <p>http://apidocs.sms.ir/whiteSMS.html</p>
          <hr>
          <p>Your dedicated web service keys</p>
          <p>
            <span class="api" aria-describedby="tooltip_2c7wkepn9n">ApiKey:</span>
            <span class="api-key">
              <i class="fa fa-copy"></i>
              <span class="apiKey">8ecf3883d1d3f80b129ec917</span>
            </span>
          </p>
          <p>
            <span class="secret" aria-describedby="tooltip_gdhxvm61d7">SecretKey:</span>
            <span class="secret-key">
              <i class="fa fa-copy"></i>
              <span class="secretKey">@#1Jb^6(NF0!K7A</span>
            </span>
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="download-section">
          <a class="pdf"><i class="fa fa-file-pdf-o"></i></a>
          <br>
          <a target="_blank" class="download-link">Download the Service Guide</a>
        </div>
      </div>
    </div>
  </div>
</div>