<div class="col-md-12 div-section">
  <div class="col-md-12 change-password">
    <h4>Transaction log</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua.</p>
  </div>
  <!--operation-->
  <div class="col-md-12 no-pad operation">
    <div class="col-md-6 operation-section">
      <select class="light-blue-btn" style="margin-right: 10px">
        <option> Export</option>
        <option> Test 1</option>
        <option> Test 1</option>
      </select>
      <button class="light-blue-btn">
        <i class="fa fa-filter"></i> Filter
      </button>
    </div>
    <div class="col-md-6 operation-section">
      <form class="search-wrapper search">
        <input name="filter" type="text">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
  </div>
  <!--table-->
  <div class="col-md-12 table-div table-responsive">
    <table class="index-table text-left">
      <thead>
      <tr>
        <th class="text-left"><i class="fa fa-sort"></i>Id</th>
        <th class="text-left"><i class="fa fa-sort"></i>Description</th>
        <th class="text-left"><i class="fa fa-sort"></i>Type</th>
        <th class="text-left"><i class="fa fa-sort"></i>Use credits</th>
        <th class="text-left"><i class="fa fa-sort"></i>Remain credit</th>
        <th class="text-left"><i class="fa fa-sort"></i>Date time</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="text-left">#1</td>
        <td class="text-left">98/2/8, 11:08</td>
        <td class="text-left">
          <button class="simple-btn">simple</button> &nbsp; <i class="fa fa-arrow-down"></i>
        </td>
        <td class="text-left">500 credit for 60$</td>
        <td class="text-left">98/2/8, 11:08</td>
      </tr>
      <tr>
        <td class="text-left">#1</td>
        <td class="text-left">98/2/8, 11:08</td>
        <td class="text-left">
          <button class="schedule-btn">schedule</button> &nbsp; <i class="fa fa-arrow-up"></i>
        </td>
        <td class="text-left">500 credit for 60$</td>
        <td class="text-left">98/2/8, 11:08</td>
      </tr>
      </tbody>
    </table>
    <div class="table-pagination text-right">
      <span><i class="fa fa-arrow-circle-left"></i></span>
      <span><i class="fa fa-arrow-circle-right"></i></span>
    </div>
  </div>
</div>

