.div-section {
  border-radius: 0 0 .4rem .4rem;
  padding: 1rem
}

.profile {
  .mat-form-field-infix {
    padding: 0 !important;
    min-height: unset !important;
  }
  .select .mat-form-field-infix {
    padding: 0 !important;
  }

  .profile-input span:first-child {
    font-weight: 400;
  }

  .date-picker {
    position: relative;
  }
  mat-datepicker-toggle.mat-datepicker-toggle {
    //position: absolute;
    top: -23px;
    right: -4px;
  }
  .mat-datepicker-toggle {
    padding: 11px;
  }
  .mat-input-element {
    font-size: 14px;
    background: 0 0;
    color: currentColor;
    border: none;
    outline: 0;
    padding: 0.65rem 1rem;
    margin: 0;
    width: 100%;
    max-width: 100%;
    vertical-align: bottom;
    text-align: inherit;
  }

  input#mat-input-0 {
    height: calc(1.5em + 0.75rem + 7px) !important;
  }
  .mat-datepicker-toggle {
    padding: 9px !important;
  }
  input#mat-input-0 {
    text-align: left !important;
  }
}

