.date-picker {
  .mat-form-field-infix {
    padding: 0 !important;
  }
  .mat-form-field-infix {
    text-align: left;
  }
  input#mat-input-0 {
    padding-left: 5px;
    height: calc(1.04em + 1.3rem + 2px);
  }
}
