.div-section {
  border-radius: 0 0 .4rem .4rem;
  padding: 1rem
}

.profile {
  .mat-form-field-infix {
    padding: 0 !important;
    min-height: unset !important;
  }
  .select .mat-form-field-infix {
    padding: 0 !important;
  }
  .profile-input {
    border-top: 1px solid #dfdfdf;
  }

  .phone-verify {
    display: inline-flex;
  }


  .sms-verification-multiple {
    margin: 0 0 0 100px;
    width: 59%;
    border: 1px solid darkgrey;
    height: 40px;
    text-align: center;
    padding-top: 5px;
    //input {
    //  border: none;
    //  font-size: 14px;
    //  width: 25px;
    //  height: 20px;
    //  margin: 0 13px;
    //  -webkit-appearance: none;
    //  background: transparent;
    //  color: #000;
    //  overflow: hidden;
    //  border-bottom: 1px solid #a9a9a9;
    //  text-align: center;
    //  padding: 0;
    //}
  }
  .send-again p {
    text-align: right;
    font-size: 12px;
  }
  .btn-save {
    margin-top: 20px;
    padding: 0;
  }
  .date-picker {
    position: relative;
  }
  mat-datepicker-toggle.mat-datepicker-toggle {
    //position: absolute;
    top: -23px;
    right: -4px;
  }
  button.green-btn {
    font-size: 14px;
    padding: 10px 30px;
  }
  .yellow-text {
    font-size: 12px;
  }
  @media (max-width: 991px) and (min-width: 768px) {

    .sms-verification-multiple {
      margin: 0 0 0 0;

    }
  }
  @media (max-width: 767px) and (min-width: 320px) {

    .sms-verification-multiple {
      margin: 0 0 0 0;
      width: 100%;
    }
  }
}
