<div class="mt-3 mb-3" (keydown)="onKeyDown($event)" >
  <div class="flex-group" *ngIf="countries">
    <div class="btn-group">
      <button class="form-control dropdown-toggle btn-default btn-select" type="button"
              data-toggle="dropdown" role="button" aria-expanded="undefined">
        <img class="mr-2" width="20" [src]="'data:image/jpg;base64,'+selectedCountry.flag"/>
      </button>
      <div class="custom-dropdown">
        <ul #dd class="dropdown-menu" role="listbox" aria-expanded="true">
          <li class="dropdown-item" *ngFor="let country of filteredCountries"
              (click)="selectCountry(2, country)">
            <img class="ml-2 mr-2" width="20"
                 [src]="'data:image/jpg;base64,'+country.flag"/>
            <span>{{country.name}}</span>
            (<span>{{country.prefixNumber}}</span>)
          </li>
        </ul>
      </div>
    </div>
    <input type="text"
           placeholder="Your phone number"
           class="form-control"
           (input)="changeMobile($event)"
           appNumericInput
           [(ngModel)]="mobile"
           [ngClass]="{'border-error' : isTried && (mobile.length ===0 || !isCorrectMobile)}"
           autofocus autocomplete="off">
  </div>
  <div class="text-left"
       *ngIf="true">
    <p class="errorMessage"
       *ngIf="!isCorrectMobile">
      phone number is invalid!
    </p>
  </div>
</div>
