<div>
    <div class="btn-section text-right">
        <div class="col-md-12 text-left">
            <button class="previous-btn"><i class="fa fa-arrow-left"></i> Previous</button>
        </div>
    </div>
    <div class="div-section fund">
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-12 pl-0">
                    <div class="fund-section fund-billing">
                        <h5>Billing Address
                            <button class="edit">Edit</button>
                        </h5>
                        <label>Name:</label> his/her name
                        <br>
                        <label>Address:</label> De , Berlin , turn right go to hell.
                        <br>
                        <label>Zipcode:</label> 9856324
                    </div>
                </div>
                <div class="col-md-12 pl-0">
                    <div class="fund-section fund-overview">
                        <h5>Overview</h5>
                        <label>Credited amount (excl. VAT) : </label> <span class="pull-right">C$ 0.00</span>
                        <br>
                        <label>Total VAT (0%) : </label> <span class="pull-right">C$ 0.00</span>
                        <br>
                        <hr>
                        <label>Total (incl. VAT) : </label> <span class="pull-right">C$ 0.00</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="fund-section payment-method">
                    <h5>Payment Method</h5>
                    <input type="text">
                    <br>
                    <input type="text">
                    <br>
                    <input type="text">
                    <br>
                    <hr>
                    <div class="paypal-visa text-center">
                        <h4>Available payment methods</h4>
                        <i class="fa fa-cc-paypal"></i>
                        <i class="fa fa-cc-visa"></i>
                        <i class="fa fa-cc-paypal"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>