<div class="btn-section text-right">
    <div class="col-md-12 no-pad text-left">
        <button class="previous-btn"><i class="fa fa-arrow-left"></i> Previous</button>
    </div>
</div>
<div class="main-container">
    <div class="col-md-12 div-section fund">
        <div class="col-md-6">
            <div class="col-md-12 pl-0">
                <div class="fund-section fund-billing">
                    <h4>Billing Address
                        <button class="edit">Edit</button>
                    </h4>
                    <label>Name:</label> his/her name
                    <br>
                    <label>Address:</label> De , Berlin , turn right go to hell.
                    <br>
                    <label>Zipcode:</label> 9856324
                </div>

            </div>
            <div class="col-md-12 pl-0">
                <div class="fund-section fund-overview">
                    <h4>Overview</h4>
                    <label>Credited amount (excl. VAT) : </label> <span class="pull-right">C$ 0.00</span>
                    <br>
                    <label>Total VAT (0%) : </label> <span class="pull-right">C$ 0.00</span>
                    <br>
                    <hr>
                    <label>Total (incl. VAT) : </label> <span class="pull-right">C$ 0.00</span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="fund-section payment-method">
                <h4>Payment Method</h4>
                <input type="text">
                <br>
                <input type="text">
                <br>
                <input type="text">
                <br>
                <hr>
                <div class="paypal-visa text-center">
                    <h4>Available payment methods</h4>
                    <i class="fa fa-cc-paypal"></i>
                    <i class="fa fa-cc-visa"></i>
                    <i class="fa fa-cc-paypal"></i>
                </div>

            </div>
        </div>
    </div>
</div>