<app-under-construction>

</app-under-construction>

<!--<div>-->
    <!--<div class="btn-section text-right">-->
        <!--<div class="col-md-12 text-left">-->
            <!--<button class="previous-btn" [routerLink]="['../../add-fund/list']"><i class="fa fa-arrow-left"></i> Previous</button>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="div-section fund">-->
        <!--<div class="row">-->
            <!--<div class="col-md-6">-->
                <!--<div class="col-md-12 pl-0">-->
                    <!--<div class="fund-section fund-billing">-->
                        <!--<h5>Billing Address-->
                            <!--<button class="edit">Edit</button>-->
                        <!--</h5>-->
                        <!--<label>Name:</label> <p class="pb-2">his/her name</p>-->

                        <!--<label>Address:</label> <p class="pb-2">De , Berlin , turn right go to hell.</p>-->

                        <!--<label>Zipcode:</label> <p class="pb-2">9856324</p>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-md-12 pl-0">-->
                    <!--<div class="fund-section fund-overview">-->
                        <!--<h5>Overview</h5>-->
                        <!--<div class="overview-div">-->
                            <!--<label>Credited amount (excl. VAT) : </label>-->
                            <!--<span>C$ 0.00</span>-->
                        <!--</div>-->
                       <!--<div class="overview-div">-->
                           <!--<label>Total VAT (0%) : </label>-->
                           <!--<span>C$ 0.00</span>-->
                       <!--</div>-->
                        <!--<hr>-->
                        <!--<div class="overview-div">-->
                            <!--<label>Total (incl. VAT) : </label>-->
                            <!--<span>C$ 0.00</span>-->
                        <!--</div>-->

                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-6">-->
                <!--<div class="fund-section payment-method">-->
                    <!--<h5>Payment Method</h5>-->
                    <!--<input type="text" class="form-control form-group">-->
                    <!--<div class="form-control form-group"></div>-->
                    <!--<div class="form-control form-group"></div>-->
                    <!--<div class="paypal-visa text-center">-->
                        <!--<h4>Available payment methods</h4>-->
                        <!--<i class="fa fa-cc-paypal"></i>-->
                        <!--<i class="fa fa-cc-visa"></i>-->
                        <!--<i class="fa fa-cc-paypal"></i>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
