.content-box{
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding: 9px 15px;
  color: #000;
}

textarea{
  width: 100%;
  border: none;
}
.count-sms{
  position: absolute;
  right: 10px;
  bottom: 5px
}
select{
  width: 100%;
}
.personalize p:nth-child(2){
  font-size: 12px;
  //line-height: 2;
}
.personalize p:nth-child(3), p:nth-child(4), p:nth-child(5){
  //line-height: 2;
  cursor: pointer;
}
@media (max-width: 991px) and (min-width: 768px){

}
@media (max-width: 767px) and (min-width: 320px){

}

