<div class="single-draft">
  <div class="btn-section text-right">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-6 text-left">
        <button class="previous-btn" [routerLink]="['/draft/list']"><i class="fa fa-arrow-left"></i> Previous
        </button>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6 text-right">
        <button (click)="addOrUpdateDraft()" class="green-btn"><i class="fa fa-plus"></i> Save Template</button>
      </div>
    </div>
  </div>

  <div class="div-section">
    <div class="col-md-12 draft">
      <div class="pb-1">
        <div class="col-md-12 p-0">
          <div *ngIf="draft" class="input-box p-0">
            <label>title</label>
            <input maxlength="64" [(ngModel)]="draft.title" #title type="text" placeholder="name" class="form-control"
                   [ngClass]="{'border-error' : saveTried && draft.title.length == 0}">
            <div class="error-place">
              <div class="text-left">
                <p class="errorMessage" *ngIf="!title.value  && (titleValue || saveTried)" [@errorAnimation]>
                  <i class="far fa-exclamation-circle"></i>Required!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <app-message-template-builder *ngIf="draft" [messageText]="draft.messageText"
                                    (draftLoaded)="setDraft($event)"
                                    (maxLenValidated)="isMaxLenValid = $event"
                                    (messageTextChanged)="setMessageText($event)"
      >

      </app-message-template-builder>


    </div>
  </div>
</div>
