<div class="container-fluid">
    <div class="container text-center">

        <div class="ws-box">
            <div class="img-logo text-center">
                <img src="../../../assets/images/login.png" class="center-block img-responsive">
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 right-box ws-login-box">
                <form *ngIf="step==1" #formDir="ngForm">
                    <h3>Reset Password</h3>
                    <span>We'll send you verification code, check your mobile :)</span>
                    <div class="col-md-10 col-md-offset-1 col-xs-12"
                         [formGroup]="forgotPassword">
                        <div class="input-box v-input-box">
                            <input type="text"
                                   placeholder="Your phone number"
                                   class="ws-login-input vinput"
                                   formControlName="Mobile"
                                   appNumericInput
                                   autofocus autocomplete="off">
                            <select class="v-input-select">
                                <option><img src="#"> +98</option>
                                <option>English</option>
                                <option>Persian</option>
                            </select>
                        </div>
                        <div class="text-left">
                            <p class="errorMessage"
                              *ngIf="(forgotPassword.hasError('required', 'Mobile') && formDir.submitted)
                                 ||  (forgotPassword.get('Mobile').hasError('required') && forgotPassword.get('Mobile').touched)">
                                 this filed is required!
                            </p>
                            <p class="errorMessage"
                                  *ngIf="(forgotPassword.controls['Mobile'].hasError('pattern')
                                    && (forgotPassword.controls['Mobile'].dirty
                                    || forgotPassword.controls['Mobile'].touched))
                                    || (forgotPassword.controls['Mobile'].hasError('pattern') && formDir.submitted) ">
                                    phone number is invalid!
                            </p>
                        </div>
                    </div>
                    <div class="col-md-10 col-md-offset-1 col-xs-12">
                        <button type="submit" class="ws-btn login-btn" (click)="sendVerificationCode()">
                            Get Verification mCode
                        </button>
                    </div>
                    <div class="col-md-12">
                        <hr>
                        <p>Go back to <span class="sign-in" [routerLink]="['../login']">Sign in</span> page</p>
                    </div>
                </form>
                <div *ngIf="step==2">
                    <h3>Reset Password</h3>
                    <span>We'll send you verification code, check your mobile :)</span>
                    <!--<p>your number : <span>{{mobile}}</span> <span> wrong ? </span></p>-->
                    <div class="col-md-10 col-md-offset-1 col-xs-12 detail-box">
                        <div class="col-md-12 no-pad">
                            <p class="wrong">your number : <span>{{mobile}}</span> <span (click)="step=1"> wrong ???? </span></p>
                            <p class="text-left">Inter verification code</p>
                        </div>
                        <div class="col-md-12 input-box-vc no-pad">
                            <input appNumericInput maxlength="1" [(ngModel)]="verificationCodePart1"
                                   (ngModelChange)="setFocus(1,$event)" #verificationCodePart1Element type="text"
                                   class="col-md-2 verification-code-input">
                            <input appNumericInput maxlength="1" [(ngModel)]="verificationCodePart2"
                                   (ngModelChange)="setFocus(2,$event)" #verificationCodePart2Element type="text"
                                   class="col-md-2 verification-code-input">
                            <input appNumericInput maxlength="1" [(ngModel)]="verificationCodePart3"
                                   (ngModelChange)="setFocus(3,$event)" #verificationCodePart3Element type="text"
                                   class="col-md-2 verification-code-input">
                            <input appNumericInput maxlength="1" [(ngModel)]="verificationCodePart4"
                                   (ngModelChange)="setFocus(4,$event)" #verificationCodePart4Element type="text"
                                   class="col-md-2 verification-code-input">
                            <input appNumericInput maxlength="1" [(ngModel)]="verificationCodePart5"
                                   (ngModelChange)="setFocus(5,$event)" #verificationCodePart5Element type="text"
                                   class="col-md-2 verification-code-input">
                        </div>
                        <div class="col-md-11 no-pad">
                            <p class="resend"><img src="../../assets/images/redo.png"> Resend again</p>
                        </div>
                    </div>
                    <div class="col-md-12 no-pad">
                        <hr>
                        <p>Go back to <span [routerLink]="['../login']" class="sign-in" >Sign in</span> page</p>
                    </div>
                </div>
                <div *ngIf="step==3">
                    <h3>Reset Password</h3>
                    <span>Update your account password</span>
                    <div class="col-md-10 col-md-offset-1 col-xs-12">
                        <div class="input-box v-input-box">
                            <input [(ngModel)]="password" type="text" class="ws-login-input vinput reset-password-input"
                                   autofocus
                                   autocomplete="off" placeholder="Enter your new password">
                            <span><i class="fa fa-lock"></i></span>
                            <span><i class="fa fa-eye"></i></span>
                            <input [(ngModel)]="confirmPassword" type="text"
                                   class="ws-login-input vinput reset-password-input"
                                   autofocus autocomplete="off" placeholder="Confirm your password">
                            <span><i class="fa fa-lock"></i></span>
                            <span><i class="fa fa-eye"></i></span>
                        </div>
                    </div>
                    <div class="col-md-10 col-md-offset-1 col-xs-12">
                        <button class="ws-btn login-btn" (click)="changePassword()">Reset Password</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 footer-weib">
                <p>©2019 Weiß SMS. All rights reserved.</p>
            </div>
        </div>

    </div>
</div>


