.ws-box{
    height: 500px;
    position: absolute;
    margin: auto;
    top: -40px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 34%;
}
.ws-login-box {
    background: #fff;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}
.img-logo {
    padding: 0 0 15px;
}
.img-logo img{
    width: 200px;
}
.right-box{
    padding: 10px 0 20px;
}
::placeholder{
    color: #a7abc3;
    font-size: 12px;
}
.input-box{
    margin-top: 20px;
}
.vinput{
    margin-bottom: 10px;
    padding-left: 100px;
}
.v-input-box{
    position: relative;
}
.input-box span{
    position: absolute;
}

.input-box span:nth-child(2){
    top: 10px;
    left: 10px;
}
.input-box span:nth-child(3){
    top: 10px;
    right: 15px;
}
.input-box span:nth-child(5){
    top: 62px;
    left: 10px;
}
.input-box span:nth-child(6){
    top: 62px;
    right: 15px;
    cursor: pointer;
}
.input-box span i{
    color: #b8b7ba6b;
    font-size: 20px;
}
.v-input-select{
    position: absolute;
    top: 1px;
    left: 1px;
    border: none;
    padding: 5px;
    width: 90px;
    height: 40px;
    border-right: 1px solid #f0f0f0;
}
p.forgot-pass{
    cursor: pointer;
    text-align: right;
    font-size: 13px;
    color: #08a5a3;
    padding: 10px 0;
}
.ws-btn span {
    font-size: 15px;
    position: relative;
    top: -5px;
}
hr {
    margin-bottom: 15px;
}
.input-box{
    position: relative;
}
.detail-box{
    padding: 30px;
}
.wrong{
    text-align: left;
    padding-bottom: 5px;
    cursor: pointer;
}
.wrong span:first-child{
    font-weight: 600;
}
.wrong span:nth-child(2){
    color: #f4472c;
    font-size: 12px;
}


@keyframes turn {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.reset-password-input{
    padding-left: 30px;
}
@media (min-width: 1600px) {
    .ws-box {
        width: 35%;
    }
}

@media (max-width: 768px) {
    .ws-box {
        width: 95%;
    }

    .vb-content {
        width: calc(100% + -30px) !important;
    }

    .affiliate-register-form {
        margin-top: 20px;
    }
}



























