.section-div {
  background-color: #ffffff;
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 12px;
  margin-bottom: 15px;
}
.download{
  text-decoration: underline;
  color: #2786fb;
}
.title p{
  font-size: 14px;
}
