<div class="section-div from-file">
    <div class="title form-group">
        <h5 class="mb-4">Add Contact</h5>
        <p> You can Download  Excel Template  <i class="fa fa-arrow-circle-right"></i>  <span class="download" (click)="downloadSample()"> Download </span> </p>
    </div>
    <div class="col-md-12 text-center no-pad">
        <file-drop accept=".xlsx" browseBtnClassName="myClass" showBrowseBtn="true" dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)">
            <p>click or drag and drop file here.</p><br/>
        </file-drop>
    </div>
</div>
