.section-div {
  background-color: #ffffff;
  border-radius: 0 0 .4rem .4rem;
  padding: 10px 15px;
  font-size: 12px;
  margin-bottom: 15px;
}

.download {
  text-decoration: underline;
}

.title {
  i {
    animation: move-forward 1s infinite ease-in;
  }
}
