.div-section {
  border-radius: 0 0 .4rem .4rem;
  padding: 1rem
}

.download {
  text-decoration: underline;
}

.title {
  i {
    animation: move-forward 1s infinite ease-in;
  }
}
.ngx-file-drop__content{
  display: block !important;
}