<div class="col-md-12 content-box event">
  <h4>Event</h4>
  <p>* Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

  <div class="event-field-input">
    <label>Name : </label> <input class="name-input" type="text">
    <br/>
    <br/>
    <div class="event-field">
      <label>Repeat: </label><input type="checkbox"> <span> Forever </span>  &nbsp;
      <input type="checkbox"> <span class="input-active"> Limited </span>
    </div>
    <div class="from-to">
      <label>from : </label> <input type="text" placeholder="Date"> - <input type="text" placeholder="Time">
      <br/>
      <br/>
      <label>to : </label> <input type="text" placeholder="Date"> - <input type="text" placeholder="Time">
      <br/>
      <br/>
    </div>

    <label>interval : </label> <input type="text" placeholder="Date"> - <input type="text" placeholder="Time">
  </div>

</div>
