<div class="main-container">
  <div class="col-md-12 div-section">
    <div class="col-md-12 profile">
      <h3 class="title">
        Billing address
      </h3>
      <div class="col-md-12 no-pad">
        <label>Full name :</label>
        <input type="text" class="full-name" placeholder="Enter your Full name">
      </div>
      <div class="col-md-12 no-pad select-input">
        <div class="col-md-3 no-pad">
          <label>Country :</label>
          <select>
            <option>select</option>
            <option>Female</option>
            <option>Male</option>
            <option>Unknown</option>
          </select>
        </div>
        <div class="col-md-3 no-pad">
          <label>Zipcode :</label>
          <select>
            <option>select</option>
            <option>Female</option>
            <option>Male</option>
            <option>Unknown</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>