<div class="col-md-12 content-box originator">
  <p>Originator</p>
  <p>choose your originator :
      <select>
        <option>100000</option>
        <option>3000000</option>
        <option>50000 sms</option>
      </select>
  </p>
</div>

<div class="col-md-12 content-box recipient">
  <p>Recipients</p>
  <div class="col-md-12 filter-section">
    <div class="col-md-6 no-pad select text-left">
      <input type="checkbox"> SELECT ALL
    </div>
    <div class="col-md-6 operation no-pad text-right">
      <div class="search">
        <input type="text" class="form-control" placeholder="Search Group">
        <button class="btn btn-secondary search-icon" type="button">
          <i class="fa fa-search"></i>
        </button>
      </div>
      <button class="gray-btn op-btn">
        <i class="fa fa-filter"></i> Filter
      </button>
      <button class="gray-btn op-btn">
        <i class="fa fa-sort"></i> Sort
      </button>
    </div>
  </div>
  <div class="col-md-12 recipient-table no-pad table-responsive">
    <table>
      <tr>
        <td align="left"><input type="checkbox">Test 01</td>
        <td align="right">Recipient 01</td>
      </tr>
    </table>
    <table class="space-table">
      <tr>
        <td align="left"><input type="checkbox">Test 01</td>
        <td align="right">Recipient 01</td>
      </tr>
    </table>
    <table class="space-table">
      <tr>
        <td align="left"><input type="checkbox">Test 01</td>
        <td align="right">Recipient 01</td>
      </tr>
    </table>
    <table class="space-table">
      <tr>
        <td align="right">Recipient: 0</td>
      </tr>
    </table>
  </div>
</div>