<div class="btn-section">
    <div class="row">
        <div class="col-12 col-md-6 col-sm-6 col-xs-6 text-left">
            <button class="previous-btn" [routerLink]="['/group/list']"><i class="fa fa-arrow-left"></i> Previous</button>
        </div>
        <div class="col-12 col-md-6 col-sm-6 col-xs-6 text-right">
            <button [routerLink]="['add-contact', 'single-contact']" class="green-btn"> Add Contact</button>
        </div>
    </div>
</div>
<div class="div-section">
    <!--operation-->
    <div class="row operation">
        <div class="col-md-6 operation-section form-group">
            <!--<span class="input-check mr-2">-->
                <!--<mat-checkbox></mat-checkbox>-->
            <!--</span>-->
            <!--<button class="trash mr-2">-->
                <!--<i class="fa fa-trash"></i>-->
            <!--</button>-->
            <!--TODO: DELET SELECT ALL-->

            <select class="light-blue-btn mr-2">
                <option> Export</option>
                <option> Test 1</option>
                <option> Test 1</option>
            </select>
            <button class="light-blue-btn">
                <i class="fa fa-filter"></i> Filter
            </button>
        </div>
        <div class="col-md-6 operation-section form-group">
            <!--<app-search [params]="[{title: 'device'}, {title: 'location'}]"></app-search>--> search
            <!--TODO--> search
        </div>
    </div>
    <!--table-->
    <div class="table-div table-responsive">
        <table class="index-table text-left">
            <thead>
            <tr>
                <th class="text-left"><i class="fa fa-sort"></i> Id</th>
                <th class="text-left"><i class="fa fa-sort"></i> Phone number</th>
                <th class="text-left"><i class="fa fa-sort"></i> Name</th>
                <th class="text-left"><i class="fa fa-sort"></i> Surname</th>
                <th class="text-left"><i class="fa fa-sort"></i> Email</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let contact of contacts| paginate : {
                                itemsPerPage : 10, currentPage : pageNumber, totalItems : totalItemsCount
                                },index as i">
              <td class="text-left">
                <div>
                  {{i + 1}}
                </div>
              </td>
              <td class=" text-left">
                    <div>{{contact.mobile}}</div>
                </td>
                <td class="text-left">
                    <div class="table-head">
                        <span>{{contact.firstName}}</span>
                    </div>
                </td>
                <td class=" text-left">
                    <div>{{contact.lastName}}</div>
                </td>
                <td class=" text-left">
                  <div>{{contact.email}}</div>
                </td>
                <td class="td-single text-left actions-container">
                    <div class="actions text-right">
                        <a (click)="removeFromGroup(contact, i)"><i class="fa fa-trash light-red-btn"></i></a>
                        <a [routerLink]="['contact',contact.id]"><i class="fa fa-pencil light-green-btn"></i></a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <!--pagination-->
        <div class="col-12 pagination-div">
            <div class="row pt-1 pb-1">
                <div class="col-12 col-md-6 text-left fo-3 black-text font-weight-bold">Displaying 1-10 of
                    {{totalItems}} records
                </div>
                <div class="col-12 col-md-6 text-right">
                    <pagination-controls (pageChange)="doPaging($event)"
                                         maxSize="5"
                                         responsive="true"
                                         previousLabel=""
                                         nextLabel="">
                    </pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>


