.message-report {
  background-color: #e4f2ff;
  border: 1px solid #beddff;
  padding: 10px;
  border-radius: 4px 12px 12px 12px;
  margin-bottom: 20px;
  span {
    color: #969ca2;
    font-size: 12px;
  }
  p {
    padding: 10px 0;
  }
}

.message-report span:nth-child(2) {
  float: right;
}

.send-again {
  text-align: right;
  padding: 0 !important;
  display: unset;
  a {
    text-decoration: none;
    cursor: pointer;
    float: right;
  }
}

i.fa.fa-sort {
  margin-right: 5px;
}