.navbar{
    margin-left: 235px;
    background: #ffffff;
    border-radius: 0 !important;
    margin-bottom: 0;
    box-shadow: 5px 0 10px rgba(0,0,0, .5);
}
.slim-navbar {
    margin-left: 70px;
}
.hidden-navbar {
    margin-left:0;
}
.navbar-toggle {
    margin-left: 0;
}
@media (max-width: 767px) {
    .navbar-toggle {
        margin-left: 0;
    }
}
.navbar-content{
    display: flex !important;
    flex-basis: auto;
}
.navbar-content ul{
    margin-left: auto !important;
    /*display: flex;*/
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.navbar-content ul li{
    border-left: 1px solid #edeef0;
}
.navbar-content ul li:nth-child(2) {
    line-height: 59px;
    padding: 0 15px;
}
.navbar-content ul li:first-child{
    border-left: none;
    line-height: 49px;
}
a.toggle-menu{
    padding: 0 14px;
    line-height: 60px;
    min-height: 60px;
    font-size: 25px;
    color: #434349;
    cursor: pointer;
}
.right-nav{

}
.right-nav span{
    font-size: 15px;
    color: #434349;
}
.credit h5{
    color: #ffffff;
    padding: 5px 0;
    margin: 0;
}
.buy-credit{
    border: none;
    font-size: 12px;
    font-weight: 400;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
    color: #0abb87;
    transition: .2s;
    background: none;
    margin-right: 15px;
}
.notification i{
    color: #000000;
    font-size: 20px;
    cursor: pointer;
}

/*------nav-right-section------*/
/*profile*/
.profile {
    padding: 0 14px;
    line-height: 60px;
    min-height: 60px;
}
.dropdown-profile li{
    width: 100%;
}
.profile a{
    text-decoration: none;
    cursor: pointer;
    font-size: 12px;
}
.profile a img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
}
.profile a b{
    font-size: 12px;
    margin-left: 10px;
    color: #ffe9ea;
    font-weight: 400;
}
.btn-group.open .dropdown-toggle {
    box-shadow: none;
}
/*----------*/
.notification-alarm {
    position: relative;
    top: -12px;
    right: -12px;
}
.notification-alarm .wave {
    position: absolute;
    z-index: 10;
    top: -19px;
    right: -3px;
    width: 24px;
    height: 24px;
    animation: wave 1s ease-out infinite;
    border: 3px solid #949494;
    border-radius: 70px;
}

.notification-alarm .dot {

    position: absolute;
    top: -10px;
    right: 6px;
    width: 6px;
    height: 6px;
    border-radius: 30px;
    background-color: #0017f1;
}
@keyframes wave{
    0% {
        -webkit-transform: scale(0);
        opacity: .0;
    }
    25% {
        -webkit-transform: scale(.1);
        opacity: .1;
    }
    50% {
        -webkit-transform: scale(.5);
        opacity: .3;
    }
    75% {
        -webkit-transform: scale(.8);
        opacity: .5;
    }
    100% {
        -webkit-transform: scale(1);
        opacity: .0;
    }
}
