.navbar {
  margin-left: 235px;
  background: #ffffff;
  border-radius: 0 !important;
  margin-bottom: 0;
  box-shadow: 5px 0 10px rgba(0, 0, 0, .5);
}

.slim-navbar {
  margin-left: 70px;
}

.hidden-navbar {
  margin-left: 0;
}

.navbar-toggle {
  margin-left: 0;
}

@media (max-width: 767px) {
  .navbar-toggle {
    margin-left: 0;
  }
}

.navbar-content {
  display: flex !important;
  flex-basis: auto;
  ul {
    margin-left: auto !important;
    /*display: flex;*/
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    li.nav-item {
      border-left: 1px solid #edeef3;
    }
  }
}

a.toggle-menu {
  padding: 0 14px;
  line-height: 60px;
  min-height: 60px;
  font-size: 25px;
  color: #6c7293;
  cursor: pointer;
}

.right-nav span {
  font-size: 15px;
  color: #434349;
}

.credit h5 {
  color: #ffffff;
  padding: 5px 0;
  margin: 0;
}

/*------nav-right-section------*/
.credit {
  padding: 19px 10px;
  span {
    padding-right: 10px;
    color: #6c7293;
  }
}

/*profile*/
.profile {
  padding: 0 14px;
  line-height: 60px;
  min-height: 60px;
  i {
    font-size: 22px;
    background: #5867dd;
    color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 7px 5px;
  }
}

.language {
  a {
    padding: 13px 15px 6px;
    img {
      border-radius: 50%;
      width: 32px;
      height: 34px;
    }
  }
}

.notification, .guide {
  a {
    line-height: 59px;
    i {
      color: #6c7293;
      font-size: 20px;
    }
  }
}

.btn-group.open .dropdown-toggle {
  box-shadow: none;
}

/*----------*/
.notification-alarm {
  position: relative;
  top: -12px;
  right: -12px;
}

.notification-alarm .wave {
  position: absolute;
  z-index: 10;
  top: -38px;
  right: 18px;
  width: 24px;
  height: 24px;
  animation: wave 1s ease-out infinite;
  border: 3px solid #949494;
  border-radius: 70px;
}

.notification-alarm .dot {
  position: absolute;
  top: -29px;
  right: 27px;
  width: 6px;
  height: 6px;
  border-radius: 30px;
  background-color: #fab63f;
}

@keyframes wave {
  0% {
    -webkit-transform: scale(0);
    opacity: .0;
  }
  25% {
    -webkit-transform: scale(.1);
    opacity: .1;
  }
  50% {
    -webkit-transform: scale(.5);
    opacity: .3;
  }
  75% {
    -webkit-transform: scale(.8);
    opacity: .5;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: .0;
  }
}
