<nav [ngClass]="{'slim-navbar':configService.sidebarMode=='slim', 'hidden-navbar':configService.sidebarMode=='hidden'}"
     class="navbar navbar-expand navbar-light topbar static-top">
    <!--Sidebar Toggle (Topbar) -->
    <a (click)="changeSidebarState()" class="toggle-menu"><i class="fa fa-bars"></i></a>
    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto mr-3">
        <!--credit-->
        <li class="nav-item d-none d-xl-block">
            <div class="credit">
                <span>Your credits : €{{sharedService.getCurrentUserInfo().credit}}</span>
                <button [routerLink]="['add-fund/list']" class="light-green-btn">Buy Credit</button>
            </div>
        </li>
        <!--help-->
        <li class="nav-item mr-1">
            <a class="nav-link guide" id="searchDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false" (click)="showHelp()">
                <i class="fa fa-question-circle"></i>
            </a>
        </li>
        <!--notification-->
        <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle notification" href="#" id="alertsDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-bell"></i>
            </a>
            <div class="dropdown-list dropdown-menu dropdown-menu-right animated--grow-in "
                 aria-labelledby="alertsDropdown">
                <a class="dropdown-item d-flex align-items-center" (click)="showNotification(notification,i)"
                   *ngFor="let notification of userNotifications,index as i">
                    {{notification.title}}
                </a>
                <a class="dropdown-item d-flex align-items-center" (click)="showNotification(notification,i)"
                   routerLink="../notification">
                    More
                </a>
            </div>
        </li>
        <!--language-->
        <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle language" id="messagesDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-globe center-block img-responsive"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right animated--grow-in mt-0 p-0 language-div" aria-labelledby="userDropdown">
                <a class="dropdown-item">
                    <img src="../../../../assets/images/flags/de.svg" class="language-flag"> German
                </a>
                <a class="dropdown-item">
                    <img src="../../../../assets/images/flags/us.svg" class="language-flag"> English
                </a>
            </div>
        </li>
        <!--profile-->
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle profile" href="#" id="userDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                <i *ngIf="!sharedService.getCurrentUserInfo().imageUrl" class="fa fa-user"></i>
                <img *ngIf="sharedService.getCurrentUserInfo().imageUrl" class="img-profile rounded-circle"
                     [src]="sharedService.getCurrentUserInfo().imageUrl" alt="">
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right animated--grow-in profile p-0 mt-0" aria-labelledby="userDropdown">
                <a class="dropdown-item fo-4" [routerLink]="['/profile']">
                    <i class="fa fa-user"></i> Profile
                </a>
                <a class="dropdown-item fo-4" [routerLink]="['/change-password']">
                    <i class="fa fa-lock"></i> Change password
                </a>
                <a class="dropdown-item fo-4" [routerLink]="['/billing-address']">
                    <i class="fa fa-address-book"></i> Billing address
                </a>
                <a class="dropdown-item fo-4" (click)="logOut()">
                    <i class="fa fa-power-off"></i> Log out
                </a>
            </div>
        </li>
    </ul>
</nav>