@import "../../../../assets/style/components/variables";

.navbar {
  margin-left: $sidebar-padding;
  background: $white;
  border-radius: $radius-0;
  box-shadow: $box-shadow;

  //bar
  a.toggle-menu {
    padding: 0 14px;
    line-height: 60px;
    min-height: 60px;
    font-size: $fo-25;
    color: $dark-purple;
    cursor: pointer !important;
  }
}

.slim-navbar {
  margin-left: 70px;
}

.hidden-navbar {
  margin-left: 0;
}

.navbar-toggle {
  margin-left: 0;
}

.credit {
  h5 {
    color: $white;
    padding: 5px 0;
    margin: 0;
  }
}

/*------nav-right-section------*/
.dropdown-menu {
  border: $border-light;
  border-radius: $radius-0;
  color: $light-black;
  .dropdown-item {
    color: $light-black;
  }
  .dropdown-item.active, .dropdown-item:active {
    background-color: $light-gray;
  }
}

.credit {
  padding: 14px 10px;
  span {
    color: $dark-purple;
  }
}

.navbar-nav {
  .language, .notification, .guide, .profile {
    line-height: 51px;
    i {
      color: $dark-purple;
      font-size: 20px;
    }
  }

  .profile {
    a:hover {
      background-color: #e2e5ec;
    }
  }

  .language-div {
    cursor: pointer;
    a {
      cursor: pointer;
    }
    a:hover {
      background-color: #e2e5ec;
    }
  }

  .notification-div {
    a:hover {
      background-color: #e2e5ec;
    }
  }

  .language-div {
    a {
      padding: 1rem;
    }
  }

  img.language-flag {
    width: 28px;
  }

  button.mat-menu-item {
    font-size: 15px;
    border-bottom: 1px solid $light-gray;
  }

  button.mat-menu-item:last-child {
    border-bottom: none;
  }
  .more-notif {
    color: $red !important;
    border-top: 1px solid $dark-white;
  }
}


