<!--<div class="container-fluid">-->
    <!--<div class="col-md-12 breadcrumb no-pad">-->
      <!--<div class="col-md-6 no-pad text-left">White sms</div>-->
      <!--<div class="col-md-6 no-pad text-right">Home</div>-->
    <!--</div>-->
    <!--<div class="col-md-12 alert-box no-pad">-->
      <!--<i class="fa fa-exclamation-triangle"></i>  You are using test page, please buy premium-->
    <!--</div>-->
<!--</div>-->

<!--<div [@routerTransition]>-->
  <!--<app-steps></app-steps>-->
  <!--<app-dashboard-reports></app-dashboard-reports>-->
<!--</div>-->



<!--billing-log-->
<div class="main-container">
    <div class="col-md-12 billing-log">
        <h4>Billing Log</h4>
        <div class="col-md-12 filter-section">
            <div class="col-md-6 no-pad select text-left">
                <input type="checkbox"> SELECT ALL
            </div>
            <div class="col-md-6 operation no-pad text-right">
                <div class="search">
                    <input type="text" class="form-control" placeholder="Search Group">
                    <button class="btn btn-secondary search-icon" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
                <button class="default-btn op-btn">
                    <i class="fa fa-filter"></i> Filter
                </button>
                <button class="default-btn op-btn">
                    <i class="fa fa-sort"></i> Sort
                </button>
            </div>
        </div>
        <div class="col-md-12 table-section no-pad text-left">
            <table class="index-table text-left">
                <thead>
                    <tr>
                        <th class="text-right"><i class="fa fa-sort"></i> #</th>
                        <th class="text-center"><i class="fa fa-sort"></i> Date Time</th>
                        <th class="text-center"><i class="fa fa-sort"></i> Description </th>
                        <th class="text-center"><i class="fa fa-sort"></i> Type </th>
                        <th class="text-center"><i class="fa fa-sort"></i> User Credits </th>
                        <th class="text-center"><i class="fa fa-sort"></i> Remain Credit </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-right">
                            <div class="table-head">
                                #01
                            </div>
                        </td>
                        <td class="text-center">
                            2019-04-20, 11:08
                        </td>
                        <td class="text-center">
                            LOREM IPSUM
                        </td>
                        <td class="text-center">
                           <button class="schedule-btn">schedule</button>
                        </td>
                        <td class="text-center">
                            100 Credits
                        </td>
                        <td class="text-center">
                            900 Credits
                        </td>
                    </tr>
                    <tr>
                        <td class="text-right">
                            <div class="table-head">
                                #01
                            </div>
                        </td>
                        <td class="text-center">
                            2019-04-20, 11:08
                        </td>
                        <td class="text-center">
                            LOREM IPSUM
                        </td>
                        <td class="text-center">
                            <button class="simple-btn">Simple</button>
                        </td>
                        <td class="text-center">
                            100 Credits
                        </td>
                        <td class="text-center">
                            900 Credits
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="table-pagination text-right">
                <span><i class="fa fa-arrow-circle-left"></i></span>
                <span><i class="fa fa-arrow-circle-right"></i></span>
            </div>
        </div>
    </div>
</div>