<div class="container-fluid">
    <div class="col-md-12 breadcrumb no-pad">
      <div class="col-md-6 no-pad text-left">White sms</div>
      <div class="col-md-6 no-pad text-right">Home</div>
    </div>
    <div class="col-md-12 alert-box no-pad">
      <i class="fa fa-exclamation-triangle"></i>  You are using test page, please buy premium
    </div>
</div>

<!--<div [@routerTransition]>-->
  <!--<app-steps></app-steps>-->
  <!--<app-dashboard-reports></app-dashboard-reports>-->
<!--</div>-->
