<div class="container-fluid">
  <div class="container text-center">
    <div class="img-logo hidden-xs text-center">
      <img src="../../assets/images/login.png" class="center-block img-responsive">
    </div>
    <div class="ws-login-box">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 right-box">
        <div>
          <h3>Reset password</h3>
          <span>We'll send you notification code,check your mobile :)</span>
        </div>
        <div *ngIf="step==1" class="col-md-10 col-md-offset-1 col-xs-12">
          <div class="input-box">
            <input  [(ngModel)]="mobile" type="text" placeholder="Your phone number" class="ws-login-input vinput" autofocus autocomplete="off">
            <span></span>
            <button class="ws-btn login-btn" (click)="sendVerificationCode()">Get Verification Code</button>
          </div>
        </div>
        <div class="col-md-12 no-pad">
          <hr>
          <p>Go back to <span class="sign-up" [routerLink]="['/login']" >Sign in</span> page.</p>
        </div>
      </div>
      <div>
        <div *ngIf="step==2" class="col-md-10 col-md-offset-1 col-xs-12">
          <p>your number : <span>09197514700</span> <span> wrong ? </span></p>
          <input (keyup)="onTxtCodeKeyUp()"  [(ngModel)]="verificationCode" maxlength="5" type="text" class="ws-login-input verification-input vinput" autofocus autocomplete="off" placeholder="verificationCode">
          <p><i class="fa fa-redo"></i> Resend again</p>
        </div>
      </div>
      <div>
        <div *ngIf="step==3" class="col-md-10 col-md-offset-1 col-xs-12">
          <input [(ngModel)]="password"  type="text" class="ws-login-input vinput" autofocus autocomplete="off" placeholder="password">
          <input [(ngModel)]="confirmPassword" type="text" class="ws-login-input vinput" autofocus autocomplete="off" placeholder="confirm password">
          <button class="ws-btn login-btn" (click)="changePassword()">Change Password</button>
          <p>enter code</p>
        </div>
      </div>
    </div>
  </div>
</div>
