::placeholder{
    color: #6c707e;
    font-size: 12px;
}
h3{
    color: #000000;
    font-weight: 400;
    font-size: 18px;
}
span{
    font-weight: 400;
    color: #000000;
}
.img-logo{
    position: absolute;
    top: 50px;
    right: 0;
    bottom: 50px;
    left: 0;
    height: 100px;
}
.img-logo img{
    width: 100px;
}
.ws-login-box {
    background: #fff;
    height: 340px;
    position: absolute;
    margin: auto;
    top: 40px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 34%;
    box-shadow: 0 3px 9px 6px #cccccc;
}
.right-box{
    padding: 25px 0 30px;
}

@media (min-width: 1600px) {
    .ws-login-box {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .ws-login-box {
        width: 95%;
    }

    .vb-content {
        width: calc(100% + -30px) !important;
    }

    .affiliate-register-form {
        margin-top: 20px;
    }
}
input-box{
    margin-top: 20px;
}
.ws-login-input {
    display: block;
    margin: 30px auto;
    width: 100%;
    background: #ffffff;
    color: #000000;
    border: none;
    height: 42px;
    padding: 0 30px;
    font-size: 14px;
    font-weight: bold;
    box-shadow: inset 0 0 2px #cccccc;
}
p.forgot-pass{
    cursor: pointer;
    text-align: right;
    font-size: 13px;
    color: #08a5a3;
    padding: 10px 0;
}
.sign-up{
    color: #83d2d1;
    cursor: pointer;
}
.ws-btn {
    background: #83d2d1;
    display: inline-block;
    padding: 10px 50px;
    color: #000;
    font-size: 25px;
    opacity: .8;
    cursor: pointer;
    transition: .3s;
    box-shadow: 0 4px 11px #b7b7b7;
    border: none;
    width: 100%;
}
.login-btn{
    font-size: 15px;
    padding: 9px 60px;
    box-shadow: none
}
.ws-btn span {
    font-size: 15px;
    position: relative;
    top: -5px;
}
.ws-btn:hover {
    background: #7ccdcc;
    opacity: 1;
}
hr {
    margin-bottom: 15px;
}
.input-box{
    position: relative;
}
.send-verification-code{
    padding-top: 20px;
}
.send-verification-code p{
    text-align: left;
    font-size: 12px;
}
.send-verification-code p:nth-child(3){
    text-align: right;
}
.send-verification-code p span:nth-child(2){
    color: #f66480;
}
.verification-input{
    margin: 5px auto;
}