<div class="container-fluid">
  <div class="container text-center">

    <div class="ws-box">
      <div class="img-logo text-center">
        <img src="../../assets/images/login.png" class="center-block img-responsive">
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 right-box ws-login-box">
        <div *ngIf="step==1">
          <h3>Reset Password</h3>
          <span>We'll send you verification code, check your mobile :)</span>
          <div class="col-md-10 col-md-offset-1 col-xs-12">
             <div class="input-box v-input-box">
                <input  [(ngModel)]="mobile" type="text" placeholder="Your phone number" class="ws-login-input vinput" autofocus autocomplete="off">
                <select class="v-input-select">
                  <option><img src="#"> +98</option>
                  <option>English</option>
                  <option>Persian</option>
                </select>
             </div>
          </div>
          <div class="col-md-10 col-md-offset-1 col-xs-12">
            <button class="ws-btn login-btn" (click)="sendVerificationCode()">Get Verification Code</button>
          </div>
          <div class="col-md-12">
            <hr>
            <p>Go back to <span class="sign-in" (click)="login()" >Sign up</span> page</p>
          </div>
        </div>
        <div *ngIf="step==2">
          <h3>Reset Password</h3>
          <span>We'll send you verification code, check your mobile :)</span>
          <p>your number : <span>09197514700</span> <span> wrong ? </span></p>
          <div class="col-md-10 col-md-offset-1 col-xs-12">
            <div class="input-box-vc">
              <p class="wrong">your number : <span>09197514700</span> <span> wrong ? </span></p>
              <input type="text" class="verification-code-input">
              <input type="text" class="verification-code-input">
              <input type="text" class="verification-code-input">
              <input type="text" class="verification-code-input">
              <input type="text" class="verification-code-input">
              <!--<input (keyup)="onTxtCodeKeyUp()"  [(ngModel)]="verificationCode" maxlength="5" type="text" class="ws-login-input verification-input vinput" autofocus autocomplete="off" placeholder="verificationCode">-->
              <p class="resend"><img src="../../assets/images/redo.png"> Resend again</p>
            </div>
          </div>
          <div class="col-md-12 no-pad">
            <hr>
            <p>Go back to <span class="sign-in" (click)="login()" >Sign up</span> page</p>
          </div>
        </div>
        <div *ngIf="step==3">
          <h3>Reset Password</h3>
          <span>Update your account password</span>
          <div class="col-md-10 col-md-offset-1 col-xs-12">
            <div class="input-box v-input-box">
              <input [(ngModel)]="password"  type="text" class="ws-login-input vinput reset-password-input" autofocus autocomplete="off" placeholder="Enter your new password">
              <input [(ngModel)]="confirmPassword" type="text" class="ws-login-input vinput reset-password-input" autofocus autocomplete="off" placeholder="Confirm your password">
            </div>
          </div>
          <div class="col-md-10 col-md-offset-1 col-xs-12">
            <button class="ws-btn login-btn" (click)="changePassword()">Change Password</button>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 footer-weib">
        <p>©2019 Weiß SMS. All rights reserved.</p>
      </div>
    </div>

  </div>
</div>


