<!--<div class="col-md-12 no-pad">-->
  <!--<div class="col-md-8 padding">-->
    <!--<textarea placeholder="Message |" (input)="onMessageTextChange()" [(ngModel)]="draft.messageText" rows="9" class="content-box"></textarea>-->
    <!--<div class="count-sms">-->
      <!--<span>{{localSmsLen}} / {{container}}</span>  |  <span>{{smsCount}} SMS</span>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="col-md-4 padding">-->
    <!--<div class="content-box personalize">-->
      <!--<p>Personalize</p>-->
      <!--<p>* To use the field dynamically</p>-->
      <!--<p (click)="addSegment(1)"><i class="fa fa-plus-circle"></i> Name</p>-->
      <!--<p (click)="addSegment(2)"><i class="fa fa-plus-circle"></i> Surname</p>-->
      <!--<p (click)="addSegment(3)"><i class="fa fa-plus-circle"></i> Phone number</p>-->
    <!--</div>-->
    <!--<div class="template">-->
      <!--<select (change)="test($event)" class="content-box">-->
        <!--<option [innerText]="d.Title" [value]="d.Id" *ngFor="let d of drafts">-->
        <!--</option>-->
      <!--</select>-->
    <!--</div>-->
  <!--</div>-->

<!--</div>-->
