@import "../../../../../../src/assets/style/components/variables";

.content-box {
  border: 1px solid $light-gray;
  border-radius: 4px;
  padding: 9px 15px;
  color: $black;
  margin-bottom: 10px;
}


textarea.content-box {
  width: 100%;
  padding: 10px 10px 45px !important;
}

.textarea-label {
  position: absolute;
  top: 5px;
  left: 10px;
  color: $gray;
}

.count-sms {
  position: absolute;
  right: 30px;
  bottom: 20px;
}

select {
  width: 100%;
}


@media (max-width: 991px) and (min-width: 768px) {
  .col-md-8.padding {
    padding: 0
  }
  .col-md-4.padding {
    padding: 0;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .col-md-8.padding {
    padding: 0
  }
  .col-md-4.padding {
    padding: 0;
  }
}

