<div class="btn-section">
  <div class="row">
    <div class="col-12 col-md-6 col-sm-6 col-xs-6 text-left">
      <button class="previous-btn" [routerLink]="['/group/list']"><i class="fa fa-arrow-left"></i> Previous</button>
    </div>
  </div>
</div>
<div class="tab-div text-center">
  <h5 class="mb-4">How would you like to get contacts into your list?</h5>
  <div class="row">
    <div class="col-md-4" (click)="contactService.addMode='single'">
      <div [routerLink]="['single-contact']" class="add-contact-div border-right">
        <p>Add Contacts <span class="red-text">" single "</span></p>
        <img src="../../../../../assets/images/svg/create.svg" class="img-responsive">
        <p class="fo-3 black-text">If you want to add them manually.</p>
      </div>
    </div>
    <div class="col-md-4" (click)="contactService.addMode='list'">
      <div [routerLink]="['from-list']" class="add-contact-div border-right">
        <p>Add Contacts <span class="red-text">" List "</span></p>
        <img src="../../../../../assets/images/svg/create.svg" class="img-responsive">
        <p class="fo-3 black-text">If you want to add them from other list.</p>
      </div>
    </div>
    <div class="col-md-4" (click)="contactService.addMode='file'">
      <div [routerLink]="['from-file']" class="add-contact-div">
        <p>Import Contacts<span class="red-text">" .xlsx "</span></p>
        <img src="../../../../../assets/images/svg/create.svg" class="img-responsive">
        <p class="fo-3 black-text">Import your contacts from Excel.</p>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
