.add-contact-tab{
  background-color: #ffffff;
  padding: 15px 15px 0;
  border-bottom: 1px solid #e2e5ec;
  border-radius: .4rem .4rem 0 0;
}

.add-contact-div {
  padding: 15px;
  svg{
    margin: 0 auto;
    display: block;
    height: 85px;
  }
}
.chang-fill{
  fill:#1DC9B7;
}

