@import "../../../../../assets/style/components/variables";
.tab-div{
  display: block;
}

.tab-div {
  svg{
    margin: 0 auto;
    display: block;
    height: 85px;
    cursor: pointer;
  }
}
.chang-fill{
  fill: $green;
}

