<div>
    <div class="btn-section">
        <div class="row">
            <div class="col-12 col-md-6 col-sm-6 col-xs-6 text-left">
                <button class="previous-btn"><i class="fa fa-arrow-left"></i> Previous</button>
            </div>
        </div>
    </div>
    <div class="add-contact-tab text-center">
        <h5 class="mb-4">How would you like to get contacts into your list?</h5>
        <div class="row">
            <div class="col-md-4">
                <div [routerLink]="['single-contact']" class="add-contact-div border-right">
                    <p>Add Contacts <span class="type-add">" single "</span></p>
                    <img src="../../../../../assets/images/addcontact/singel.svg">
                    <p>If you want to add them manually.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div [routerLink]="['from-list']" class="add-contact-div border-right">
                    <p>Add Contacts <span class="type-add">" List "</span></p>
                    <img src="../../../../../assets/images/addcontact/list.svg">
                    <p>If you want to add them from other list.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div [routerLink]="['from-file']" class="add-contact-div">
                    <p>Import Contacts</p>
                    <img src="../../../../../assets/images/addcontact/excel.svg">
                    <p>Import your contacts from Excel.</p>
                </div>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>
