<div class="btn-section text-right">
    <button class="green-btn">
        <i class="fa fa-plus">
        </i> Create New Key
    </button>
</div>

<div class="div-section">
    <h5>Api Clients :</h5>
    <div class="details">
        <p>Learn more about the our API <i class="fa fa-arrow-circle-right"></i> <span>API Documentation</span></p>
    </div>
    <table class="index-table text-left">
        <thead>
        <tr>
            <th class="text-left"><i class="fa fa-sort"></i> Id</th>
            <th class="text-left"><i class="fa fa-sort"></i> Title</th>
            <th class="text-left"><i class="fa fa-sort"></i> Authentication key</th>
            <th></th>
            <th class="text-center"><i class="fa fa-sort"></i> Status</th>
            <th class="text-left"><i class="fa fa-sort"></i> DateTime</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="text-left">
                <div class="table-head">
                    <span>#1</span>
                </div>
            </td>
            <td class="text-left">
                <div class="table-head">
                    <span>Sehat Api</span>
                </div>
            </td>
            <td class="text-left">
                <div class="table-head">
                    <span>8A4yM1SBYRKCwi9oHux7jt49esVHE6Qa</span>
                </div>
            </td>
            <td class="text-left">
                <div class="table-head">
                    <button class="light-yellow-btn"><i class="fa fa-eye-slash"></i> Hide</button>
                    <button class="light-green-btn"><i class="fa fa-copy"></i> Copy</button>
                </div>
            </td>
            <td class="text-center">
                <div class="table-head">
                    Disable
                </div>
            </td>
            <td class="text-left">
                <div class="table-head">
                    <span>11:08, 20-04-2019</span>
                </div>
            </td>
            <td></td>
        </tr>
        <tr>
            <td class="text-left">
                <div class="table-head">
                    <span>#1</span>
                </div>
            </td>
            <td class="text-left">
                <div class="table-head">
                    <span>Sehat Api</span>
                </div>
            </td>
            <td class="text-left">
                <div class="table-head">
                    <span>8A*************************6Qa</span>
                </div>
            </td>
            <td class="text-left">
                <div class="table-head">
                    <button class="light-yellow-btn"><i class="fa fa-eye"></i> show</button>
                    <button class="light-green-btn"><i class="fa fa-copy"></i> Copy</button>
                </div>
            </td>
            <td class="text-center">
                <div class="table-head">
                    Enable
                </div>
            </td>
            <td class="text-left">
                <div class="table-head">
                    <span>11:08, 20-04-2019</span>
                </div>
            </td>
            <td>
                <div class="table-head">
                    <span [routerLink]="['/developer']"><i class="fa fa-eye light-green-btn"></i></span>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>