<div class="btn-section text-right">
  <div class="col-md-12 no-pad text-right">
    <button class="green-btn"> <i class="fa fa-plus"></i> Send Event SMS </button>
    <button class="green-btn" (click)="mode='add'" style="margin-left: 10px"> <i class="fa fa-plus"></i> New Fields </button>
  </div>
</div>
<div class="main-container">
  <div class="col-md-12 div-section">
    <div class="col-md-12 user-event">
      <h4><i class="fa fa-question-circle"></i> Event Field</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore. </p>
    </div>

    <div class="col-md-12 no-pad operation">
      <div class="col-md-6 operation-section">
        <button class="light-blue-btn">
          <i class="fa fa-filter"></i> Filter
        </button>
      </div>
      <div class="col-md-6 operation-section">
        <form  class="search-wrapper search">
          <input name="filter" (input)="realTimeFilter()" [(ngModel)]="filterExpression" type="text">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>
    </div>

    <div class="col-md-12 table-div">
      <table class="index-table text-left">
        <thead>
          <tr>
            <th class="text-left">Id</th>
            <th class="text-left"><i class="fa fa-sort"></i> Title</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ue of filteredUserEvents,index as i">
            <td class="text-left">{{i + 1}}</td>
            <td class="text-left">{{ue.name}}</td>
            <td class="td-single text-left actions-container">
              <div class="actions">
                <a (click)="removeUserEvent(ue)"><i class="fa fa-trash"></i></a>
                <a (click)="setModifyMode(ue)"> <i class="fa fa-pencil"></i></a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>



<div *ngIf="mode=='add'"  class="modal fade in modal-back" role="dialog" tabindex="-1" style="display: block;" aria-modal="true">
  <div role="document" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button (click)="mode='default'" aria-label="Close" class="close pull-right" type="button">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <div>
          <input [(ngModel)]="name" class="ws-login-input" type="text" placeholder="event name">
          <br>
          <button class="ws-btn modal-btn" (click)="addUserEvent()">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="mode=='edit'"  class="modal fade in modal-back" role="dialog" tabindex="-1" style="display: block;" aria-modal="true">
  <div role="document" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button (click)="mode='default'" aria-label="Close" class="close pull-right" type="button">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <div>
          <input [(ngModel)]="name" class="ws-login-input" type="text" placeholder="event name">
          <br>

          <button class="ws-btn modal-btn" (click)="modifyUserEvent()">Modify</button>
        </div>
      </div>
    </div>
  </div>
</div>



