<div class="dialog">
  <div class="row">
    <div class="col-12 form-group">
      <h5>Create Key</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-12 form-group">
      <input class="form-control" [(ngModel)]="title">
    </div>
  </div>


  <div class="row">
    <div class="col-12 mt-3">
      <div class="text-center" dir="ltr">
        <button class="btn btn-gradient ml-1 mt-1" (click)="onSubmit()">
          submit
        </button>
        <button class="btn btn-secondary ml-1 mt-1" (click)="closeDialog()">
          cancel
        </button>
      </div>
    </div>
  </div>
</div>
