<div class="dialog" (keydown)="keySendVerificationCode($event)">
    <div class="col-12 modal-header p-2 text-center">
        <img src="../../../../../../assets/images/svg/create.svg" style="width: 70px;">
        <h5 class="pl-3 green-text">Create Key</h5>
    </div>
    <div class="col-12 form-group">
        <p class="fo-3 black-text pb-2 text-center">please choose api key name</p>
        <input class="form-control" [(ngModel)]="title" placeholder="enter api key name" maxlength="16">
    </div>
    <div class="col-12 pb-3">
        <div class="text-center" dir="ltr">
            <button type="submit" class="green-btn mr-2" (click)="onSubmit()">
                submit
            </button>
            <button class="red-btn" (click)="closeDialog()">
                cancel
            </button>
        </div>
    </div>
</div>
