.billing-log h4{
    color: #949494;
    font-weight: 600;
}

.simple-btn{
    background-color: #08a5a3;
    border: 1px solid #08a5a3;
    color: #ffffff;
    font-size: 12px;
    border-radius: 5px;
    font-weight: 400;
}
.schedule-btn{
    background-color: #4680fe;
    border: 1px solid #4680fe;
    color: #ffffff;
    font-size: 12px;
    border-radius: 5px;
    font-weight: 400;
}