.ticket-submit {
  display: block;
  width: 100%;
  padding: 8px 12px;
  font-size: 16px;
  background-color: #08a5a3;
  border: 1px solid #08a5a3;
  color: #ffffff;
  border-radius: 4px;
  margin-top: 10px;
  font-weight: 400;
}

.submit-btn button {
  width: 100%;
}

