<div class="div-section">
  <div>
    <label>Define title name for your Ticket Please :</label>
    <input [(ngModel)]="title"
           type="text"
           placeholder="title"
           class="form-control">
    <div class="error-place">
      <div class="text-left">
        <p class="errorMessage" *ngIf="titleRequired && title.length===0" [@errorAnimation]>
          <i class="far fa-exclamation-circle"></i> this filed is required!
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 col-xs-6 mb-4">
      <label>Select the relevant section</label>
      <select [(ngModel)]="departmentId" class="form-control">
        <option value="1">Support</option>
        <option value="2">Developer</option>
        <option value="3">Sale</option>
      </select>
    </div>
    <div class="col-12 col-md-6 col-xs-6 mb-4">
      <label>The priority of your question</label>
      <select [(ngModel)]="priorityId" class="form-control">
        <option value="1">Low</option>
        <option value="2">Medium</option>
        <option value="3">High</option>
      </select>
    </div>
  </div>
  <angular-editor [(ngModel)]="message"></angular-editor>
  <div class="error-place">
    <div class="text-left">
      <p class="errorMessage" *ngIf="messageRequired && message.length===0" [@errorAnimation]>
        <i class="far fa-exclamation-circle"></i> this filed is required!
      </p>
    </div>
  </div>
  <div>
    <button (click)="addNewTicket()" class="ticket-submit">Submit</button>
  </div>
</div>


