@charset "UTF-8";
* {
    outline: none !important;
}
html {
    background: linear-gradient(rgba(244, 244, 244, 0.7), rgba(244, 244, 244, 0.7)), url(assets/images/pattern.jpg) !important;
    position: relative;
    min-height: 100%;
    background: #ffffff;
}
body {
    background: linear-gradient(rgba(244, 244, 244, 0.7), rgba(244, 244, 244, 0.7)), url(assets/images/pattern.jpg) !important;
    margin: 0;
    overflow-x: hidden;
    color: #686868;
    font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #2b2b2b;
    margin: 10px 0;
    font-weight: 300;
}
h1 {
    line-height: 48px;
    font-size: 36px;
}
h2 {
    line-height: 36px;
    font-size: 24px;
}
h3 {
    line-height: 30px;
    font-size: 21px;
}
h4 {
    line-height: 22px;
    font-size: 18px;
}
h5 {
    font-size: 18px;
    font-size: 16px;
}
h5 {
    font-size: 16px;
    font-size: 14px;
}
.dn {
    display: none;
}
.db {
    display: block;
}
.light_op_text {
    color: rgba(255, 255, 255, 0.5);
}
blockquote {
    border-left: 5px solid #fb9678 !important;
    border: 1px solid rgba(120, 130, 140, 0.13);
}
p {
    line-height: 1.6;
}
b {
    font-weight: 600;
}
a:hover {
    outline: 0;
    text-decoration: none;
}
a:active {
    outline: 0;
    text-decoration: none;
}
a:focus {
    outline: 0;
    text-decoration: none;
}
.clear {
    clear: both;
}
#wrapper {
    width: 100%;
    overflow: hidden;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
.no-pad{
    padding: 0 !important;
}
