@charset "UTF-8";
@font-face {
  font-family: 'OpenSans-Regular';
  src: url('assets/fonts/OpenSans-Regular.eot?#') format('eot'),
  url('assets/fonts/OpenSans-Regular.woff') format('woff'),
  url('assets/fonts/OpenSans-Regular.ttf') format('truetype');
}

@import "assets/style/styles";

//default
* {
  outline: none !important;
  font-family: 'OpenSans-Regular';
}

.fa, .fab, .fal, .far, .fas {
  font-family: FontAwesome;
}

:focus, :active, :enabled {
  outline: none !important;
}

html {
  position: relative;
  min-height: 100%;
  font-family: 'OpenSans-Regular';
}

body {
  background-color: #ededf3;
  margin: 0;
  overflow-x: hidden;
  font-family: 'OpenSans-Regular';
  font-weight: 300;
  //height: 81vh;
}

h1, h2, h3, h4, h5, h6 {
  color: #6c7293;
  margin: 10px 0;
  font-family: 'OpenSans-Regular';
  font-weight: 600;
  letter-spacing: 1px;
}

ul {
  padding-left: 0;
}

p {
  margin: 0 !important;
  font-family: 'OpenSans-Regular';
}

b {
  font-weight: 600;
}

a:hover {
  outline: 0;
  text-decoration: none;
}

a {
  font-family: 'OpenSans-Regular';
}

a:active {
  outline: 0;
  text-decoration: none;
}

a:focus {
  outline: 0;
  text-decoration: none;
}

.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: none !important;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  overflow: hidden;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

::placeholder {
  color: #a7abc3;
  font-size: 14px !important;
}

/*-----------------------------Div-----------------------------*/
//.no-pad {
//  padding: 0 !important;
//}

.img-circle {
  border-radius: 50%;
}

.description {
  font-size: 15px;
  color: #495057;
}

/*---------------------------Main Div--------------------------*/
.main-container {
  margin: 0 0 40px 235px ;
  padding: 0;
  -ms-overflow-x: hidden;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  overflow: hidden;
}

.btn-section {
  padding: 0 0 15px;
  -ms-overflow-x: hidden;
  overflow-x: hidden;
  overflow-y: scroll;
  overflow: hidden;
}

.div-section {
  background: $white;
  padding: 1rem;
  border-radius: .4rem !important;
  box-shadow: 1px 1px 3px 1px rgba(1, 1, 1, 0.11);
}

.tab-section {
  background: $white;
  padding: 1rem;
  border-radius: 0 0 .4rem .4rem;
  box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
}

/*login*/

.img-logo {
  img {
    width: 200px;
  }
}

.ws-login-input {
  display: block;
  margin: 0 auto 0;
  width: 100%;
  background: rgba(235, 237, 242, .4);
  color: #778796;
  height: 42px;
  padding: 0 10px;
  font-size: 14px;
  font-weight: bold;
  border-radius: .5rem;
  border: 1px solid #ebedf2;
  transition: all .5s ease;
}

.sign-fill {
  color: $dark-purple;
  cursor: pointer;
  font-weight: 600;
}

.sign-fill:hover {
  color: $blue;
}

.copyright {
  color: $gray;
  font-size: 13px;
}

.wrong {
  text-align: left;
  padding-bottom: 15px;
  cursor: pointer;
}

.wrong span:first-child {
  font-weight: 600;
}

.wrong span:nth-child(2) {
  color: $red;
  font-size: 12px;
}

.name-company {
  font-weight: 600;
  color: $dark-purple;
}

.footer-weib {
  padding-top: 10px;
}

input.verification-code-input {
  width: 4rem;
  margin-right: 8px;
  height: 35px;
  text-align: center;
  background: rgba(235, 237, 242, .4);
  color: #778796;
  font-size: 14px;
  font-weight: bold;
  border-radius: 3px;
  border: 1px solid #ebedf2;
}

.forgot-pass {
  cursor: pointer;
  text-align: right;
  font-size: 13px;
  float: right;
}

.forgot-pass:hover {
  color: $blue;
}

.resend i {
  animation: turn 1.5s ease-in-out infinite;
  color: $red;
}

.resend {
  text-align: center;
  cursor: pointer;
  color: $red;
  padding-top: 5px;
}

.footer-weib {
  padding-top: 10px;
}

input.verification-code-input {
  /*width: 16%;*/
  margin-right: 10px;
  height: 35px;
  text-align: center;
  background: rgba(235, 237, 242, .4);
  color: #778796;
  font-size: 14px;
  font-weight: bold;
  border-radius: 3px;
  border: 1px solid $light-gray;
}

.resend {
  text-align: center;
  cursor: pointer;
  color: $red;
  padding-top: 5px;
}

.ws-login-input:focus, input.verification-code-input:focus {
  border: 1px solid $focus-blue;
}

.error {
  color: $red;
  border: 1px solid $focus-blue;
}

/*----------------------------input--------------------------------*/
input, select, textarea {
  padding: 0.65rem 1rem;
  border-radius: 4px;
  border: 1px solid $light-gray;
  font-size: 14px;
  color: $light-black;
}

.form-control:focus {
  box-shadow: none;
  border: 1px solid $focus-blue;
  transition: .3s;
}

/*----------------------------------Responsive------------------------------------*/
.select .mat-form-field {
  width: 100%;
}

.select .mat-form-field-underline {
  display: none;
}

.select .mat-form-field-infix {
  width: 100%;
  min-height: 40px;
  padding: 10px;
  position: relative;
  border: 1px solid $light-gray;
  border-radius: .25rem;
}

.select .mat-form-field-wrapper {
  padding-bottom: 0;
}

.select span {
  line-height: 20px;
}

.select label.mat-empty.mat-form-field-empty {
  padding-left: 8px;
}

.select label.mat-empty.mat-form-field-empty {
  top: 20px;
  display: block !important;
}

.mat-datepicker-toggle {
  padding: 7px;
  border: 1px solid $light-gray;
  border-radius: 3px;
}

.mat-form-field-label-wrapper label {
  display: none !important;
}

.mat-form-field-appearance-legacy .mat-form-field-suffix .mat-datepicker-toggle-default-icon {
  width: 1.5em !important;
}

.mat-form-field-label-wrapper .mat-form-field-label, .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  -webkit-transform: translateY(0) scale(0) perspective(0) translateZ(0);
  transform: translateY(0) scale(0) perspective(0) translateZ(0);
  -ms-transform: translateY(0) scale(0);
}

li {
  list-style-type: none;
}

/*search in material*/
.mat-form-field-wrapper {
  padding-bottom: 0;
}

.mat-form-field-infix {
  padding: 0;
  border-top: none;
}

.ngx-file-drop__drop-zone {
  border: 2px dotted $light-gray !important;
  border-radius: 5px !important;
}

.ngx-file-drop__content {
  color: #a7abc3 !important;
}

.flex-group {
  display: flex;
  align-items: center;
  justify-content: center;

  .btn-select {
    width: 70px;
    border-right: none;
    border-radius: 0.25rem 0 0 0.25rem;
  }
  .btn-select:focus {
    border-right: none;
    border-color: $focus-blue;
    box-shadow: none;
    outline: none;
  }
  input {
    border-radius: 0 0.25rem 0.25rem 0;
  }
}

.custom-dropdown {
  ul {
    padding-left: 0;
    max-height: 200px;
    overflow-y: scroll;
    min-width: 280px;
  }
  .dropdown-item {
    cursor: pointer;
  }
}

label {
  display: block;
  color: $dark-purple;
  font-weight: 600;
  font-size: 15px;
}

textarea {
  resize: none;
}

.form-control {
  //height: calc(1.5em + 1.3rem + 2px);
  font-size: 14px;
}

#filter {
  background-color: $white ;
  position: absolute;
  z-index: 2;
  box-shadow: 0 6px 10px 2px #00000038;
}

.export-filter {
  display: inline-flex;
}

.title-tab {
  cursor: pointer;
  margin: 0 5px;
  p {
    font-weight: 600;
    padding: 5px 15px;
    border-radius: 5px;
    color: $blue;
    text-align: center;
  }
  :first-child {
    margin: 0 5px 0 0;
  }
}

.title-tab p.active {
  color: $white !important;
  background-color: $blue;
}

.tab-div {
  background: $white;
  padding: 20px;
  border-radius: .4rem .4rem 0 0;
  display: flex;
  border-bottom: 1px solid $light-gray;
}

.border-text {
  border: 1px solid #e1e2e5;
  padding: .75rem 1rem;
  border-radius: .4rem;
}

.border-radius {
  border-radius: .4rem;
}

span.fa.fa-trash, span.fa.fa-plus {
  cursor: pointer;
  line-height: 2;
}

.svg-img{
  img{
    width: 70px;
  }
}

app-login, app-sign-up, app-forgot-password {
  width: 100%;
}