<div class="main-container">
    <div class="col-md-12 div-section fund-list">
        <div class="col-md-6 text-left no-pad">
            <h4 class="pricing">Basic Pricing Table</h4>
        </div>
        <div class="col-md-6 text-right no-pad">
            <select>
                <option>select</option>
                <option>select</option>
                <option>select</option>
                <option>select</option>
                <option>select</option>
            </select>
        </div>
        <div class="col-md-12 no-pad plan-list">
            <div class="col-md-4 form-group">
                <div class="plan-list-select">
                    <h1><span>$</span> 320</h1>
                    <p>your earn it: + 20 POINT</p>
                    <div class="purchase text-center">
                        <button mat-button class="purchase-btn" [routerLink]="['../fund']">Purchase</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 form-group">
                <div class="plan-list-select">
                    <h1><span>$</span> 320</h1>
                    <p>your earn it: + 20 POINT</p>
                    <div class="purchase text-center">
                        <button mat-button class="purchase-btn" [routerLink]="['../fund']">Purchase</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 form-group">
                <div class="plan-list-select">
                    <h1><span>$</span> 320</h1>
                    <p>your earn it: + 20 POINT</p>
                    <div class="purchase text-center">
                        <button mat-button class="purchase-btn" [routerLink]="['../fund']">Purchase</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 custom-credit">
            <div class="col-md-6 no-pad">
                <h4>CUSTOM CREDIT</h4>
                <p>Enter the amount of credit you'd like to add to your balance in the box below.</p>
                <p>You can send messages to any country with the credit you purchase.</p>
                <input type="text" placeholder="$ 1.0">
                <p><span class="tip">Tip:</span> you earn it 10 point every 100$.</p>
            </div>
            <div class="col-md-4 col-md-offset-2 no-pad">
                <div class="custom-credit-plan ml-4">
                    <h1><span>$</span> 0</h1>
                    <p>your earn it: ...</p>
                    <div class="purchase text-center">
                        <button mat-button class="purchase-credit-btn" [routerLink]="['../fund']">Purchase</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>