<div class="div-section fund-list">
    <div class="row">
        <div class="col-md-10 text-left form-group">
            <h5>Basic Pricing Table</h5>
            <p class="fo-4 black-text">sdfsdgsdgsdg</p>
        </div>
        <div class="col-md-2 text-right form-group">
            <select class="form-control">
                <option>select</option>
                <option>select</option>
                <option>select</option>
                <option>select</option>
                <option>select</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 form-group">
            <div class="plan-list-select">
                <h1><span>$</span> 320</h1>
                <p class="fo-4 pt-1 pb-1">your earn it: + 20 POINT</p>
                <div class="purchase text-center">
                    <button mat-button class="light-green-btn" [routerLink]="['../show']">Purchase</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 form-group">
            <div class="plan-list-select">
                <h1><span>$</span> 320</h1>
                <p class="fo-4 pt-1 pb-1">your earn it: + 20 POINT</p>
                <div class="purchase text-center">
                    <button mat-button class="light-green-btn" [routerLink]="['../show']">Purchase</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 form-group">
            <div class="plan-list-select">
                <h1><span>$</span> 320</h1>
                <p class="fo-4 pt-1 pb-1">your earn it: + 20 POINT</p>
                <div class="purchase text-center">
                    <button mat-button class="light-green-btn" [routerLink]="['../show']">Purchase</button>
                </div>
            </div>
        </div>
    </div>

    <div class="custom-credit">
        <div class="row">
            <div class="col-md-6">
                <h5>CUSTOM CREDIT</h5>
                <p class="black-text fo-4">Enter the amount of credit you'd like to add to your balance in the box
                    below.</p>
                <p class="black-text fo-4">You can send messages to any country with the credit you purchase.</p>
                <input type="text" placeholder="$ 1.0" class="form-control mt-2 mb-2">
                <p class="yellow-text"><span class="font-weight-bold">Tip:</span> you earn it 10 point every 100$.</p>
            </div>
            <div class="col-md-4 offset-md-2">
                <div class="custom-credit-plan">
                    <h1><span>$</span> 0</h1>
                    <p>your earn it: ...</p>
                    <div class="purchase text-center">
                        <button mat-button class="light-blue-btn" [routerLink]="['../show']">Purchase</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
