h4.pricing{
    padding-left: 15px;
}
.fund-list{
    padding: 15px;
}
.plan-list{
    margin-top: 10px;
    margin-bottom: 10px;
}
.plan-list-select{
    background-color: #edeef2;
    box-shadow: 1px 1px 6px 2px #aaaaaa6b;
    padding: 15px;
    border-radius: 5px;
}
.plan-list-select h1, .plan-list-select p, .custom-credit-plan h1, .custom-credit-plan p{
    color: #00631f;
}
.plan-list-select h1, .custom-credit-plan h1{
    position: relative;
    padding-left: 15px;
}
.plan-list-select h1 span, .custom-credit-plan h1 span{
    font-weight: 400;
    color: #b4eacc;
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 0;
}
.plan-list-select p{
    font-size: 15px;
    font-weight: 600;
    padding: 15px 0;
}
.purchase{
    margin-top: 40px;
}
.purchase-btn{
    border: 1px solid #08a5a3;
    color: #27afae;
    border-radius: 3px;
    background-color: #edeef2;
    padding: 0 35px;
}


.custom-credit{
    border-top: 1px solid #c2c2c2;
    padding: 35px 15px;
    margin-top: 25px;
}
.custom-credit p{
    font-weight: 600;
}
input{
    margin-top: 25px;
    margin-bottom: 30px;
    width: 35%;
}
.custom-credit p:nth-child(5){
    color: #08a5a3;
    font-weight: 500;
}
.tip{
    font-weight: 600;
}
.custom-credit-plan{
    background-color: #e5f0f5;
    box-shadow: 1px 1px 6px 2px #aaaaaa6b;
    padding: 15px;
    border-radius: 5px;
}
.ml-4{
    margin-left: 20px;
}
.purchase-credit-btn{
    border: 1px solid #08a5a3;
    color: #27afae;
    border-radius: 3px;
    background-color:  #e5f0f5;
    padding: 0 35px;
}