<div class="div-section">
  <div class="row">
    <div class="col-md-6 text-left mb-3">
      <h5>Notification</h5>
      <p class="fo-4 black-text">here you can find notification about your account.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 operation-section form-group">
      <app-filter [filterDataModel]="filterDataModel" (filterValue)="getFilterData($event)"></app-filter>
    </div>
    <div class="col-md-3 offset-md-3 operation-section form-group text-right">
      <app-search></app-search>
    </div>
  </div>
  <app-table
    (pagingModelChanged)="getAllUserNotifications()"
    [tableConfig]="tableConfig"
    [collection]="userNotifications"
  >
  </app-table>
</div>

<div *ngIf="showNotification" class="modal fade in modal-back" role="dialog" tabindex="-1" style="display: block;"
     aria-modal="true">
  <div role="document" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button (click)="showNotification=false" aria-label="Close" class="close pull-right" type="button">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <div>
          <p>{{selectedUserNotification.title}}</p>
          <br>
          <p>{{selectedUserNotification.message}}</p>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
