<div class="register-page">
  <div class="col-md-6 col-md-offset-3 register-page-div">
    <div class="white-box">
      <div class="user-bg"><img width="100%" alt="user" src="../../assets/images/user.jpg">
        <div class="overlay-box">
          <div class="user-content">
            <a><img src="../../assets/images/user.jpg" class="thumb-lg img-circle" alt="img"></a>
            <h4 class="text-white">{{firstName}}  {{lastName}}</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="profile-bg col-md-12">
      <div class="form-group col-md-6">
        <input [(ngModel)]="firstName" type="text" class="form-control" placeholder="First Name * ">
      </div>

      <div class="form-group col-md-6">
        <input [(ngModel)]="lastName" type="text" class="form-control" placeholder="Last Name *">
      </div>

      <div class="form-group col-md-6">
        <input [(ngModel)]="email" type="email" class="form-control" placeholder="Email">
      </div>

      <div class="form-group col-md-6">
        <input [(ngModel)]="userName" type="text" class="form-control" placeholder="Username *">
      </div>

      <div class="form-group col-md-6">
        <input [(ngModel)]="password" maxlength="12" type="text" class="form-control" placeholder="Password *">
      </div>

      <div class="form-group col-md-6">
        <input (focusout)="confirmPasswordOut()" [(ngModel)]="confirmPassword" maxlength="12" type="text" class="form-control" placeholder="Confirm Password *">
      </div>

      <button (click)="register()" class="btn btn-success full-width"><i class="fa fa-spinner fa-spin" style="display: none;"></i>
        Register
      </button>
  </div>
  </div>
</div>
