<div class="main-container">
  <!--<div class="col-md-12 btn-section text-right">-->
  <div class="col-md-12 btn-section">
    <button class="green-btn" [routerLink]="['/add-ticket']">
      <i class="fa fa-plus">
      </i> New Ticket
    </button>
  </div>
  <div class="col-md-12 filter-section">
    <div class="col-md-6 no-pad select text-left">
      <input type="checkbox"> SELECT ALL
    </div>
    <div class="col-md-6 operation no-pad text-right">
      <div class="search">
        <input type="text" class="form-control" placeholder="Search Group">
        <button class="btn btn-secondary search-icon" type="button">
          <i class="fa fa-search"></i>
        </button>
      </div>
      <button class="default-btn op-btn">
        <i class="fa fa-filter"></i> Filter
      </button>
      <button class="default-btn op-btn">
        <i class="fa fa-sort"></i> Sort
      </button>
    </div>
  </div>
  <div class="col-md-12 table-section no-pad text-left">
    <table class="index-table text-left">
      <thead>
      <tr>
        <th class="text-right"><i class="fa fa-sort"></i>Title</th>
        <th class="text-center"><i class="fa fa-sort"></i>Date</th>
        <th class="text-center"><i class="fa fa-sort"></i>Status</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let t of tickets">
        <td class="text-right">{{t.Title}}</td>
        <td class="text-right">{{t.Date}}</td>
        <td class="text-right">{{t.Status | statusTranslator}}</td>
        <td class="td-single text-right actions-container">
          <div class="actions">
            <a [routerLink]="['../ticket',t.Id]"><i class="fa fa-eye"></i></a>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="table-pagination text-right">
      <span><i class="fa fa-arrow-circle-left"></i></span>
      <span><i class="fa fa-arrow-circle-right"></i></span>
    </div>
  </div>
</div>

