.api-detail{
  padding: 0;
}
.additional-security {
  padding: 15px 0;
  h4 {
    font-weight: 600;
    line-height: 1;
    margin-bottom: 0;
  }
  p {
    font-size: 12px;
    padding-top: 5px;
  }
}
.green-btn, .red-btn {
  margin-left: 10px;
  font-size: 14px;
  padding: 8px 20px;
}

.light-green-btn {
  margin-left: 5px;
  padding: 8px 20px;
  font-size: 14px;
}

label {
  display: block;
  color: #6c7293;
  font-weight: 600;
  font-size: 12px;
}

input {
  padding: 9px;
  margin-bottom: 10px;
}

input.title-input {
  width: 25%;
}

input.Authentication-input {
  width: 50%;
}

::placeholder {
  color: #b5b5b5;
  font-size: 12px;
}

p.yellow-text {
  padding: 10px 0 12px;
  font-weight: 600;
}

mat-radio-button#mat-radio-3 {
  margin-left: 30px;
}
.white-list{
  padding: 20px 0;
  input{
    width: 100%;
  }
}
.blue-btn{
  width: 100%;
}
table.security-table{
  margin-bottom: 10px;
  i{
    color: #fd397a;
  }
}