.additional-security {
  h4 {
    font-weight: 600;
    line-height: 1;
    margin-bottom: 0;
  }
  p {
    font-size: 12px;
    padding-top: 5px;
  }
}

.green-btn, .red-btn {
  margin-left: 10px;
  font-size: 14px;
  padding: 8px 20px;
}

.light-green-btn {
  font-size: 14px;
  margin-top: 19px;
  padding: 10px;
}

label {
  display: block;
  color: #6c7293;
  font-weight: 600;
  font-size: 12px;
}

input {
  width: 100%;
}

.radio {
  label {
    display: inline;
  }
  input {
    width: unset
  }
}

p.yellow-text {
  padding: 10px 0 12px;
}

mat-radio-button#mat-radio-3 {
  margin-left: 30px;
}

.blue-btn {
  width: 100%;
}

table.security-table {
  margin-bottom: 10px;
  i {
    color: #fd397a;
  }
}
