<div class="row">
    <div class="col-12 col-md-6 text-left form-group">
        <button class="previous-btn" [routerLink]="['../../list']"><i class="fa fa-arrow-left"></i> Previous</button>
    </div>
    <div class="col-12 col-md-6 col-sm-6 col-xs-6 text-right">
        <button class="red-btn mat-button" (click)="removeApiKey()">Delete Api Key</button>
        <button (click)="submit()" type="submit" class="green-btn ml-2 mat-button">Save Change</button>
    </div>
</div>
<form [formGroup]="developerForm" #formDir="ngForm">
    <div class="div-section">
        <div class="row">
            <!--API Details-->
            <div class="col-12 api-details">
                <div class="row">
                    <div class="col-12 form-group">
                        <h5>API Details</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-3">
                        <label>Title : </label>
                        <input
                                type="text"
                                class="form-control"
                                formControlName="title"
                                placeholder="This is test & can edit">
                        <div class="error-place">
                            <div class="text-left"
                                 *ngIf="(((developerForm.controls['title'].dirty || developerForm.controls['title'].touched) || formDir.submitted))">
                                <p class="errorMessage" *ngIf="developerForm.hasError('required', 'title')"
                                   [@errorAnimation]>
                                    <i class="far fa-exclamation-circle"></i> this filed is required!
                                </p>
                                <p class="errorMessage"
                                   *ngIf="(developerForm.controls['title'].hasError('maxlength'))" [@errorAnimation]>
                                    <i class="far fa-exclamation-circle"></i> title max length is 16 char!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <label>Authentication key :</label>
                <div class="input-group mb-3 auth-div">
                    <input type="text"
                           class="form-control"
                           formControlName="key"
                           #key
                           placeholder="ThYDTcGQEu0PR8o2cbY2af5MXrwBmdIgyhYDTcGQEu0PR8o2cbY2af5MXrwBmdIgy">

                    <div class="input-group-prepend">
                        <button class="input-group-text light-green-btn ml-2" id="basic-addon1"
                              (click)="copyText(key.value)"><i
                                class="fa fa-copy"></i>
                            Copy</button>
                    </div>

                </div>
            </div>

            <div class="col-12 radio">
                <h6 class="yellow-text">You can change your api key status : </h6>
                <mat-radio-group aria-label="Select an option" formControlName="isActive">
                    <mat-radio-button [value]="true"></mat-radio-button> Enable
                    <mat-radio-button class="pl-1" [value]="false"></mat-radio-button> Disable
                </mat-radio-group>
            </div>

            <div class="col-12 additional-security">
                <hr class="mb-4">
                <h5>ADDITIONAL SECURITY</h5>
                <p class="fo-4 black-text pb-3">System will accepts requests only from allowed IPs, and all other requests
                    from any random IPs will be discarded.</p>
                <div class="input-group col-md-4 pl-0 pr-4">
                    <input type="text"
                           class="form-control whitelist"
                           name="ip"
                           #ip
                           (input)="changeIp()"
                           formControlName="ip"
                           placeholder="192.168.1.1">
                    <div class="input-group-prepend">
                        <button type="button"
                                [ngClass]="{ 'disable-btn': !developerForm['controls'].ip.valid || !ip.value}"
                                [disabled]="!developerForm['controls'].ip.valid || !ip.value" (click)="addIp(ip.value)"
                                class="blue-btn ml-2">
                            Whitelist
                        </button>
                    </div>
                </div>
                <div class="error-place">
                    <div class="text-left"
                         *ngIf="((developerForm.dirty || developerForm.touched))">
                        <p class="errorMessage"
                           *ngIf="(developerForm.controls['ip'].hasError('pattern')) && (developerForm.controls['ip'].touched)" [@errorAnimation]>
                            <i class="far fa-exclamation-circle"></i> ip is invalid!
                        </p>
                    </div>
                    <div class="text-left">
                        <p class="errorMessage" *ngIf="duplicateIp" [@errorAnimation]>
                            <i class="far fa-exclamation-circle"></i> this ip is Exist!
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4 form-group">
                        <table class="security-table mt-lg-2 mb-2">
                            <tr *ngFor="let validIp of validIps; let i=index">
                                <td class="font-weight-bold">#{{i+1}}</td>
                                <td class="font-weight-bold">{{validIp.ip}}</td>
                                <td class="font-weight-bold text-right"><i (click)="removeIp(validIp.id, i)"
                                                                           class="fa fa-trash red-text"></i></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>

